[2019-09-04 15:33] JClackett opened #4 "Typescript definitions!!"
Hey there

Amazing library, seriously nice 👏

Wondering if there are plans to write type definitions for it?

Thanks

[2019-09-04 15:34] JClackett commented on #4
My bad! there are 🤦

good stuff

[2019-09-04 15:34] #4 closed

[2019-09-04 19:06] stephan281094 opened #5 "Code editor leading to keyboard trap"
Hi there! Really impressive work! 🙌

One thing I noticed when navigating the [chakra-ui.com](chakra-ui.com) website using my keyboard is that once the code editor ("editable example") gets focus, it seems impossible to get out with the cursor. This is because the editor recognises the "tab" key as a way to change the indentation. It would be nice to escape this keyboard trap somehow.

A suggestion

[2019-09-04 20:08] nejos97 opened #6 "Create navbar"
Nice job and I'm ready to adopt this in my future project.
I tried to make a navigation bar but it was not easy at all. if you can make a component for that. or do a little tutorial on how we can do this.

[2019-09-04 21:50] jeanbauer opened #7 "Unit tests for components"
Hey there 👋, great work here!

Are you planning to add a test strategy to Chakra?

I'd be glad to open a PR to add React Testing Library to cover some components.

[2019-09-05 02:16] luisrudge opened #8 "Slider doesn't work on iOS"
I can't change the value when using iOS

[2019-09-05 03:33] aghassemi commented on #8
Same with Chrome on Android

[2019-09-05 03:36] aghassemi opened #9 "Back button should close the drawer"
Hitting native browser back does not close the drawer.

[2019-09-05 03:53] missmatsuko opened #10 "Homepage missing focus styles"
On [chakra-ui.com](https://chakra-ui.com/), the logo link in the header and the social media links in the footer don't have a prominent style when focused (e.g. an outline).

[2019-09-05 04:03] missmatsuko opened #11 "Accessibility of 'editable' component"
[Editable](https://chakra-ui.netlify.com/?path=/story/editable--default)

- Using with keyboard navigation, the text becomes editable when tabbing to it and saved when tabbing away from it. This is very different experience from a mouse user who would have to explicitly make the text editable and has a chance to cancel or save after changing the text.
- Using keyboard to navigate, it seems like fo

[2019-09-05 04:05] missmatsuko opened #12 "Form fields shouldn't have placeholders"
[form control](https://chakra-ui.netlify.com/?path=/story/formcontrol--default)
[input](https://chakra-ui.netlify.com/?path=/story/input--default)

There's a lot of reasons why we shouldn't use placeholder text in form fields:
https://www.smashingmagazine.com/2018/06/placeholder-attribute/

[2019-09-05 05:56] cyan33 commented on #8
Confirmed that this is can be reproduced on the chrome dev tool in mobile.

I can take a look if no one hasn't worked on it. :)

[2019-09-05 06:39] cyan33 opened #14 "docs:dev not hot-reloading"
Running `yarn run docs:dev` correctly set up my localhost but seems like it's not hot reloaded? (According to the CONTRIBUTING guide it should.)
[code]
It might be because of this and I feels like I've missed something that isn't mentioned in the docs.

![image](https://user-images.githubusercontent.com/13282699/64317633-2a535500-cf6d-11e9-9dfe-8414894c8b10.png)

Any pointer would be appreciated!

[2019-09-05 07:29] revskill10 opened #15 "node_modules/@chakra-ui/core/dist"' has no exported member 'AccordionIcon"
I followed the docs, and trying Accordion example. But i got the error

[code]

The code is
[code]
Am i missing anything here ?

Thanks you for great library.

[2019-09-05 08:03] jmaicaaan opened #16 "TypeScript support + Custom items on the Theme"
How can I extend the component to get the values from the Theme?

![image](https://user-images.githubusercontent.com/13105222/64323159-84e4c380-cff6-11e9-9e0e-52ddbc5888d1.png)

[2019-09-05 08:54] thevenine opened #17 "PseudoBox _hover prop"
I observed that the <code>color</code> style is only applied if a space comes before the value

![hover](https://user-images.githubusercontent.com/22549360/64326846-93b18300-cfc2-11e9-88af-d2d4ad27fb9d.gif)

[2019-09-05 09:59] segunadebayo commented on #17
Color `red` is an object in the default theme. So you should do `red.50`, `red.100`, `red.200`, ...all the way to `red.900` for it to work. Kindly refer to the "Theme" in the docs.

[2019-09-05 09:59] #17 closed

[2019-09-05 10:04] segunadebayo commented on #7
@jeanbauer Yes, please open a PR to add tests to Chakra components.

I don't fully understand the testing process just yet that's why I left it out. I'm watching Kent C Dodd's video to get me up to speed.

This is a welcome contribution.

[2019-09-05 12:14] segunadebayo commented on #16
Hi @jmaicaaan,

Can you put this on Codesandbox so I can take a look? It's most likely a type def issue.

[2019-09-05 12:29] segunadebayo commented on #16
I've found the resolved the issue. Thanks for spotting it.

I'll release a patch soon.

[2019-09-05 12:29] #16 closed

[2019-09-05 12:47] segunadebayo commented on #15
Thank you for this issue. I didn't include the type definition for AccordionIcon hence the reason for the error. It still works if you use it though: https://pomi8.csb.app/

I've added the type definition for AccordionIcon and will release a patch soon.

Thank you @revskill10

[2019-09-05 12:47] #15 closed

[2019-09-05 12:53] devanshj commented on #8
Can you folks test if the issue is fixed by PR #18 on [this storybook](http://chakra-ui-pr-18.surge.sh/?path=/story/slider--default) which contains the PR

[2019-09-05 12:55] luisrudge commented on #8
Fixed it for me

[2019-09-05 13:26] jkleiser opened #19 "Fast clicking NumberInput on Safari causes unwanted selection"
When I rapidly click the up/down controls of the NumberInput samples at https://chakra-ui.com/numberinput in macOS Safari, I get wide selections, i.e. light blue areas across the window. This fast clicking seems to be handled as double-clicks. I'm using macOS 10.14.6 and Safari 12.1.2.
I did not see the same effect in Chrome or Firefox.

[2019-09-05 13:33] devanshj commented on #9
I think this should be kept userland because this would require pushing a state to history which is not owned by chakra. I agree that if the user wants this feature anyway a `useHistory: true` prop will be nice to have.

Also if someone is using a router this is router specific. Here's an [example how to do it with `react-router`](https://codesandbox.io/s/react-router-location-state-rmmu4). It's j

[2019-09-05 13:36] Vynlar opened #20 "Style prop aliases (like `w` and `d`) don't work in Typescript"
`styled-system` props work correctly, but the custom aliases added by chakra do not have the correct types.

Example:
[code]
Results in a type error on rounded.

I've traced down what I believe to be the problem.
See `chakra-ui/src/Box/index.d.ts`:
[code]
The types are exporting the StyledSystem.BorderRadiusProps directly, but `BorderRadiusProps` is an interface with a single key `borderRadius`. I

[2019-09-05 13:38] Vynlar commented on #7
I have experience with `react-testing-library` and would be willing to work on component tests.

[2019-09-05 13:40] Vynlar commented on #6
Could you provide an example of the type of navbar you are trying to build?

[2019-09-05 13:47] segunadebayo commented on #20
Thanks for spotting that @Vynlar . This is good feedback.

I've resolved the types and will release a patch soon.

[2019-09-05 13:48] #20 closed

[2019-09-05 14:25] Vynlar commented on #20
I believe this issue extends beyond just the `BoxProps`. For example the `Stack` component's `spacing` property expects `MarginProps` which is an interface as well. Not sure what the solution is here.

[2019-09-05 14:50] segunadebayo commented on #8
Thanks for looking into this @devanshj

[2019-09-05 14:51] #8 closed

[2019-09-05 14:54] kara-franco opened #22 "Color contrast issue on main navigation text"
On [chakra-ui.com/getting-started](https://chakra-ui.com/getting-started), the Getting Started text does not have [proper color contrast ratio](https://contrast-ratio.com/#%23319795-on-white) for the font size (either the font needs to be increased to 14pt or the color changed).

The Components text also fails [proper color contrast for any font size](https://contrast-ratio.com/#%23A0AEC0-on-white

[2019-09-05 15:26] segunadebayo commented on #22
Thanks for catching this @kara-franco . I guess making the text bold is also an option, correct?

[2019-09-05 15:28] segunadebayo commented on #7
That's great @Vynlar . It'll be good to add component tests. I guess I'll leave this part to @Vynlar  and @jeanbauer.

Thanks for your contribution.

[2019-09-05 15:57] devanshj commented on #8
@segunadebayo You're welcome!

[2019-09-05 16:48] yasashiku commented on #7
I would like to contribute to the coverage as well, Is there any way to manage that?

[2019-09-05 18:30] diegohaz opened #23 "Popover accessibility"
Hi, amazing work you've done here! Thanks for sharing it with the community and thank you for building it with accessibility in mind! ❤️

While I was testing components, I noticed that `Popover` isn't accessible by default, specially because the content inside the popover isn't perceived by screen reader users when it opens. Even sighted users using only keyboard would have difficulty using it.

I

[2019-09-05 18:39] jimthedev commented on #23
I know they have different goals but if reakit and Chakra can combine forces on the accessibility front that'd be 💯

[2019-09-05 19:10] Vynlar commented on #7
I think the best first step would be for someone to setup `jest` and `react-testing-library` and get a proof of concept test setup. Then we can each claim some components to write tests for so we don't step on each other's toes. Who is willing to setup the testing environment?

[2019-09-05 19:18] segunadebayo commented on #23
@diegohaz Thank you for your feedback.

I'm aware of the accessibility issues of the Popover component, that's why I marked it as "In Progress".

I've checked through Reakit, and I must say that I'm inspired by the work you put into Reakit.

I'd appreciate your contribution to help fix this issue, I'll look into it soon as well.

[2019-09-05 19:19] segunadebayo commented on #23
@jimthedev , merging Chakra and Reakit sounds like a good idea 💯

[2019-09-05 19:20] segunadebayo commented on #22
I've resolved this and will update the docs.

[2019-09-05 19:20] #22 closed

[2019-09-05 19:22] segunadebayo commented on #19
I'll look into this @jkleiser . Your contribution is also welcome

[2019-09-05 19:24] segunadebayo commented on #12
Thank you for this feedback @missmatsuko . The `placeholder` prop is optional and you can use a visible label as well. The goal is Chakra is to be as flexible and extensible as possible to support most use cases.

Thanks again.

[2019-09-05 19:24] #12 closed

[2019-09-05 20:04] claeusdev commented on #10
Hey @missmatsuko this is something i also noticed, care to open a PR or i'd open one and you can verify if that's what you mean.

[2019-09-05 23:38] segunadebayo commented on #14
I'll look into this. Not sure what the issue is but you can try the following
- Install all dependencies from the root using `yarn bootstrap`
- cd into `packages/chakra-ui-docs` and install dependencies as well
- Then run `yarn docs:dev` from the root

[2019-09-05 23:40] segunadebayo commented on #11
Thanks for this detailed feedback and observation @missmatsuko. I've resolved this and will release a patch soon.

[2019-09-05 23:40] #11 closed

[2019-09-05 23:41] segunadebayo commented on #10
I've resolved this. Thanks lot guys.

I'll update the docs shortly.

[2019-09-05 23:41] #10 closed

[2019-09-05 23:46] segunadebayo commented on #9
I agree with @devanshj . This isn't controlled by Chakra, users (developers) will have to handle this behavior within their apps.

[2019-09-05 23:46] #9 closed

[2019-09-06 03:25] shivashp commented on #6
I am not sure your exact requirements / design. I created a standard Navbar ( pretty basic ) to give you example of how it works. Let me know if it helps

https://codesandbox.io/embed/peaceful-bird-kd74j

[2019-09-06 06:47] valstu opened #24 "NumberInput native spinners are visible [Firefox 69.0.0] [Firefox 67.0.2]"
Native input type=number spinners (up/down buttons) are visible and overlapping with chakra-ui implementation on `<NumberInput />` component.

![image](https://user-images.githubusercontent.com/647861/64406736-40573780-d08b-11e9-9212-c5333b61596f.png)

Tested with following browsers:
Firefox 67.0.2 (Mac)
Firefox 69.0.0 (Mac)

[2019-09-06 08:25] jmaicaaan commented on #16
I saw the fix regarding the `6xl`. Adding a static type def is fine for the base type def. But I am wondering if it's possible to get values from the Theme with types?

For example, I added a semantic font size name like "header".

[code]

What do you think?

[2019-09-06 08:25] jkleiser opened #25 "Mini controls on top of NumberInput controls in Firefox"
When I look at https://chakra-ui.com/numberinput in macOS Firefox, I see some extra, smaller, controls on top of NumberInput's own controls. I'm using macOS 10.14.6 and Firefox 69.0.
<img width="715" alt="NumberInput-Firefox69" src="https://user-images.githubusercontent.com/107986/64412852-9da1b780-d090-11e9-82b2-a3bb1d0f567f.png">

[2019-09-06 08:28] jkleiser commented on #25
This is the same problem as in issue #24

[2019-09-06 08:28] #25 closed

[2019-09-06 11:19] segunadebayo commented on #24
Thanks for this issue @valstu .

I guess we missed the CSS to hide the spinners on Firefox. We'll fix this and release a patch soon.

[2019-09-06 11:26] segunadebayo commented on #16
Yes, this should work as well @jmaicaaan .

In the type def, we made it flexible to support any custom value in the theme.

If it doesn't work, send me a codesandbox link so I can take a look.

[2019-09-06 11:33] segunadebayo commented on #24
I've resolved this and will release a patch soon

[2019-09-06 11:33] #24 closed

[2019-09-06 12:55] devanshj commented on #19
I was also able to reproduce this issue on chrome desktop, for me the PR fixes this. @jkleiser Can you test the PR [here](https://deploy-preview-26--chakra-ui.netlify.com/?path=/story/numberinput--default) if the issue is fixed on Safari.

[2019-09-06 13:06] jkleiser commented on #19
In the storybook the problem is gone, in my macOS Safari. ;-)

[2019-09-06 14:24] segunadebayo commented on #19
Thanks for looking into this @devanshj .

[2019-09-06 14:24] #19 closed

[2019-09-06 14:28] jmaicaaan commented on #16
@segunadebayo  - Here is the codesandbox https://codesandbox.io/embed/react-typescript-4w0sv

Not sure if my expectation is possible ATM. Let me know what you think again. Thanks!

[2019-09-06 17:07] checkmatez opened #28 "Permanent drawer (feature-request)"
Would be nice to have a drawer that is always on screen, without overlay on the rest of the window. Something like https://material-ui.com/components/drawers/#permanent-drawer

Common use case - application wide menu.
Thanks for amazing library!

[2019-09-06 20:35] Wolfr opened #29 "The number input displays the built-in stepper in Firefox"
The number input displays the built-in stepper in Firefox.

<img width="945" alt="Screenshot 2019-09-06 at 22 33 29" src="https://user-images.githubusercontent.com/12690/64458731-6665f180-d0f6-11e9-950f-bec85dd8ac97.png">

Can be fixed with `-moz-appearance: textfield;`.

[2019-09-06 20:39] segunadebayo commented on #29
Hi @Wolfr ,

This has been resolved. I'll release a patch shortly

[2019-09-06 20:41] segunadebayo commented on #28
Thanks for your suggestion @checkmatez ,

This is currently work in progress and will be released soon.

[2019-09-06 21:39] balazsorban44 commented on #7
@Vynlar I may have a look at it in today/tomorrow!

[2019-09-07 02:10] t0ngliu opened #31 "Menu popper gets cut off when component is far right"
I created a sandbox with the defect https://codesandbox.io/s/chakra-ui-sandbox-9e5v4
Note that the menu popper gets cut off when component is far right.

Loving the library! 😃

[2019-09-07 04:30] Vynlar commented on #7
Hey folks! I did some tinkering and I have a basic working test setup. I elected to use Typescript for the tests which allows us to test both the components and the type definitions at once.

Let me know what you guys think: https://github.com/Vynlar/chakra-ui/commit/cd01c8b57dc419ab0d6103ae4d30047656ec7d6c#diff-a45f25bc73885900146a02b97ab0c0a4

[2019-09-07 04:59] Vynlar commented on #31
Just spent some time playing around with this and have uncovered some helpful info. If you scroll the view while the menu is open `react-popper`, the internal library responsible for the menu's position, fixes the problem demonstrated. This means that if we can figure out a way to get `react-popper` to perform this correct positioning from the beginning the bug should be resolved.

See: https://co

[2019-09-07 08:18] balazsorban44 commented on #7
@Vynlar Don't think `afterEach(cleanup)` is needed anymore: https://github.com/testing-library/react-testing-library/pull/430

[2019-09-07 10:13] sinitsa opened #34 "CircularProgress"
Hello,

I tried using the CircularProgress component but got an error when importing from @chakra-ui/core. It only worked now with import like this:
import CircularProgress, {
  CircularProgressLabel
} from "@chakra-ui/core/dist/CircularProgress";

PS: Thanks for perfect ui lib ;)

[2019-09-07 10:52] segunadebayo commented on #34
Thanks for spotting this @sinitsa . It was missing in the type def export, I've added it now.

[2019-09-07 10:52] #34 closed

[2019-09-07 10:53] #29 closed

[2019-09-07 11:07] segunadebayo commented on #31
I agree @Vynlar. We'll need to find a way to get `react-popper` to handle this scenario.

I'll look into this as well and resolve it from storybook first, then I'll release a patch.

[2019-09-07 19:29] jeanverster commented on #7
First off, thanks @segunadebayo for this library, looks really great! Have been looking for a UI lib utilising `styled-system` for ages.

@Vynlar, nice work on getting some tests going! Just a couple things - I'm not sure a snapshot test that size is the best route to go, anything bigger than 50+ lines often gets overlooked and just updated when they don't match, which kinda defeats the purpose? W

[2019-09-07 19:36] Vynlar commented on #7
@jeanbauer I struggled with this problem initially. I see a few alternatives:
- Generate a test for each variant/color combo (feels wrong to me but I'd like opinions)
- Hard-code the test cases manually (could be more clear)

Anything else anyone can think of?

[2019-09-07 19:58] Vynlar opened #38 "Select component"
@segunadebayo @tioluwani94 Really great work on everything so far!

I notice in the roadmap that you are planning to build a custom select component in Chakra and I wanted to start a discussion about how that would look.

In my experience for real-world projects, select boxes often need features that are not provided by the native HTML select such as search, multi-select, and dynamic option loadin

[2019-09-07 20:27] segunadebayo commented on #38
Hi @Vynlar .

I'm currently trying to figure out the API for Chakra's Custom Select. I'd prefer we wrap an existing library and make the final API really simple and composable.

I also use `react-select` as well but I'm a bit reluctant to use it in Chakra due to its size. I'm currently testing `use-downshift`, a hook based library built for `downshift` and it's quite interesting and should give us

[2019-09-07 20:52] Vynlar commented on #38
@segunadebayo `use-downshift` looks like a much better solution for Chakra than `react-select` does. It should let us create a great API that is homogenous with the existing Chakra components while still providing the features needed.

Looking forward to the first draft you come up with. Let the community know if we can help with any of these things.

[2019-09-07 21:01] segunadebayo commented on #38
Thank you @Vynlar .

I do need help figuring out the `react-popper` issue #31  with the `<MenuButton/>`. I haven't looked at it yet and it'll be good to have someone look into it.

I'd be happy if you can jump on it.

[2019-09-07 22:57] kripod opened #40 "[RadioButtonGroup] Add TypeScript guide for child props"
Currently, there is no definitive guide about specifying prop types of a `RadioButtonGroup`'s children. I tried my best to come up with a solution browsing through [React+TypeScript Cheatsheets](https://github.com/typescript-cheatsheets/react-typescript-cheatsheet#forwardrefcreateref), but could only make up the code snippet below, which is full of boilerplate:

[code]

Please consider providing b

[2019-09-07 23:02] kripod opened #41 "[RadioButtonGroup] TypeScript cannot infer onChange types correctly"
When using the code below:

[code]

I get the following TypeScript error in strict mode:

`Parameter 'value' implicitly has an 'any' type. - ts(7006)`

[2019-09-07 23:17] segunadebayo commented on #41
Thanks for this feedback @kripod .

I guess we'll need to review and test the type defs more thoroughly, esp. for `RadioButtonGroup`

[2019-09-08 08:16] kripod opened #44 "[Button] Text alignment does not work"
When creating a button wider than its contents (e.g. with its uncodumented `isFullWidth` prop or `width="100%"`), the `textAlign="left"` does nothing. I tried playing around with left and right paddings, but with no luck.

#### Example

[code]

#### Current appearance

![image](https://user-images.githubusercontent.com/14854048/64485443-441cc280-d221-11e9-8161-57d88c73b018.png)

#### Expected appe

[2019-09-08 08:38] kripod opened #45 "[Button] Composability with Checkbox and Radio"
Searching for [alternatives to regular checkboxes and radio buttons](https://ux.stackexchange.com/questions/6586/alternatives-to-checkboxes-and-radio-buttons-in-web-based-surveys), I found out that composing a `Button` with a `Checkbox` or a `Radio` might be a good idea.

At first, I wanted to use the `as` prop for the job, but it turns out that *`Button` does not accept a `value` or `name` prop*

[2019-09-08 09:05] kripod opened #46 "[Checkbox] [Radio] Make labels colorable"
Currently, labels of `Checkbox` and `Radio` components cannot be colored. I tried applying a `color` prop on the parent element, but it had no effect:

[code]

The text remained black, as inherited from the root `html` element's styles (caused by `<CSSReset />`).

I would like to propose that the `color` attribute should not have special behavior on form components, see [Bootstrap Forms](https://g

[2019-09-08 09:23] manzoorwanijk opened #47 "Loading spinner does not work for Button and IconButton."
In certain cases, `<Spinner />` and `<Button />` or `<IconButton />` with `isLoading` are not visible.
[Here](https://codesandbox.io/s/chakra-ui-spinner-xr43u) is the sandbox.

The issue is the missing `borderStyle` prop in `<Spinner />` which should be `solid` by default. You can see the difference in the sandbox. For `<Spinner />` it's possible to pass the prop explicitly but not in case of `<Bu

[2019-09-08 09:37] kripod opened #49 "[ControlBox] Use PseudoBox for better composability"
Checkboxes and radio buttons have a lot of states heavily depending on CSS pseudo selectors. As suggested in #46, using `PseudoBox` to style form controls would open up new possibilities like using different icon colors for active and inactive states of a checkbox.

Also, the button-like [behavior](https://github.com/chakra-ui/chakra-ui/blob/master/packages/chakra-ui/src/Button/styles.js) describe

[2019-09-08 14:34] kripod opened #50 "[RadioGroup] Usage of numeric values is broken"
I tried using `number | undefined` type values with `RadioGroup`:

[code]

Unfortunately, as `value` attributes are stored as strings under the hood, the code above does not work: None of the radio buttons can be checked. However, if I explicitly convert `selectedChoiceID` to `string` with the `value={String(selectedChoiceID)}` syntax, the example above works flawlessly.

I would suggest explicitl

[2019-09-08 15:25] kripod opened #52 "[Checkbox] [Radio] Add 'isReadOnly' attribute"
While checkboxes and radio buttons may be disabled, they cannot be made read-only through Chakra UI. According to the HTML specification, every input type [has a `readonly` attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#Attributes_common_to_all_input_types).

I would like to propose adding an `isReadOnly` prop to checkable input fields, as it is suitable for making form

[2019-09-08 15:29] prvnbist opened #53 "The dark mode doesn't persist on page refresh."
The dark mode doesn't persist on page refresh.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/17105682/64490523-4ca1e700-d27b-11e9-923c-f5717805e71a.gif)

[2019-09-08 16:10] segunadebayo commented on #53
Hi @prvnbist ,

This is currently a bug I'm looking to fix that's why I forced it to behave this way. It's an issue with the internal library `use-dark-mode`.

Will look into it soon.

[2019-09-08 16:36] segunadebayo commented on #47
I see. Thank you for this @manzoorwanijk

Ideally, It works when you add the `<CSSReset/>` component to your `<ThemedApp/>` which adds a global style like

[code]

I now see that users might ignore the `<CSSReset/>` and it still needs to work. Thank you for the PR.

[2019-09-08 17:01] segunadebayo commented on #46
Hi @kripod,

Thanks for this observation. The children prop of `Radio` or `Checkbox` is optional.  If you need to gain control over the styling of the labels, ignore it and compose the component this way.

[code]

Note that applying the `color` prop for primitives other than `Radio` or `Checkbox` should be accessed with the dot notation. The `Box` you have should have a prop of `red.X`, where `X`

[2019-09-08 17:03] #47 closed

[2019-09-08 17:08] lee-reinhardt commented on #44
If you look at the button's css, it's `display: inline-flex`. If a container is flex'd, `text-align` is not respected -- you should use `justify-content` for child alignment.

This works as expected:
[code]

[2019-09-08 17:12] kripod commented on #44
@lee-reinhardt Thanks for your quick response! Could you please add a note about it inside the docs? I'd happily close the issue afterwards.

[2019-09-08 17:19] kripod commented on #46
I appreciate your detailed feedback. However, the outlined approach comes with a lot of boilerplate and might be hard to remember or reason about, especially for beginners. I would still suggest using a separate `iconColor` prop, which could be modified on its own, especially with #49 taken into consideration:

[code]

[2019-09-08 19:06] segunadebayo commented on #46
I completely understand your perspective @kripod . Thanks for the feedback, I'll try it out.

[2019-09-08 23:10] segunadebayo commented on #45
This is a good idea @kripod and one that Chakra UI can solve.

At the moment, you can can't compose the Button and Checkbox. You might need to create this component yourself. The basic structure for a walkaround would be:

[code]

Then you can style the states of the `PseudoBox` using `_disabled`, `_checked`, etc.

I'll look into a composable and accessible way to achieve these components. I guess

[2019-09-08 23:13] kripod opened #54 "Consider joining WICG's Open UI initiative"
[WICG](https://wicg.io/) has started a project called [Open UI](https://open-ui.org/), which aims to standardize UI components for the web. I think that Chakra UI fits the purpose well and should consider [contributing](https://open-ui.org/contribute/design-system) design system details towards the initiative.

[2019-09-08 23:23] segunadebayo commented on #54
Looked at Open UI and it looks interesting. I'll see how Chakra can contribute to it, we definitely need a standardized resource for common UI components.

Thanks @kripod

[2019-09-08 23:24] segunadebayo commented on #44
I'll add this to the docs. Thanks for the quick response @lee-reinhardt

[2019-09-09 08:38] tioluwani94 commented on #50
Hi @kripod , thanks for this feedback. We'll look into this.

[2019-09-09 15:58] vueu opened #55 "[ColorModeProvider] Types for the useColorMode are incorrectly named"
So in the typings for the hook: `useColorMode`, it returns an object with two values: of course, the `mode` and the `toggle`.

However, in the actual code, it is expecting `colorMode` and `toggleColorMode`, so in the type defs the names are off. Easy fix, but TypeScript will give an error without this change so it's currently unusable.

I would be happy to put in a PR :)

[2019-09-09 16:21] #55 closed

[2019-09-09 16:21] segunadebayo commented on #55
Thank you @vueu

[2019-09-09 17:06] segunadebayo commented on #23
@diegohaz , I looked through the code of Reakit Popover and it really helped me in rewriting the Popover to make it more accessible and composable.

Thank you 💖. I'll release a patch soon.

[2019-09-09 17:39] segunadebayo commented on #31
@t0ngliu. I've resolved this issue and will release a patch soon.

@Vynlar I had to replace the `react-popper` library with `popper.js` to gain more control over the behavior of the popper.

[2019-09-09 19:24] simoncollins opened #57 "Browser support"
Hi, thanks for a great project. I couldn't see a mention of the browser versions you're targetting. Obviously you need flexbox support but specifically I'm interested in whether you are looking to support IE11.

[2019-09-10 05:39] fernandobandeira commented on #38
I think you can't go wrong with `use-downshift` it's smaller, simpler and the flexibility it provides is the most important thing for projects like this.

However, I'd suggest that if we're going to follow the 1st route from now on, then we should be more clear about what's contained inside "fancy", putting down the minimum api requirements would help before making decisions and suggestions, you'v

[2019-09-10 13:04] zandoh opened #59 "[Theming] Styled Components Theme"
When using chakra-ui and styled-components the theme prop is not passed into the styled-component

Reproduction CodeSandbox below
https://codesandbox.io/s/modest-bogdan-fnc0q

[2019-09-10 13:34] segunadebayo commented on #59
Hi @zandoh ,

Chakra was built using `emotion` not `styled-components`. The `ThemeProvider` comes from `emotion-theming` that's why it's not working.

We'll think of a way to support `styled-components` soon. Making the switch from styled-components to emotion is quite seamless, so you can consider that.

If you switch the `styled` to come from `@emotion/styled`, it should work.

[2019-09-10 15:40] segunadebayo commented on #59
I going to close this issue.

As I explained earlier, if you switch `import styled from styled-components` to `import styled from @emotion/styled`, it resolves this issue.

[2019-09-10 15:40] #59 closed

[2019-09-10 15:45] segunadebayo commented on #38
Hi @fernandobandeira ,

Thank you for using Chakra UI @cheerfulgiving.

I'll create an issue that describes the minimum API requirements for the `Select` & `ComboBox` components. Then I'll get feedback from the community before building it.

Thanks for that suggestion.

[2019-09-10 16:58] IsaacGHoward opened #61 "UI elements look completely broken / don't work"
Hey so I followed the getting started guide but when I try to use some components they just don't work. This might just be me being newish to reactjs, but for example when I create a Button it is really thin and the text flows out. When I try to do an input I get an error saying "blue is not defined" or something like that. I can provide more info if needed but does anyone know what I might be doi

[2019-09-10 17:09] lee-reinhardt commented on #61
Sounds like you may have missed wrapping your app in a `<ThemeProvider />`.

Here is a bare-minimum CodeSandbox example with both a `Button` and `Input` example.
https://codesandbox.io/embed/boring-grass-ljyvw

[2019-09-10 17:22] IsaacGHoward commented on #61
Oh man, I thought that part was optional as it was saying there was already a default theme. That's totally on me for not reading closer, my bad and thanks.

[2019-09-10 18:53] skoshy opened #62 "No <Text> Component in sidebar?"
Any reason there's no `Text` component in the sidebar? I see that https://chakra-ui.com/text is a valid page, so not sure why it's missing.

[2019-09-10 20:25] segunadebayo commented on #62
Hi @skoshy ,

Thanks for noticing this. I'll put some more content in the docs and add it to the sidebar soon.

[2019-09-10 20:50] IsaacGHoward opened #63 "How to use toast?"
I have been enjoying use this library so far but I am unfamiliar with how to use toast. I want to be able to create a toast that has a different color and description based on the result of a function, but everytime I try I get a notification telling me I'm breaking the rules of hooks. How should I set this up? I'm sorry for the second noob question today.

[2019-09-10 21:40] glockjt opened #64 "Error: Cannot find module '@chakra-ui/core'"
I'm getting this error after adding it to my `next.js` project.  I have a component in typescript `Layout.tsx` in which I import as follows:

[code]

resulting in the following error

[code]

I also installed running the following command:

[code]

[2019-09-10 22:02] segunadebayo commented on #64
Hi @glockjt ,

Kindly put this on Codesandbox and send me a link so I can take a look.

[2019-09-10 22:12] lee-reinhardt commented on #63
Can you provide a minimal code example of how you're trying to use it? You can fork the CodeSandbox I linked in the previous issue, or just paste the code here.

[2019-09-10 22:27] glockjt commented on #64
@segunadebayo Thanks for the fast response.  It seems like codesandbox doesn't work with `next.js` typescript.

[2019-09-10 22:39] segunadebayo commented on #64
Ah. I'm not sure how I can help in this case.

I haven't tried Chakra UI on a Next Typescript project but it works fine with create-react-app Typescript. I really hope you can get the code on a link so I can take a look.

I'll create a Next TS project soon and try to resolve this issue.

[2019-09-10 23:47] mattrothenberg commented on #63
@lee-reinhardt I can't speak for @IsaacGHoward, but I can reproduce a similar issue. Seems like the `useToast` hook expects args?

[code]

[2019-09-10 23:50] segunadebayo commented on #57
Hi @simoncollins ,

It's not set in stone yet but here's an initial draft of browsers we're targetting with Chakra UI. Yes, we're looking to support IE 11.

[code]

[2019-09-11 00:03] luiskhernandez opened #65 "Drawer example warnings"
When testing the drawer example, after copy and paste from the docs in a new create-react-app app

https://codesandbox.io/s/morning-fire-yjoi9

I see this kind of unrelated warnings.

[code]

[2019-09-11 01:31] lee-reinhardt commented on #63
@mattrothenberg Yeah, looks like `packages/chakra-ui/src/Toast/index.d.ts` has the wrong default export.

@IsaacGHoward  [Here is a CodeSandbox with a working example](https://codesandbox.io/s/priceless-goldstine-0pklw)

Two things to note about this though:

- I think the way CodeSandbox does HMR causes it to break if you make any edits, so you have to manually refresh the little browser window t

[2019-09-11 05:46] fernandobandeira opened #67 "[Drawer] Use a fixed opacity for the drawer body"
![Screen Shot 2019-09-11 at 02 41 50](https://user-images.githubusercontent.com/8373980/64671179-f7fa9980-d43d-11e9-9a4c-719651a88954.png)

As you can see, since the opacity animation is also being applied to the drawer, it ends up making the text overlap with the topnav while the drawer is being opened, I think we could make it so the overlay opacity doesn't apply to the drawer body, this way it'

[2019-09-11 08:22] kripod opened #68 "[Progress] [CircularProgress] Add CSS-based value animation"
`Progress` and `CircularProgesss` components are ideal for denoting the passage of time. However, they do not support time-based value animations yet. While it is possible to combine a state variable ([`useState`](https://reactjs.org/docs/hooks-state.html)) with a timer ([`setTimeout`](https://developer.mozilla.org/docs/Web/API/WindowOrWorkerGlobalScope/setTimeout) or [`requestAnimationFrame`](htt

[2019-09-11 08:41] kripod opened #69 "[CircularProgress] Force using numbers of the same size"
By specifying the [`font-variant-numeric: tabular-nums`](https://developer.mozilla.org/docs/Web/CSS/font-variant-numeric) CSS rule, [janky changes can be evaded](https://twitter.com/kentcdodds/status/1166698278714396672).

#### Reproduction

Change '41%' to '42%' in the code below:

[code]

[2019-09-11 09:52] kripod opened #71 "[Stack] Nullish and false elements cause an exception when multiple children are present"
When trying to conditionally render an element inside a `Stack`, I came across an exception:

[code]

If no `timeLimit` is given, then nothing should be rendered as the second child of the `Stack`, but the following error gets thrown instead:

[code]

A temporary workaround is using `timeLimit ? ... : <div />`, but it results in a useless empty element.

[2019-09-11 10:25] manzoorwanijk commented on #38
@segunadebayo Please reference this issue when you do so, just to be able to follow the updates. I am eagerly waiting for Multi Select, the only feature that's stopping me from using Chakra in my two current projects.

Thank you for the library 👏

[2019-09-11 11:50] #69 closed

[2019-09-11 12:12] beautifwhale commented on #63
I struggled a bit using toast with React hooks, but got it working like this. Inside your function component call `toast` in a `useEffect` hook.

[code]

The `useEffect` hook will only run when the state `toastMessage` is updated. You will need to then add a message to the `toastMessage` state for it to fire.

[code]
I was using event handlers to fire a toast which didn't work as expected for me,

[2019-09-11 12:15] mattrothenberg commented on #63
@beautifwhale I'm struggling to see how that code snippet would compile in a Typescript environment, given you aren't satisfying the definition of the exported `useToast` function.

This also seems like an oddly oblique way of triggering a toast... The beauty of the `useToast` hook is that you can create a single instance and call it _imperatively_ in a function – no need for the declarative dance

[2019-09-11 12:27] segunadebayo commented on #71
Thanks for catching this. I've resolved it by checking if the child is a valid element using `React.isValidElement` so if it see null or false as a child, it'll skip it.

I'll release a patch soon.

[2019-09-11 12:41] #63 closed

[2019-09-11 12:42] #54 closed

[2019-09-11 12:56] segunadebayo commented on #67
@fernandobandeira , I agree. I'll work on this.

[2019-09-11 15:51] segunadebayo commented on #65
Hi @luiskhernandez ,

I'm working to get rid of these warnings. I didn't include "@reach/dialog" css file in the library but I'll find a way around it and publish a patch that fixes it.

Thanks for spotting this.

[2019-09-11 16:03] lee-reinhardt commented on #65
Issue discussing the problem and workarounds:
https://github.com/reach/reach-ui/issues/58

PR to update docs with the easiest workaround:
https://github.com/reach/reach-ui/pull/245

(looks like this hasn't made it to the actual docs site yet)

[2019-09-11 18:20] beautifwhale commented on #63
The example is not for Typescript. 👍

Yes it is, but was needed for the problem I was having. 👍

[2019-09-11 18:49] simoncollins commented on #57
Fantastic, thanks @segunadebayo. I'm looking forward to trying out Chakra in a project

[2019-09-11 20:18] vueu commented on #64
I was getting this error too with the exact same environment (Next.js with TypeScript).

What fixed it for me was removing and reinstalling the package.

[2019-09-11 20:47] IsaacGHoward commented on #63
Yeah that worked fine for me. My problem I guess is, how do I implement a toast popping up when like, a fetch gives me a certain result? I can't make hook calls from the fetch so what do I do? I don't want a button that will make the toast go.

[2019-09-11 20:49] mattrothenberg commented on #63
@IsaacGHoward Hit me up via email or twitter, I'd be happy to help you out with this!

[2019-09-11 20:58] IsaacGHoward commented on #63
Emailed you, thank you

[2019-09-11 21:20] #57 closed

[2019-09-12 03:54] intyro opened #72 "Toastr breaks on specific position enum values"
**version:** 0.2.6

**I'm submitting** an issue

**Current behavior:** I do have an issue using the Toastr at a specific position. for example, setting the Toastr position for `bottom-left` works fine. other values break like `top-end`.

[2019-09-12 04:14] lee-reinhardt commented on #72
I've noticed this as well, and all the `top` positions have the same issue. I poked around debugging it the other day and it's caused by `.Toaster__message-wrapper` having `transform: translateY(-100%) scale(1)` set.  It pulls the most-recent toast out the top of the viewport.

I didn't come to a solution, but I think there's an animation or something not happening. It should update to `translateY

[2019-09-12 21:32] alexluong opened #75 "[Button] Default border"
Hi, I notice that Chakra is not setting `border` property for buttons. Therefore, it inherits the default browser styling, which makes it quite inconsistent (Moz vs Chrome). Is there anything we can do about this?

Thank you.

[2019-09-12 23:59] pkrogel-kws opened #76 "Theme driven component/variant values"
I think it would be beneficial pull component variant css values from the theme.

For example, on Button, maybe I'd like to adjust the padding values of the different size variants.  This could by just using aliases where possible instead of array values directly.  As it is now, you'd have to adjust the value of a certain array scale, where as using a 'lg' alias that pointed to the key would allow

[2019-09-13 02:23] bolerap opened #77 "TypeError: iconPaths is undefined"
Hi all,
I'm trying to use icon but faced this error. The code was reference from here https://chakra-ui.com/icon

[code]

[2019-09-13 02:28] #77 closed, assigned to nobody

[2019-09-13 04:04] #75 closed, assigned to nobody

[2019-09-13 06:16] alexluong opened #78 "[Dialog] Warnings"
When using `Dialog` component, it gives a few warnings:

- Reach UI warning, similar to #65
- `React does not recognize the zIndex prop on a DOM element...`
- `React does not recognize the overflowY prop on a DOM element...`

Just wanna let you know about this. It's just a bit of annoyance, but everything works fine.

[2019-09-13 07:17] kripod opened #79 "[CSSReset] Consider using CSS Remedy on the long term"
As the first beta of CSS Remedy [is out](https://github.com/mozdevs/cssremedy/releases/tag/v0.1.0-beta.1), it may be worth giving a try. The rules are compiled by people heavily involved in the CSS specification, and the resulting file is way more concise than [Normalize.css](https://github.com/necolas/normalize.css).

[2019-09-13 08:04] beautifwhale opened #80 "Spinner not visible without CSSReset component"
For anyone else that might be wondering why the `Spinner` component is not visible, you need to use `CSSReset`

[code]

[2019-09-13 08:04] #80 closed

[2019-09-13 09:30] segunadebayo commented on #78
Yeah, I understand it can be annoying.

I'll resolve the last 2 items and release a patch. For Reach UI, I'll find a way to suppress the error until they resolve it.

[2019-09-13 09:36] segunadebayo commented on #76
Hi @pkrogel-kws ,

Let's say you created a button like this:

[code]
and you want to adjust the padding values, here's what you should do.

[code]

The variant styles aren't baked in, we made it in a way that you can override them with style props.

I'm aware of the styled-system variants, I'm experimenting with it and would definitely use it in upcoming versions of Chakra.

[2019-09-13 14:13] ferMartz opened #81 "Custom Icons color not working"
Hi there,
First of all thanks for putting together such a great library. :raised_hands:

I followed the steps in the documentation to create custom icons but the color is not working with the custom icons. Is this a bug? :bug:

Replicate:

1.- Create custom icons
[code]

2.- Create custom theme
[code]
3.- Insert custom theme
[code]

4.- Import to component and insert custom ICON
[code]
5. The icon

[2019-09-13 16:24] segunadebayo commented on #81
Hi @ferMartz ,

Update your icon path to this

[code]

Adding `fill="currentColor"` is to trick we use to match the fill of the svg to the `color` prop.

[2019-09-13 17:50] ferMartz commented on #81
@segunadebayo  thanks a lot :pray:
It works like a charm!

![image](https://user-images.githubusercontent.com/1444793/64882964-7a8c8000-d61b-11e9-8bf3-4c0cd3104614.png)

@segunadebayo any thoughts on switching to [theme ui](https://theme-ui.com/) instead of dark mode? I like that dark mode works out of the box but it is a bit limiting.
Thanks for the quick reply BTW.

[2019-09-13 17:52] #81 closed

[2019-09-13 19:16] zandoh opened #82 "[NumberInput] Incorrect Bounds"
When using the NumberInput component with a max value, the input field allows a user to type in a number over the max

Additionally for example a max is set to 25 and a user types in 26 then uses ctrl + down the NumberInput displays 25.9 which is over the max

[2019-09-13 19:40] segunadebayo commented on #81
Yes @ferMartz , I agree that the dark mode is quite limiting at the moment. Using `theme-ui` is something I've had in mind, I'll give it a shot soon.

[2019-09-13 20:05] ferMartz commented on #81
@segunadebayo I'll be playing with theme-ui these days. If I find an easy
way to implement it with chakra I will let you know.

FM

On Fri, Sep 13, 2019 at 1:40 PM Segun Adebayo <notifications@github.com>
wrote:

--

Fernando Martinez-Valdez
Software Engineer
Ph: +1 713-591-5294
Katy, Texas, USA

<http://fermartz.com/>

[2019-09-13 20:44] segunadebayo commented on #82
Hi @zandoh,

Thanks for catching this bug. I've resolved it and will release a patch soon.

The expected result is to take the value back to the `max`, correct?

[2019-09-13 20:48] zandoh commented on #82
@segunadebayo yep! Taking the user back to the max value would be the expected functionality

[2019-09-13 21:35] segunadebayo commented on #46
Hi @kripod ,

I'm closing to this issue because there are other ways to solve this.

Option #1 (recommended)

[code]

Option #2

[code]

We've looked into this suggestion:

[code]

We think might not be possible at the moment because the `iconColor` isn't a style prop and there's more we need to do to support that.

Kindly use the suggested options above.

Thanks again.

[2019-09-13 21:35] #46 closed

[2019-09-13 21:58] tioluwani94 commented on #49
Hi @kripod,

Thanks for the feedback, it is highly appreciated. We have looked into this and we would release a patch soon.

[2019-09-13 21:58] #49 closed

[2019-09-14 01:49] tioluwani94 commented on #40
Hi @kripod,

We are looking into this and working on a solution, for now, you can follow the example below to create types the `RadioButton` component.

[code]

[2019-09-14 02:19] #71 closed

[2019-09-14 02:20] segunadebayo commented on #14
You might want to upgrade your node version and try to install the dependencies again.

[2019-09-14 02:20] #14 closed

[2019-09-14 02:20] #23 closed

[2019-09-14 02:21] #31 closed

[2019-09-14 02:22] segunadebayo commented on #82
I'm closing this now because it has been resolved. I'll publish a patch shortly.

[2019-09-14 02:22] #82 closed

[2019-09-14 02:22] #44 closed

[2019-09-14 02:27] tioluwani94 commented on #50
Hi @kripod,

This issue has been fixed and a patch will be released soon.

Also, to use the `RadioGroup` component in a controlled state, an initial value should be passed as shown below for example when using `number` values:

[code]

or this when using `string` values

[code]

[2019-09-14 02:27] #50 closed

[2019-09-14 02:29] segunadebayo commented on #6
Hi @nejos97 ,

I hope @shivashp's example resolved your concern. Thank you for the quick prototype @shivashp.

I'll close this issue, let us know if you have any other questions.

Thanks again.

[2019-09-14 02:29] #6 closed

[2019-09-14 02:31] tioluwani94 commented on #79
Hi @kripod,

Thanks for the suggestion. We'll keep an eye on CSS Remedy and track its progress.

[2019-09-14 02:31] #79 closed

[2019-09-14 08:14] kripod commented on #40
@tioluwani94 Thank you for the insights! I think a link may be added to the docs about it for better discoverability.

[2019-09-14 09:50] #64 closed

[2019-09-14 09:50] #62 closed

[2019-09-14 15:55] pkrogel-kws commented on #76
Right.  Now let's say you've built out a reusable theme driven template (using gatsby-themes).  I have a new client, and the design system for them is quite different.

Since I've aliased some colors to they key 'primary' and 'secondary', my colors are easily switched out.  Now comes button styling.  If I've used the method you described, I'd have to change the paddingX and rounded props on every

[2019-09-14 22:35] kripod opened #84 "[Button] Improve support for rounded buttons"
I just came across an [article about rounded buttons](https://cloudfour.com/thinks/jagged-little-pill-issues-with-rounded-buttons/) and thought the desired cross-browser compatible behavior could be implemented by Chakra UI.

[2019-09-14 22:48] segunadebayo commented on #76
Hi @pkrogel-kws,

I understand your suggestion and will definitely look into it. Having variants accessible within the theme definition is in the roadmap since `styled-system` supports that. Chakra will support that soon.

Thanks for this.

[2019-09-15 13:22] mbrookes opened #85 "Invalid license"
Hey there!

I can't help noticing that most of the code here is copied from Material-UI and other React component libraries. That's absolutely fine, Material-UI is open-source for a reason (although it leaves me curious as to the motivation behind a library that is nothing more than a copy-and-paste compilation).

However, the MIT license states "The above copyright notice and this permission noti

[2019-09-15 19:38] xtalx commented on #85
I see no evidence of “copy/paste.” Many component libraries are built similarly. Many are using similar supporting libraries like styled system which leads to a lot of similarities. Also components will have similar APIs. I would say it would be pretty difficult to create a component library with similar requirements that was totally unique in its implementation.

[2019-09-15 20:07] segunadebayo commented on #85
Hi @mbrookes ,

I agree with you that Chakra UI was inspired by Material UI and other react libraries. I'll definitely add some more attribution, thanks for suggesting that.

However, to say that Chakra UI is nothing more than a cut-and-paste, I disagree. I believe Chakra has its unique components and API spec. The docs will show that for itself.

Thanks for voicing your concern though.

[2019-09-15 20:37] segunadebayo commented on #85
I'm closing this now.

I'll make sure to add the origin of any copied or modified code in Chakra UI for proper attribution and conformance to the MIT License.

[2019-09-15 20:37] #85 closed

[2019-09-15 20:51] mbrookes commented on #85
I didn't provide any, as @segunadebayo already knows this to be true. However, compare Slider, Popper and Portal, for example. Also, if you look at the cadence of commits in the early stages, it becomes apparent that the components were not developed organically.

That would be great! But until then, closing the issue is a bit premature.

[2019-09-15 21:12] segunadebayo commented on #85
Hi @mbrookes ,

I closed this because I've added attributions to the parts of Chakra UI that were inspired by Material UI. I believe this addresses the issue.

Thanks again.

[2019-09-15 21:34] mbrookes commented on #85
@segunadebayo Thanks, yes, and a very nice complement in there too, much appreciated...

However the original authors of the other components might appreciate the same courtesy.

Best of luck with Chakra-UI! 👍

[2019-09-15 21:40] segunadebayo commented on #85
You're welcome @mbrookes ,

I really admire the work you and the team at Material UI have done, and would definitely not take the credit for it. Thanks for bringing this to my attention.

Thanks again.

[2019-09-15 22:59] eranimo opened #86 "Sliders don't receive focus"
If you you provide an `id` prop and hook it up to a label, the slider does not become focused when the label is clicked.

[2019-09-16 06:53] onefastsnail opened #87 "Image component is missing the alt attribute"
Both from the [demo page ](https://chakra-ui.com/image) and a local build, the `alt` attribute is not being used on the `img` element despite being passed in.

Haven't had much time to look at why, but just thought to add it here 😄

[2019-09-16 08:05] segunadebayo commented on #87
Hi @onefastsnail ,

I've confirmed this and fixed the issue. I'll release a patch soon.

[2019-09-16 09:41] franky47 opened #88 "[Slider] Incorrect type for onChange prop"
The Slider component props inherit from `BoxProps`, which pulls an incorrect typing for `onChange`.

From the Slider component source code and the docs, I assume the correct type is
[code]

I can open a PR with the suggested change.

[2019-09-16 11:31] tioluwani94 commented on #84
Hi @kripod, thanks for this, we will check the article out.

[2019-09-16 13:29] codenakama opened #90 "How to use theme object with typescript and @emotion/styled"
At the moment doing something like below throws an error `Property colors does not exist in Object`
[code]

I've tried many approaches and nothing works but I've seen in other issues the library supports Typescript. Is there anything I am missing or doing incorrectly?

Cheers and thank your such an amazing piece of work.

[2019-09-16 14:27] tioluwani94 commented on #86
Hi @eranimo, thanks for catching this. We will fix and release a patch soon

[2019-09-16 15:08] segunadebayo commented on #90
Hi @codenakama,

I'm not sure why you need to this. Chakra uses `styled-system` to make this easier.

Here's what you need to do:
[code]

Behind the scenes, the `bg="brand"` prop is translated to `backgroundColor={theme.colors.brand}`

Use the `Box` component for most of your layout needs.

[2019-09-16 15:09] segunadebayo commented on #88
Thanks for the PR @franky47 .

I'll release a patch soon.

[2019-09-16 15:09] #88 closed

[2019-09-16 15:16] lee-reinhardt commented on #90
In short, use `createStyled()` ([docs](https://emotion.sh/docs/typescript#define-a-theme)).

Example:
https://codesandbox.io/embed/tender-platform-f74f1

Although, the types for `ITheme` don't seem to be being inferred correctly beyond the first depth level. It knows all the root keys, like `colors`, and `shadow`, etc. But it thinks the values of all those are arrays, rather than objects, even tho

[2019-09-16 16:03] codenakama commented on #90
@segunadebayo sorry bad example. for example let's say I want to handle a `selected` or `active` state or any other control variable to change css values, for example animating something if a prop is true.

[2019-09-16 16:07] segunadebayo commented on #90
@codenakama, can you share a Codesandbox link of this scenario so I can help.

[2019-09-16 16:08] codenakama commented on #90
@segunadebayo I will try @lee-reinhardt approach in a bit, to do codesandbox with full example I'd need more time, which I can do this evening but not now. cheers for the help though

[2019-09-16 19:23] mattrothenberg opened #91 "[Input] Flushed Variant won't accept focusBorderColor"
Hello!

I've noticed that when using the `flushed` variant of the `Input` component, the `focusBorderColor` doesn't seem to work.

[code]
<img width="185" alt="Screen Shot 2019-09-16 at 3 16 12 PM" src="https://user-images.githubusercontent.com/5148596/64986415-f5ac9b00-d894-11e9-932d-11f6e25cb7f0.png">

Looking at the `flushedStyle` function here, it doesn't look like the prop is even being taken

[2019-09-17 06:44] segunadebayo commented on #91
Hi @mattrothenberg,

Please feel free to update the implementation and submit a PR. I guess we skipped it.

Thanks for catching this.

[2019-09-17 16:29] jestrux opened #93 "[Textarea] doesn't have resize option"
After going through the code, I noticed [here](https://github.com/chakra-ui/chakra-ui/blob/4085e27ecff1b295cea7265011921b5d12c25f15/packages/chakra-ui/src/Textarea/index.js#L21) that there's an **ExpandingTextarea** component being exported but I didn't see mention of this in the docs.

[2019-09-17 16:32] jestrux commented on #93
I would happily create a pull request to update the docs with an example showing the ExpandableTextarea or add a resize prop to the TextArea component itself.

[2019-09-17 16:58] sukazavr opened #94 "[Link] "href" prop is unspecified in Link props types"
Hello!
TypeScript linter says that `Link` component has no `href` prop.
It seems like a mistake or mb I did smth wrong...

[code]

My typescript config was initialized by CRA 3.1.1, mb there is smth wrong.

[2019-09-17 20:41] segunadebayo commented on #93
Hi @jestrux,

I'm not sure what you mean by "resize".

If you're referring to the css resize style, the `<Textarea/>` component can be passed a `resize` prop and you can set its value to be "horizontal", "vertical", etc.

If what you mean is that Textarea's height should auto-resize based on the content in it, then we might need to export the `ExpandingTextarea` component. Feel free to create a PR

[2019-09-17 20:43] segunadebayo commented on #94
Hi @sukazavr ,

It was an issue in the type definition. I've fixed this and will release a patch shortly.

Thanks.

[2019-09-18 05:47] jestrux commented on #93
Hi @segunadebayo

I was actually talking about the prior.

The docs don't show that you can pass "resize" as a prop like you said, and on the list of props for `TextArea` component, it just says _The Textarea composes the Input component_ and then when you go to the `Input` component "resize" is not listed as one of the props.

[2019-09-18 05:57] jestrux commented on #93
I would love to work on exporting the ExpandingTextArea component, is there anythig I need to know other than what's on the contributing guidelines?

[2019-09-18 06:07] jestrux commented on #7
@Vynlar @jeanbauer What components are you currently writing tests for so I can pick something else?

[2019-09-18 08:38] codenakama commented on #90
so just to update @lee-reinhardt suggestion worked but I think it's valuable to do the codesandbox. sorry I haven't got around doing this yet but I will do sometime this week. bear with me.

[2019-09-18 09:08] segunadebayo commented on #93
Hi @jestrux ,

I agree. Please feel free to add the `resize` prop to the Textarea docs.

I'd appreciate if you add the ExpandingTextarea component as well. Here's what you need to do:

- Create a new folder named `ExpandingTextarea`
- Add `index.js`, `index.d.ts`, and `examples.js`
- Add the component code in `index.js`
- Add type definitions in `index.d.ts`
- Add some storybook examples in `examp

[2019-09-18 12:05] jestrux commented on #93
Thanks, this is very helpful. I'll get right on it.

[2019-09-18 14:14] sukazavr opened #95 "[IconButton] "onClick" prop is unspecified in IconButton props types"
Hello!
Then noticed that "onClick" prop is unspecified in IconButton props types

[code]

[2019-09-18 14:24] segunadebayo commented on #95
Hi @sukazavr ,

Thanks for catching this. I've resolved it and will release a patch soon.

[2019-09-18 23:56] rohmanhm opened #96 "Documentation error in PseudoBox"
I just wanted to tell you that you have a documentation error on `Pseudobox`

![image](https://user-images.githubusercontent.com/7524911/65196622-94f6ab80-daaa-11e9-9de8-2c6167aa003d.png)

[2019-09-18 23:56] rohmanhm commented on #96
URL: https://chakra-ui.com/pseudobox

[2019-09-19 00:07] jestrux opened #97 "Color prop inconsistency"
Hi @segunadebayo @mattrothenberg

I thought I'd create a separate issue for this so we can track ideas a bit better.

_Originally posted by @segunadebayo in https://github.com/chakra-ui/chakra-ui/pull/92#issuecomment-532425620_

[2019-09-19 00:26] jestrux commented on #97
I was wondering if we could create a Color type so that all color props can be of that type.

The Color type will then be compatible with either `aquawhite` or `blue.500` or `rgba(34,56,21)` or `#555` and `#F34477`.

The one issue I'm having with this is how to make sure that it can correctly provide compile time errors when someone enters a theme color that doesn't exist e.g. `amber.300`

[2019-09-19 03:10] eranimo opened #98 "Accordion headers need type="button""
Currently they use PseudoBox and they don't define the `type` prop, which makes them submit forms if Accordion is used inside a <form> element. Also, the PseudoBox Typescript definitions don't include the `type` prop.

[2019-09-19 07:16] brennj opened #99 "[Breadcrumb] Example with Routing Library"
Hello!

I was struggling trying to use the Breadcrumb component using a Library like `@reach/router`. I have tried wrapping the `BreadcrumbLink` in a `Link` from Reach so that it can use its routing system and not reload the page in a SPA. But the problem is, the last child won't behave as intended where it shouldn't render an `a` tag.

I have made some examples of different solutions but wanted t

[2019-09-19 08:01] segunadebayo commented on #99
Hi @brennj,

I checked the link and played a bit with the examples. I think you need to use the `as` prop to internal replace the component used in `BreadcrumbLink` from `a` to Reach's `Link`.

[code]

For the last child, you might need to omit the `as={Link}`. If you choose to still use it, then here's what you can do:
- Style it so it doesn't look like a link
- Set its `tabIndex` to `-1` so the

[2019-09-19 08:04] segunadebayo commented on #98
Thanks for catching this @eranimo ,

I'll update the AccordionHeader component soon and release a patch.

[2019-09-19 13:59] mattrothenberg commented on #91
Resolved by https://github.com/chakra-ui/chakra-ui/pull/92

🥂

[2019-09-19 13:59] #91 closed

[2019-09-19 15:18] aaronmcadam opened #101 "NumberInput border-color is using default browser black"
Firstly, thanks for a great design system!

I can see it is setting `border-color` to `inherit`, but when I do set `borderColor`, only the outer border changes, not the stepper buttons.

I'm using the `CSSReset` component, so I should be getting the `gray.200` colour instead, right?

See the following screen capture:

![CleanShot 2019-09-19 at 16 15 52](https://user-images.githubusercontent.com/37

[2019-09-19 15:58] segunadebayo commented on #101
Hi @aaronmcadam,

Yes you should be getting the `gray.200` color instead. Can you send a codesandbox link so I can look into this and fix it?

I'll also improve the `NumberInput` so that passing the `borderColor` should propagate to the stepper buttons, or find better ways to pull out those buttons so you can have complete control over how they look.

Thanks for this feedback. Kindly send me a lin

[2019-09-19 16:06] aaronmcadam commented on #101
Hi @segunadebayo, thanks!

Here's the sandbox link: https://codesandbox.io/embed/vigorous-platform-5lppf

[2019-09-19 16:13] aaronmcadam commented on #101
There's another thing I noticed about the `NumberInput`. I'm setting the min to `1`, but when I select all (cmd + a) and delete, the value is set to 0. This is invalid for my business rule.

Here's a screen capture (it's from the codesandbox above (https://codesandbox.io/embed/vigorous-platform-5lppf)):
![CleanShot 2019-09-19 at 17 11 44](https://user-images.githubusercontent.com/37928/65261729-ca

[2019-09-19 16:41] segunadebayo commented on #101
@aaronmcadam ,

I've confirmed the issue. For now, you might need to specify the config for both the light and dark mode. I saw you that you've figured it out. In the next version, I'll provide the `defaultConfig` as a second parameter so you can just override some parts of it.

[2019-09-19 16:42] aaronmcadam commented on #101
@segunadebayo thanks for taking a look! Should I file the other issue about deleting the selection separately?

[2019-09-19 16:51] segunadebayo commented on #101
@aaronmcadam Let's talk about that deleting. What's the expected outcome in this case? It should fallback to the `min`, right?

[2019-09-19 16:53] aaronmcadam commented on #101
@segunadebayo Yes, I think that's what users would expect. Do you have a way to organise and prioritise these small fixes?

[2019-09-19 16:59] segunadebayo commented on #101
@aaronmcadam ,

At the moment, I don't. I typically just pick which fixes I think are critical and fix them. I'll appreciate your contribution.

As for the NumberInput, I'll look into it soon.

[2019-09-19 17:00] aaronmcadam commented on #101
Thanks @segunadebayo! I'll be happy to help with stuff going forward!

[2019-09-19 17:09] aaronmcadam opened #102 "CodeSandbox starters for submitting issues"
I've noticed that a lot of times, codesandbox reproductions are really useful.

Having starters may reduce the barrier for people reporting bugs and ideas:

- [ ] JavaScript: https://codesandbox.io/s/epic-zhukovsky-27i2n
- [ ] TypeScript:
- [ ] TypeScript Next.js:

[2019-09-19 17:10] aaronmcadam commented on #102
@segunadebayo I was going to raise a PR, but it looks like the CONTRIBUTING.md file is a bit of a work in progress.

[2019-09-19 17:38] segunadebayo commented on #102
Hi @aaronmcadam ,

What changes would you recommend to the CONTRIBUTING.md? Kindly raise a PR and I'll review it.

[2019-09-19 17:45] segunadebayo commented on #102
I think it'll make sense to add a starter for CRA Typescript and Next Typescript as well. So we can jump right in to confirm any bug.

[2019-09-19 19:15] majorhayes opened #103 "Incorrect "spacing" prop-types in ButtonGroup"
https://github.com/chakra-ui/chakra-ui/blob/9f319cd0ce38d155960cd6f778447b39ab40b898/packages/chakra-ui/src/ButtonGroup/index.js#L50

This prop-type definition is wrong because StyledSystem supports passing in objects and arrays for MarginProps for responsive formatting.  This invalid prop-type causes a console error to show up when using the responsive object or array syntax.

Example:
[code]

[2019-09-19 19:57] majorhayes commented on #65
I can confirm that these warnings also show up for `Modal`.

[2019-09-19 20:06] segunadebayo commented on #103
Hi @majorhayes,

I agree. `styled-system` allows passing Objects or Arrays.

I'll remove the propTypes from all components. I guess I skipped the `ButtonGroup` component.

Thanks for catching this.

[2019-09-20 00:56] xtalx opened #105 "[Text] Type Definition 'isTruncated'"
Hi. You've done really nice work on the library. I'm giving it a spin on a project and it looks like the types for the Text component might need some tweaking.

The component renders/functions properly but if you're using TypeScript the `isTruncated` prop causes a compiler error (with create react app typescript). It looks like the other styled-system props work though. My TypeScript skills are su

[2019-09-20 10:10] aaronmcadam commented on #102
@segunadebayo do we need to create these through an official chakra-ui Code Sandbox account?

[2019-09-20 12:50] segunadebayo commented on #102
@aaronmcadam Sure, I'll create the starters using a `chakra-ui` or my personal CodeSandbox account and update the links.

[2019-09-20 15:18] RikuMantysalo opened #107 "[CSSReset] HTML headings don't work as expected"
I noticed an issue when using [react-markdown](https://github.com/rexxars/react-markdown) which uses html tags for rendering markdown.

Apparently, the CSSReset sets `font-size` and `font-weight` for h1-h6 to `inherit`

https://github.com/chakra-ui/chakra-ui/blob/5f15805914ea3c4fc0338228a8a95f657f408bbe/packages/chakra-ui/src/CSSReset/preflight.js#L489-L496

This causes HTML headings to not have t

[2019-09-20 22:14] jmakGH opened #108 "Incorrect typing for Toast 'render' prop"
The render typing should be optional as per the documentation since the Toast has a default render style.

Current `index.d.ts` file in the Toast module looks like so:
`
interface RenderOption {
  render: (props: { onClose: () => void; id: string }) => React.ReactNode;
}
`

[2019-09-21 08:24] Aneureka opened #110 "useToast() function terminated"
The function terminated when I add the line `const toast = useToast();`, as showed in this image:

![8FAA166C-F342-4CE6-B92E-EE9061A13F08.png](https://i.loli.net/2019/09/21/N1fzxE4UHvqe39P.jpg)

When using `useToast()`, it exits and the next line is not run.

[2019-09-21 08:54] Aneureka commented on #110
It seems to happen because I break the rules of react hooks. How can I use `useToast` in non-hook environments? I'm not ready to use react hooks right now...

[2019-09-21 11:48] segunadebayo commented on #108
Thanks for the PR. I'll close this now.

[2019-09-21 11:48] #108 closed

[2019-09-21 11:56] segunadebayo commented on #110
Yes, it seems you can't use hooks in Class components: https://reactjs.org/docs/hooks-faq.html#should-i-use-hooks-classes-or-a-mix-of-both

I found this article that shows how to use hooks in Class components via render prop: https://infinum.co/the-capsized-eight/how-to-use-react-hooks-in-class-components.

[2019-09-21 12:02] segunadebayo commented on #105
Thanks for your PR and suggestion, Tal.

I've resolved this as discussed and will release a patch soon.

[2019-09-21 15:13] Aneureka commented on #110
Thanks a lot. That's the key point. I will also try to learn React Hooks.

[2019-09-21 15:13] #110 closed

[2019-09-21 15:27] segunadebayo commented on #107
Hi @RikuMantysalo,

For now, we recommend that you use `CSSReset` in your apps. We'll find a way to get it to work without the `CSSReset` down the line.

I hope you can find a way to walk around this issue for now, perhaps use CSS to remove the styles within the markdown editor.

Thanks.

[2019-09-22 09:55] RikuMantysalo commented on #107
Hey, thanks for the response.

I managed to get it working by forking the CSSReset and removing the styling mentioned in the issue. Didn't seem to outright break anything :smile:

I appreciate your efforts on this library and have been really enjoying using it. Really looking forward to the future development!

[2019-09-22 13:34] beautifwhale opened #113 "Stack not wrapping child Box components"
Example https://codesandbox.io/s/stoic-goldberg-2sw66

I'm trying create some "cards" that display horizontally and will wrap.

[code]

[2019-09-22 13:54] beautifwhale commented on #113
My bad, use `wrap="wrap"`

https://codesandbox.io/embed/stoic-goldberg-2sw66

[2019-09-22 13:54] #113 closed

[2019-09-22 14:23] mattrothenberg commented on #97
@jestrux Cool idea!

I'm curious if we're working against the grain of a type system by allowing all of these values to match the `color` type:

- `aquaWhite` (CSS color value)
- `blue.500` (Unique key from Chakra color them)
- `rgba(34,56,21)` (CSS rgba value)
- `#555` (CSS 3 digit HEX)
- `#F34477` (CSS 6 digit HEX).

If the issue is being able to provide compile time errors around incorrect colo

[2019-09-22 14:42] Ronva commented on #101
Sounds like we should set up a `useEffect` hook that watches the value and sets it to the minimum or 0 if it's ever invalid, right? This would be something good to add to the unit/integration tests once that stuff gets merged in.

[2019-09-22 22:51] #99 closed

[2019-09-23 01:41] jestrux commented on #97
@mattrothenberg So I was thinking of a very similar idea,

Except for one thing, I really like something @segunadebayo said in the previous feed that we should allow the user to enter the color they want.

I feel like that way they won't bee too tightly bound by the theme color system we set up if they don't want to use it. So I was thinking of something more like:

- `aquaWhite` would be `Color.b

[2019-09-23 01:48] mattrothenberg commented on #97
Oh, I think a user should absolutely be able to pass a color string of
their choice, as long as it's a string.

I think the `fromHex` function (or its counterparts) adds additional
complexity to the API, while not adding a ton of value. A string is a
string is a string at the end of the day.

My two cents!

On Sun, Sep 22, 2019, 9:41 PM WALTER KIMARO <notifications@github.com>
wrote:

[2019-09-23 01:54] jestrux commented on #97
Oh okay,

Let me see if I get your point correctly, if a user wants to use some color of their own, let them. But in case they want to use the colors from the theme then they should import *`Colors`* and use that.

Is this what you meant?

[2019-09-23 01:56] mattrothenberg commented on #97
Yup, exactly!

My suggestion was in response to your question about how you can prevent
users from picking the wrong color value from the underlying theme.

On Sun, Sep 22, 2019, 9:54 PM WALTER KIMARO <notifications@github.com>
wrote:

[2019-09-23 02:01] jestrux commented on #97
Yeah, this makes sense.

As long as we give the user freedom of choice while at the same time being able to prevent them from picking a  nonexistent color from the theme, it should be okay.

I'm sure either you or @segunadebayo or whoever else picks this up should have a much easier time implementing this into the color props.

[2019-09-23 05:50] jestrux opened #115 "Add [ExpandingTextarea] component"
Hi @jestrux ,

I agree. Please feel free to add the `resize` prop to the Textarea docs.

I'd appreciate if you add the ExpandingTextarea component as well. Here's what you need to do:

- Create a new folder named `ExpandingTextarea`
- Add `index.js`, `index.d.ts`, and `examples.js`
- Add the component code in `index.js`
- Add type definitions in `index.d.ts`
- Add some storybook examples in `examp

[2019-09-23 05:54] jestrux commented on #115
Hi @segunadebayo,

Based on that guideline you provided, I'm comfirming that you meant the information about ExpandingTextArea should be included in the Textarea page and not a standalone page for ExpandingTextarea.

[2019-09-24 17:18] Ronva opened #117 "Label curation and issue triage"
@segunadebayo It might be good to let someone (or a couple people) handle managing issue labels and triaging them to make it easier to scan through. It could even be a one-time job where we backfill the labels and require people to label as they go. Thoughts?

[2019-09-24 21:35] #93 closed

[2019-09-24 22:03] #78 closed

[2019-09-25 00:24] segunadebayo commented on #117
Hi @Ronva,

It's a good idea to add some labeling so it's easier to scan through and resolve issues.

Please feel free to jump on this. I'll appreciate it.

[2019-09-25 00:31] segunadebayo opened #118 "Issues with npm pack"
I've spent a couple of hours trying to publish a new version of Chakra UI but it seems it wasn't published correctly. I believe it's related to the fact that I switched the lerna's `npmClient` to `yarn`

If you `cd packages/chakra-ui`, and run `npm run build && npm pack`, it seems npm doesn't include contents in the `dist/` folder for some reason, but using `yarn pack` works. I've managed to publi

[2019-09-25 00:32] #107 closed

[2019-09-25 00:33] segunadebayo commented on #96
Hi @rohmanhm , I can't seem to see this issue on my end.

Can you confirm that you didn't edit the code before it showed this error?

[2019-09-25 01:38] rohmanhm commented on #96
I'm not editing anything, just scrolling through pages.
I believe it's fixed with your latest commit to master.

[2019-09-25 01:38] #96 closed

[2019-09-25 03:07] xtalx opened #119 "[Box] Merge/Overwrite systemProps with extraConfig"
I noticed some duplicate/invalid css properties with the box component. The problem props are as follows.

- bgSize
- bgRepeat
- overflowX
- overflowY

To illustrate the issue create a Box like so

[code]

The resulting css:

[code]
I believe one way to fix it is to remove extraConfig from the function call and add it to the compose function. That way anything defined in config that matches what's

[2019-09-25 03:55] Ronva commented on #117
@segunadebayo I would love to but I currently don't have permission to add/edit labels.

[2019-09-25 08:07] #118 closed

[2019-09-25 12:05] segunadebayo commented on #119
Thanks for fixing this.

[2019-09-25 12:05] #119 closed

[2019-09-25 17:42] aaronmcadam opened #121 "[Tooltip]: children are required to be wrapped in span tags. shouldWrapChildren does not work."
As of **v0.3.1**:

Here's the codesandbox: https://codesandbox.io/s/blissful-greider-eywse

It shows the bug with a `Tooltip` on its own and used inline with other content (my use case).

It also shows that `shouldWrapChildren` doesn't work.

It's also broken on the docs site: https://chakra-ui.com/tooltip#usage

[2019-09-25 17:46] aaronmcadam commented on #121
It looks like the docs use the wrong prop to show an arrow: https://chakra-ui.com/tooltip#tooltip-with-focusable-content. The example uses `showArrow` instead of `hasArrow`.

[2019-09-25 18:48] segunadebayo commented on #121
Hi @aaronmcadam ,

I just looked into it and resolved the issue. Thanks for catching this.

I'll release a patch soon.

[2019-09-25 18:55] aaronmcadam commented on #121
Thanks!

[2019-09-25 19:14] segunadebayo commented on #105
I have released the patch v0.3.1 that resolves this.

Kindly upgrade accordingly.

[2019-09-25 19:14] #105 closed

[2019-09-25 19:15] segunadebayo commented on #115
I was thinking it should be a standalone page.

[2019-09-25 19:16] segunadebayo commented on #95
I've released a new version of Chakra that resolves this. Kindly upgrade

[2019-09-25 19:16] #95 closed

[2019-09-25 19:17] segunadebayo commented on #94
I've released a new version of Chakra that resolves this. Kindly upgrade

[2019-09-25 19:17] #94 closed

[2019-09-25 19:18] segunadebayo commented on #90
Thanks. Feel free to share the codesandbox whenever you can.

[2019-09-25 19:19] segunadebayo commented on #65
I've released a new version of Chakra that resolves this. Kindly upgrade

[2019-09-25 19:19] #65 closed

[2019-09-25 19:23] segunadebayo commented on #67
Hi Fernando,

I've released a new version of Chakra that resolves this. Kindly upgrade

[2019-09-25 19:23] #67 closed

[2019-09-25 19:23] segunadebayo commented on #98
I've released a new version of Chakra that resolves this. Kindly upgrade

[2019-09-25 19:23] #98 closed

[2019-09-25 19:24] segunadebayo commented on #87
I've released a new version of Chakra that resolves this. Kindly upgrade

[2019-09-25 19:24] #87 closed

[2019-09-25 19:59] codenakama commented on #90
@segunadebayo I hope this helps, sorry it took a bit longer. I can consume the theme object but because it's not typed, typescript throws an err - in the codesandbox it's fine, but in my  project it actually won't compile if there is an error.
Can you see anything I am doing wrong or need to config?
 - https://codesandbox.io/s/late-bird-9hzzp?fontsize=14

[2019-09-25 23:00] xtalx commented on #90
@codenakama You can use the PseudoBox component for that to avoid all that extra work.

[forked sandbox with changes](https://codesandbox.io/s/divine-glade-69zpf)

[2019-09-26 00:42] pcvonz opened #122 "Drawer types not updated"
I'm having trouble importing all the new Drawer components in TypeScript. [Looks like the index.d.ts](https://github.com/chakra-ui/chakra-ui/blob/master/packages/chakra-ui/src/Drawer/index.d.ts) file in the Draw component's folder wasn't updated.

[2019-09-26 04:55] jestrux commented on #115
Okay, nice.

[2019-09-26 11:12] codenakama commented on #90
@xtalx that is true but, it does not actually address the reason why I opened this issue, which is no typing of the theme object when consuming it from styled component. The example I did there was with hover but imagine for handling selected/active states?
I already have workarounds but isn't this a typing issue regardless?

[2019-09-26 11:17] codenakama commented on #90
also if I can help solve this let me know. I am happy to scratch my itch and help fix it, I just don't know where to start.

[2019-09-26 13:03] segunadebayo commented on #122
Yes, it was updated. I've added the types and will release a patch soon

[2019-09-26 18:35] sumitngupta opened #123 "Right to Left language support (Internationalization)"
Hello!

Absolutely love the Design System.  I have one question I've struggled to get the answer for out of the docs, really sorry if I just missed it.. does Chakra support Right to Left languages out of the box?

 ❤️ ,
Sumit

[2019-09-26 22:07] segunadebayo commented on #123
Hi @sumitngupta,

Thanks for your remark on Chakra UI. At the moment, Chakra components don't support Right to Left languages but we're getting there soon 😉.

[2019-09-26 23:04] xtalx commented on #90
It does look like the types for theme may need to be tweaked as @lee-reinhardt mentioned above. That being said, I don't see a strong reason to ever need to use `styled` with this library. I don't think you'd ever need to pass the theme object around for styling individual properties or components even.

### TL;DR

Use the `css` function from [https://styled-system.com/css](@styled-system/css)
_Ch

[2019-09-26 23:41] segunadebayo commented on #121
Kindly upgrade to the v0.3.2. I've resolved this issue there.

[2019-09-26 23:41] #121 closed

[2019-09-26 23:41] segunadebayo commented on #122
Kindly upgrade to the v0.3.2. I've resolved this issue there.

[2019-09-26 23:41] #122 closed

[2019-09-26 23:41] segunadebayo commented on #103
Kindly upgrade to the v0.3.2. I've resolved this issue there.

[2019-09-26 23:41] #103 closed

[2019-09-26 23:43] segunadebayo commented on #115
Thanks for this issue. I'll add it in the next release.

[2019-09-27 00:24] aaronmcadam commented on #121
Thanks for this!

[2019-09-27 01:38] emersonlaurentino opened #124 "Add example to Custom Icon with React Icons"
Add some examples of how customize icon with react-icons.

[2019-09-27 02:59] Ronva commented on #124
Is this the kind of example you are referring to?
https://chakra-ui.com/getting-started#adding-icons

Sorry if I misunderstood the question.

[2019-09-27 04:25] emersonlaurentino commented on #124
@Ronva No, I wanted an example section on how to use icons with the lib React Icons

[2019-09-27 04:52] jestrux commented on #115
Can I instead create a PR for this that you can then review?

[2019-09-27 07:46] segunadebayo commented on #124
Hi @emersonlaurentino,

Here's how I do it currently:

[code]

Hope this helps.

[2019-09-27 10:36] segunadebayo commented on #90
Hi @codenakama,

Yes, we'll need to check the types for the theme. At the moment, we're extending the types from `@types/styled-system`.

For your use case, I'd suggest you try the following:

[code]

This way, you won't need to tackle the types issue with the theme.

Hope this helps.

[2019-09-27 11:31] emersonlaurentino commented on #124
@segunadebayo Thanks for the example, I think it would be nice if you put it in the documentation.

[2019-09-27 12:13] segunadebayo commented on #124
Yes, I'll add it to the docs.

[2019-09-27 12:14] emersonlaurentino commented on #124
Thanks!

[2019-09-27 12:14] #124 closed

[2019-09-27 15:46] eranimo commented on #38
Any updates on this? If work hasn't already started, I would be interested in contributing. A robust select component would really make this library feel complete.

[2019-09-27 16:45] segunadebayo commented on #38
Hi @eranimo,

No work has started on it yet. I'll be happy to have you take a shot at the Select component. I'll open a new Issue for the API requirements of the Select component, then you can start some work once it's clear to you.

Thank you for choosing to contribute. Can't wait to see a Select component for Chakra.

[2019-09-27 16:50] #123 closed

[2019-09-28 07:54] alexluong opened #126 "[IconButton] children is required in TypeScript"
Like title. When using with TS, this will throw an error:

[code]

[2019-09-28 08:28] woodworker opened #127 "Storybook link does not work"
When i follow the Storybook link on the main website i see the Storybook UI and the message "Page Not Found
Looks like you've followed a broken link or entered a URL that doesn't exist on this site."
and the menu never loads so i can not select anything

[2019-09-28 23:31] pkrogel-kws opened #129 "Scrollbar Flicker during Modal"
If your page has a scrollbar, using Modal (and possibly Drawer--haven't checked) causes a layout flicker.  It looks like this can be fixed by passing `{reserveScrollBarGap : true}` to 'body-scroll-lock'.

[2019-09-29 01:45] Ronva commented on #127
I wanted to see if I could figure out what the right link was with no luck. On the bright side I found a hilarious interaction where you can just recursively open the storybook within itself every time you click "back to our site" 😂

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/24194291/65824564-40d19100-e239-11e9-8cc1-087d1e7ed772.png">

[2019-09-29 02:56] cheapernepalstudio opened #130 "Tabs not displayed as intended"
1. The border color is not right on the tab as shown on the documentation
2. The padding and spacing is not right as shown in the docs.

Attached the image below. [link to the component](https://imgur.com/a/nFq9qiJ)

[2019-09-29 13:46] codenakama commented on #90
hey everyone, thanks for the feedback. Did learn a lot and just shows that the library is quite flexible and well thought from the ground. I will use this to cleanup my code and have it in a more declarative fashion.

[2019-09-29 13:49] segunadebayo commented on #129
Thanks for this issue and for providing a suggestion to fix it @pkrogel-kws. It saved me some time. I'll release a patch soon.

[2019-09-29 13:51] segunadebayo commented on #126
Hi Alex, Thanks for catching this. I've fixed it and will release a patch soon.

[2019-09-29 14:04] segunadebayo commented on #130
Hi @cheapernepalstudio, are you using the `CSSReset` component in your app?

[2019-09-29 14:08] Ronva commented on #117
Closing this as it's getting stale and is not too relevant to the library itself. @segunadebayo let me know if/when you'd like to proceed with this at your earliest convenience 😁

[2019-09-29 14:08] #117 closed

[2019-09-29 14:44] segunadebayo commented on #127
I'm looking into this now.

[2019-09-29 14:46] segunadebayo commented on #117
@Ronva, sure I'll proceed with this soon. My apologies for the late response

[2019-09-30 01:09] chuckstock opened #131 "Getting an Error with SSR after most recent update"
After the most recent update I'm getting this error:
[code]
Here is a fresh codesandbox and it happens with Nextjs in just a vanilla example.
https://codesandbox.io/embed/hello-world-49rmf

[2019-09-30 06:00] alexluong commented on #126
Thanks for the very fast fix!

[2019-09-30 06:00] #126 closed

[2019-09-30 09:36] jorgenho commented on #131
I found a workaround for this issue:

add `@babel/plugin-transform-runtime`  as a dev dependency, and import it in your _app.js file:

`import 'regenerator-runtime/runtime';`

[https://babeljs.io/docs/en/babel-polyfill](https://babeljs.io/docs/en/babel-polyfill)

[2019-09-30 11:02] harshzalavadiya commented on #131
Can confirm works!
I guess issue is coming from `react-spring` using 9.x if you lock version at `react-spring@8.0.27` also worked for me
[code]

[2019-09-30 12:23] cheapernepalstudio commented on #130
@segunadebayo  CSSRest component displays blank on the screen , when i inspect on the inspector (in chrome) inside the root className of my html element there is nothing. Meaning nothing is displayed on the screen.

Here is my code.

[code]

[2019-09-30 13:09] segunadebayo commented on #130
Here's how you should use the `CSSReset` component.

[code]

Please try this and let's see if it works now.

[2019-09-30 13:50] harshzalavadiya opened #132 "Conflict with NextJS Link Component as Prop"
As of `next@9` nextjs Link also accepts `as` prop for dynamic routing so it breaks dynamic routed links, I am happy to submit PR fix for `chakra-ui` but will it be possible for chakra-ui's `Link` component `as` prop to be renamed to something else?

### Reference
https://github.com/zeit/next.js#dynamic-routing

[2019-09-30 14:16] chuckstock commented on #131
Great thank you @jorgenho and @harshzalavadiya!

[2019-09-30 16:43] cheapernepalstudio commented on #130
Thanks, Works as intended :) my bad.

[2019-09-30 18:10] cheapernepalstudio commented on #38
Here is another good one from Uber

https://baseweb.design/components/select/

[2019-10-01 03:49] bdbaraban opened #134 "Runtime error when using with Parcel"
I am encountering a runtime `TypeError` I am unsure how to solve when using the latest version of Chakra-UI with [Parcel](https://parceljs.org/). It appears to be related to `use-sidecar` used within `react-focus-lock`:

[code]

I am able to use Chakra v0.2.8 with Parcel no problem. I have double-checked clearing Parcel's cache and generating a new build after updating the Chakra version to 0.3.2.

[2019-10-01 05:35] ngprnk opened #135 "Any plans to include table component ?"
if any,  Is it going to be implemented from scratch or wrapper around something like `react-table`
[react-table](https://github.com/tannerlinsley/react-table/blob/master/docs/examples.md)

[2019-10-01 09:06] segunadebayo commented on #132
Hi @harshzalavadiya,

How about you try this

[code]

Since nextjs link is a default export, you can rename it to `NextLink` so there's no conflict. Changing Chakra's Link component name will cause some breaking change.

[2019-10-01 09:07] #130 closed

[2019-10-01 11:37] ngprnk commented on #135
I can PR  on the first option.

[2019-10-01 12:58] devanshj commented on #5
@segunadebayo Can you update `react-live` the PR is published now. I would have sent a PR to do that but I'm finding issues upgrading it with yarn.

[2019-10-01 15:19] harshzalavadiya commented on #132
Oh, I totally forgot next Link can take child component, should work fine

[2019-10-01 15:19] #132 closed

[2019-10-01 15:50] hendrikniemann opened #136 "Box component overflow property not recognised"
The Box component takes the `overflow` property in [one of the examples](https://chakra-ui.com/box#usage-1) but using it gives me an error when attempting to use it in TypeScript. `overflowX` and `overflowY` are recognised. A workaround is to use both of the properties to achieve the behaviour of the `overflow` property.

I could create a simple PR that adds the property to the `index.d.ts` file:

[2019-10-01 17:08] segunadebayo commented on #135
Go for it @ngprnk. Can't wait to see it.

[2019-10-02 03:54] Vynlar commented on #135
One problem I often have with tables is responsiveness. How do you folks think that problem is best solved?

It's often difficult to squeeze in a lot of columns on a mobile screen, so it would be nice if there were tools to help manage that issue. We could consider:

- Specify hiding certain columns on mobile
- Toggle to allow horizontal scrolling
- Custom renderer for mobile table rows

[2019-10-02 08:40] segunadebayo commented on #135
That's a good point, @Vynlar. I'll give it some thought and see how best we can make the tables responsive.

I think providing a prop to hide certain columns on mobile makes sense. We can also support horizontal scrolling. For custom renderer, we might want to leave that to the user to figure it out.

@ngprnk, what are your thoughts?

[2019-10-02 09:29] ngprnk commented on #135
Toggle to allow horizontal scrolling and prop to hide certain columns for sounds good to me.

[2019-10-02 09:52] segunadebayo commented on #5
@devanshj, I've updated `react-live` and I see that `Esc` moves focus out of the editor.

Thanks for your work to resolve this issue @devanshj and @stephan281094. I'll update the docs with the next patch release.

[2019-10-02 09:55] segunadebayo commented on #53
This seems to be an issue with Next.js and the `use-dark-mode` hook. It seems to work fine in Create React App. See this app made with Chakra UI: https://smart-swatch.netlify.com/

[2019-10-02 09:57] segunadebayo commented on #90
I'll close out this issue and a separate one for the theme type definition later.

[2019-10-02 09:58] #90 closed

[2019-10-02 10:25] segunadebayo commented on #136
Hi @hendrikniemann,

I'm glad you love Chakra UI. The `overflow` type def is already included in the `@types/styled-system` but I didn't include it. If it wasn't included, then your suggestion would be perfect!

I've now added it to the Box types and will release a patch soon.

[2019-10-02 20:32] eranimo commented on #38
@segunadebayo Any update on the API requirements?

[2019-10-02 20:51] aaronmcadam opened #139 "TypeScript: Property 'borderTopWidth' does not exist on type for Box"
CodeSandbox: https://codesandbox.io/s/chakra-ts-starter-20ydv

I've just hit this working on a new project using TypeScript.

I like to use this property in order to depend on the border rules added by `<CSSReset>`.

[2019-10-03 14:54] segunadebayo opened #140 "[API] Single Select Component"
Following our discussion in Issue #38. I thought to put down my thoughts about
the Single Select component and the API I have in mind.

NB: I know there are other use cases, like Multiple Selects and ComboBox, but
we're keeping it simple for now. We'll start with a Single Select Component

## The Goal:

Create a select component that works just like the native select and accessible,
composable and

[2019-10-03 14:57] segunadebayo commented on #38
Hi @eranimo @fernandobandeira, I just added the API requirements for the Single Select component.

Let me know your thoughts.

[2019-10-03 15:00] segunadebayo commented on #139
I'll add the border-width props for all sides (left, right, bottom, left) to the Box component.

In the meantime, you can do `borderTop="1px solid"` and `borderColor="inherit"`

[2019-10-03 15:01] aaronmcadam commented on #139
Ah, nice, thanks for the workaround @segunadebayo!

[2019-10-03 15:04] aaronmcadam opened #141 "TypeScript: CSSReset: config prop is missing from type"
CodeSandbox: https://codesandbox.io/s/chakra-ts-starter-tmw03

The type for `CSSReset` is just `React.FC` without the generic for props.

My use case for wanting to configure `CSSReset` is to set a custom background color on `body`. Should there be a better way to configure this instead?

This came up a while ago here: https://github.com/chakra-ui/chakra-ui/issues/101#issuecomment-533213660

[2019-10-03 15:11] segunadebayo commented on #141
Yes, I'll update the types for the CSSReset.

For now, a walkaround would be to use Emotion's `<Global />` component.

[2019-10-03 15:15] aaronmcadam opened #142 "Can MenuItem be extended to take an icon prop?"
I'm currently having to compose the UI myself. It works, but it's a little bit clunky.

Here's a sandbox: https://codesandbox.io/s/chakra-js-starter-z0400

I'm thinking it'd be nice to reuse `Button`'s `leftIcon` and `rightIcon` prop names for this.

I think this idea could be used for the new Select component too (#38)

[2019-10-03 15:16] aaronmcadam commented on #141
Ah, that's what I was thinking @segunadebayo. Thanks again!

[2019-10-03 15:21] aaronmcadam opened #143 "TypeScript: MenuItem does not allow the props needed by a component override"
CodeSandbox: https://codesandbox.io/s/chakra-ts-starter-s8bur

I came across this when trying to make a TypeScript sandbox for #142.

I think the type should allow the props allowed by the component used in the `as` prop. I appreciate this might be a little bit hard to do with TypeScript. I imagine some fun with generics is needed.

[2019-10-03 15:31] segunadebayo commented on #141
Here's the type def updates for CSSReset. What do you think?

[code]

[2019-10-03 15:33] aaronmcadam commented on #141
That looks great @segunadebayo!

[2019-10-03 15:38] aaronmcadam commented on #140
My biggest concern with the Select component is whether it will be easy to test in unit tests with Jest and End to End tests with Cypress. `react-select`, as least in version 2, makes it very hard to choose items.

Here's an example:

[code]

[2019-10-03 15:45] aaronmcadam commented on #135
Here are some nice ideas for table designs (from https://twitter.com/steveschoger/status/1167479729282310145):

![EDO4nm_XkAAPe-a](https://user-images.githubusercontent.com/37928/66142384-39293800-e5fd-11e9-8dc4-f92ee7fcf73a.jpeg)

[2019-10-03 16:32] segunadebayo commented on #142
I see what you mean.

Allowing users to compose the content of `MenuItem` was intentional and I understand that having the `icon` prop will save some time.

I'll consider adding that to the `MenuItem` component.

[2019-10-03 17:04] segunadebayo commented on #143
This is a very common problem with typescript and the "as" prop. Not sure how to fix it.

A temp walkaround will be to create a new component like this:

[code]

I'm not that good with TS but I think it's a good walk around for now.

[2019-10-03 17:28] aaronmcadam commented on #142
Don't get me wrong, I love the flexibility having users compose the content allows, it just seems like a common pattern people might want to implement is all. It's not a huge issue 😄

[2019-10-03 17:32] aaronmcadam commented on #143
I don't think that workaround is too bad.

I think we'd have to use generics, so it'd look something like this:

[code]

[2019-10-03 17:46] segunadebayo commented on #143
This looks interesting. I'd appreciate your PR on this on when TypeScript 3.7 is out.

Read through the blog post and the issue in Formik. Thanks for sharing, I'll look into generics.

[2019-10-03 17:48] segunadebayo commented on #142
For sure, I understand your point 😄. Thinking about it again, it makes sense. I'll add it to the `MenuItem` component.

[2019-10-06 14:37] aaronmcadam opened #147 "NumberInput: background color can not be overridden"
CodeSandbox: https://codesandbox.io/s/chakra-js-starter-iwy4d

I like to style my inputs with grey backgrounds when they are on white backgrounds.

It seems to work for `Input`, but it doesn't work for `NumberInput`

[2019-10-06 15:42] segunadebayo commented on #147
I'm currently looking to make the NumberInput API a bit more declarative so it's easy to change the styling. As a walkaround, you can pass `variant="filled"` to `Input` or `NumberInput` to give it a grey background interaction out of the box.

I'd release the patch as soon as I finish this.

[2019-10-06 15:44] aaronmcadam commented on #147
Ah, I didn't know that variant existed! Thanks!

[2019-10-06 15:44] segunadebayo commented on #147
Yeah, I'll add it to the docs soon 😄.

[2019-10-06 15:54] aaronmcadam commented on #143
I've just hit a similar problem with `<Link as={ReactRouterLink{} />` I can't get the custom type to work. The ref is a problem. I'll follow up with a sandbox in a minute

[2019-10-06 15:58] aaronmcadam commented on #143
Here's the sandbox: https://codesandbox.io/s/chakra-ts-starter-1thkj

[2019-10-06 15:59] aaronmcadam opened #148 "TypeScript: Link using React Router link as the `as` prop has problems with `ref`"
Using the trick mentioned in #143, the ref fails to work: https://codesandbox.io/s/chakra-ts-starter-1thkj

[2019-10-06 16:05] segunadebayo commented on #143
I guess we'll need to look into this `as` prop ASAP. Any ideas on how to fix this using generic types?

I'll look into this later.

[2019-10-06 16:43] aaronmcadam commented on #143
Yeah I don't know how to extend the types on my local project. This is blocking me, so I need to figure that out before I can override the types.

I'm trying this:

[code]

[2019-10-06 16:49] aaronmcadam commented on #143
I found this workflow on how to override the types cleanly: https://stackoverflow.com/a/54840439/104625

[2019-10-06 17:01] aaronmcadam commented on #148
@segunadebayo This patch seems to work for Link. What do you think?

[code]

[2019-10-06 17:01] aaronmcadam commented on #148
There's some extra noise in the patch, but if you search for `TComponentOverride`, it looks like TypeScript is inferring the type properly, at least for this use case.

[2019-10-06 17:03] aaronmcadam commented on #148
We'd have to copy how Formik export their main component in order to be able to pass the generic type down: https://github.com/jaredpalmer/formik/blob/master/src/Formik.tsx#L828

[2019-10-06 17:10] aaronmcadam commented on #148
I think `as` ends up being inferred as `any` | `React.Element`, if the override type doesn't get passed all the way down to the `As` type.

[2019-10-06 17:12] aaronmcadam commented on #148
@segunadebayo Which parts of this project are using TypeScript? Are any of the components implemented with it, or are you providing types by hand?

[2019-10-06 17:16] paynecodes opened #149 "Problems with <Image /> component"
First off, thank you for an awesome library. I hope this is one the community can support 🚀. I'm running into several problems with the `<Image />` component which I'll outline below.

## Problem 1 - `<img />` `width / height` props

HTML `<img />` accepts `width / height` attributes which helps the browser paint the screen without "jank". Currently, `<Box>` / styled-system / ?, takes these props

[2019-10-06 17:18] segunadebayo commented on #148
I'm looking at 2 options:
1. Update the ref attributes to use `any` instead of `HTMLElement` or `HTMLButtonElement`
2. Try the formik route and allow users to add a `ComponentOverrideProps` type.

Ideally, the as prop should be `string | React.ElementType`. Maybe we can throw in `any` if any of those 2 options don't work.

[2019-10-06 17:19] segunadebayo commented on #148
I'm providing type definitions by hand and testing it out locally. I'm looking to migrate to TS after the next release.

[2019-10-06 17:59] aaronmcadam commented on #148
I think option 1 would unblock usage and then another release could do option 2. If we can fix these type problems, migrating to TypeScript should hopefully be easier

[2019-10-06 18:29] segunadebayo commented on #148
It sounds like a good plan. I'll try out option 1 for the next release.

Thanks Aaron.

[2019-10-06 18:31] aaronmcadam commented on #148
Happy to help, thanks to you too, Segun ♥️

[2019-10-06 21:16] vbosch opened #150 "Question: how to consistently theme elements while using color mode?"
Hi,

First of all I would like to apologize if this is not the correct way to ask questions of how to use the library but I have been unable to think of an answer from reading the web documentation. Please let me know if there is another way/channel to perform this question.

I am in the middle of setting up the foundations for a new web and have moved from Material-UI to Chakra-UI because I love

[2019-10-06 22:37] alexluong opened #151 "[Idea] Gatsby integration for Chakra UI"
Hey there,

I'm building a Gatsby theme/plugin integration for Chakra UI so that people can just install that package and have Chakra set up right away.

Would you like that package to be hosted under this repo? If not, I can create a repo for it instead.

[2019-10-07 05:17] coodoo opened #152 "Different sizing unit for different component is a bit confusing."
Take `Box` for example, setting `borderRadius` to `4` (hoping it will match the key in `baseSizes` and value to be converted to `1rem`) is invalid, one has to either specify `10px` or one of the values from `radii` as seen below.

Hence one needs to know which sizing units are available to which component, this is a bit confusing, is there anyway to unify and make sizing units usable across all co

[2019-10-07 05:19] coodoo opened #153 "[Suggestion] Update doc site"
Seemed `Grid` is available in latest npm package and docs ready in the git repo, but just not uploaded to the main doc site 😉

[2019-10-07 09:11] segunadebayo commented on #153
Hi @coodoo. Yeah, I'll add it to the main docs site shortly.

[2019-10-07 09:36] segunadebayo commented on #151
This sounds like a good idea, Alex. Let's have in the repo.

What do I need to do for you be able to add it? Add you as an outside collaborator, correct?

[2019-10-07 09:37] segunadebayo commented on #151
@alexluong, I curious if you'd be able available to resolve any issues or PR related to this going forward.

[2019-10-07 09:38] alexluong commented on #151
You don’t have to do anything. I’ll make a PR once it’s ready!

And yeah I’d be happy to help going forward.

With that said, should I publish the package to npm or you?

[2019-10-07 09:45] aaronmcadam commented on #147
I've tried `variant="filled"` in the sandbox, but when I click on the input, it goes white. Is that by design @segunadebayo?

[2019-10-07 09:47] segunadebayo commented on #149
Hi @paynecodes,

Thanks for this detailed feedback. It makes a lot of sense.

Problem 1 - Sounds interesting and I'll look into this much later. It seems like an adjustment that needs to be made from `styled-system`. If you have some time to look into this as well, I'd appreciate a PR.

Problem 2 - I'll test this hook again to ensure it doesn't have multiple requests. The goal was to support the u

[2019-10-07 09:49] segunadebayo commented on #147
Yes, it's by design @aaronmcadam. I thought it was a common pattern, taking clues from AtlasKit by Atlassian.

Once I improve the API for the NumberInput, you'll have full control over the styling.

[2019-10-07 09:50] segunadebayo commented on #151
Sounds good.

I'll publish the package to npm once it's ready and tested.

Thanks for this Alex.

[2019-10-07 09:53] aaronmcadam commented on #147
No worries, I don't dislike it, I just expected `backgroundColor` to override it. Is it worth writing up a spec for the `NumberInput`?

[2019-10-07 09:56] aaronmcadam commented on #152
Try using numbers when you want the 4px sizing scale: https://codesandbox.io/s/chakra-js-starter-t7n8e

[2019-10-07 09:58] segunadebayo commented on #147
I see what you mean. Since NumberInput composes `PseudoBox`, you would be able to do this once the new API is released.

[code]

I'd suggest the spec should come after the new API release.

[2019-10-07 10:06] segunadebayo commented on #150
Hi Vicente,

At the moment, that's the only way to change the color for light and dark mode. As you'll see in the docs, this part is still a work in progress. Going forward we might use `theme-ui` to help manage the color modes.

Kindly find a walkaround for now, and if you think it makes sense to use your walk around in the library, please post it here so we can take a look.

Thank you using Chak

[2019-10-07 10:28] alexluong commented on #151
As I'm building the Gatsby theme in `packages/gatsby-theme-chakra-ui`, would you mind if I create an `examples/gatsby-starter-chakra-ui` directory that make use of that new package?

An alternative is that I create an outside Gatsby project and symlink it with this package. The idea is that when you test out the package, hopefully having the example can make it a bit easier for you.

[2019-10-07 10:36] segunadebayo commented on #151
That sounds good. Let's have it in `examples/gatsby-starter-chakra-ui`. I'm currently using a similar structure to test the core library in Typescript.

[2019-10-07 10:47] vbosch commented on #150
Hi Segun,

I wanted to be able to change later from a profile menu the fonts and color config so I created a theme object extending the default one and a color object for dark and light color config and allow users to consume and modify it with a hook: (I know I might be duplicating the actual Chakra-UI useTheme hook functionality but I wanted to have it all in one context)

`const themeObject = {

[2019-10-07 12:32] segunadebayo commented on #147
@aaronmcadam Here's a preview of the new API

[code]

This is a bit more declarative and gives you the room to override the styling of different parts.

The bug you showed the other day about clearing the value and it resetting to `0` has been resolved as well.

[2019-10-07 12:34] aaronmcadam commented on #147
@segunadebayo That looks great! I think `NumberInputStepper` might be a better name than `NumberInputSpinner` though.

[2019-10-07 12:38] aaronmcadam commented on #149
That's something I was wanting to be added too as an escape hatch for these edge cases 👍

Maybe we could add a "Recipes" page to the docs showing these workaround techniques.

[2019-10-07 12:47] segunadebayo commented on #147
Thanks for that feedback. `NumberInputStepper` sounds like a better name. I'll rename it.

[2019-10-07 14:38] aaronmcadam opened #154 "Tabs: is there a way to opt out of triggering tab switching for elements within the TabList?"
CodeSandbox: https://codesandbox.io/s/chakra-js-starter-w4vym

In my UI, I need an edit button that edits the tabs themselves.

When clicking on this button, my behaviour triggers, but it also tries to switch the tab to an empty state (because there isn't a 3rd tab, I'm guessing). Even with controlled state, the tab still switches. So in my `onClick` handler, I'm setting the `tabIndex` to the curr

[2019-10-07 16:58] wKovacs64 opened #155 "[TypeScript] Cannot import ITheme type"
I'd like access to [`ITheme`](https://github.com/chakra-ui/chakra-ui/blob/fe6faa8538bfb0e0e35ea85bc0a923164fc958aa/packages/chakra-ui/src/theme/index.d.ts#L10) to type my own theme instance, but it does not seem to be re-exported in the [main type definitions](https://github.com/chakra-ui/chakra-ui/blob/fe6faa8538bfb0e0e35ea85bc0a923164fc958aa/packages/chakra-ui/src/index.d.ts#L129).

PR incoming.

[2019-10-07 18:34] pnfcre opened #157 "Typo in docs"
Hi there,

I found a small typo in the docs: https://chakra-ui.com/style-props#background
![image](https://user-images.githubusercontent.com/24176136/66338501-88df6a80-e941-11e9-9c02-62875cfe4c39.png)

`bgImage` translates to the invalid CSS property `bg-img` when rendered.

However, `bgImg` works just fine, as stated in the table below:
![image](https://user-images.githubusercontent.com/24176136/

[2019-10-07 21:25] #155 closed

[2019-10-07 22:57] coodoo commented on #152
Yup, the key issue here is the unit size isn't consistent for all components, sometimes `4` works, sometime it didn't (for the example above, one needs to use `lg` instead of `4`), this is a bit confusing to the users.

[2019-10-08 12:45] tereartur opened #159 "Custom variants"
Hello!

1) It would be nice to use textStyles and buttonStyles that styled system exports from its variant package (https://github.com/styled-system/styled-system/blob/master/packages/variant/src/index.js).

But Box component don't add these to its systemProps.

2) But even better would be if there is a way to add your own custom variants. Like custom button style, text styles, heading styles etc.

[2019-10-08 13:08] segunadebayo commented on #159
Hi @tereartur,

I think the best way would be to add variants directly to the theme object and have it accessible via a `variant` prop. As you said, this already exists in Styled System and I'll look into adding this soon.

[2019-10-08 13:14] segunadebayo commented on #152
Hi @coodoo,

We followed the specifications of the Styled-System theme object that's why there's a radii key in the theme which is what you'd use for all `border-radius` properties.

If you want this to work `<Box borderRadius={4} />` and point to the sizes, you might need to extend the theme like this;

[code]

I'm not convinced we need to make the borderRadius options match that of sizes, by def

[2019-10-08 13:22] tereartur commented on #159
Thanks for answer @segunadebayo,

Ok, adding variants directly to theme object sounds nice.

Access through one prop like `variant` don't allow you to use multiple variants on one component.

For example I would like to have `<Button buttonType="secondary" textStyles="L14" />`. Secondary button type has custom bg, hover, border, border radius etc. TextStyles variant adds custom fontSize, lineHeigh

[2019-10-08 14:01] segunadebayo commented on #157
Thanks for catching this. I've fixed it and will release a patch soon.

[2019-10-08 14:33] jeanverster opened #160 "Export types of Chakra default theme object"
Hi there, first off thanks for this library - it is awesome!

I've run into a situation where I'd like to reference the values directly from the default chakra-ui theme as listed in the docs, but the current interface for the theme `ITheme` only extends the styled system theme types.

This works fine when using styled-system's props on the `Box` or `Flex` component for instance - but when I need t

[2019-10-08 14:59] SanvirSovTech commented on #135
It would be cool if it made use of the new, headless react-table v7 as well.

[2019-10-08 15:07] jeanverster commented on #135
Hi everyone, I have recently implemented a basic table using `react-table` v7 new headless API with chakra. Would be happy to make a PR if anyone would be interested in checking it out?

It's pretty simple, usage would be as follows:

`<Table columns={columns} data={data} />`

And it looks like this:

<img width="1921" alt="Screenshot 2019-10-08 at 10 06 27" src="https://user-images.githubusercont

[2019-10-08 20:29] wKovacs64 opened #161 "[CSSReset] Error: Could not parse CSS stylesheet"
There is an issue with some versions of [`jsdom`](https://github.com/jsdom/jsdom) where CSS comments (`/* ... */`) are not parsed correctly. I am attempting to leverage Chakra UI in an environment where I don't have control over the `jsdom` version (a `jest` dependency) and using the `CSSReset` component triggers this bug due to the comments in [`preflight.js`](https://github.com/chakra-ui/chakra-

[2019-10-08 20:32] caiorios opened #162 "[Docs] Add extra step in getting started section for babel-plugin-emotion installation"
Hello, first of all, congratulations for this awesome library!

I have been using it for a while. I installed the 0.2.8 version and everything went well following the current documentation. However, after updating the package to the latest version (0.3.2), it began to fire the following error:

`
Uncaught Error: Component selectors can only be used in conjunction with babel-plugin-emotion.
`

I ma

[2019-10-08 21:51] coodoo commented on #152
Looks good, thanks for pointing that out!

[2019-10-08 21:51] #152 closed

[2019-10-08 23:07] vbosch opened #164 "Toaster Error"
When using Toaster in the following create-react-app example:

[code]
I get the following error:

[code]
I have tried to duplicate the issue in a code-sand-box (https://codesandbox.io/embed/priceless-rubin-xw7ly) but the issue only seems to happen with create-react-app. The code is the same except for the service worker. The versions used of each library are the same as in the code-sand-box.

[2019-10-09 03:41] noeszc commented on #164
The same thing happened to me today when doing a clean installation of the node modules, and following the trail the error comes from the `toast-notes` package that downloads a version of `react-spring@9.0.0-canary` with which it stops working, `toast-notes` should be clamp the version of `react-spring@8.0.27` wich is last stable release.

[2019-10-09 04:52] simoncollins opened #165 "Using Chakra UI with react-hook-form"
Howdy,

Since Chakra UI has nice support for refs, I was able to convert the Formik example using `FormControl` over to using [react-hook-form](https://react-hook-form.com) very easily - https://codesandbox.io/s/chakra-ui-react-hook-form-v382z

If you think it's worthwhile having a ref+hook-based example of form handling in the docs let me know and I can create a PR.

[2019-10-09 06:57] pnfcre opened #166 "Dark theme bug on website"
Hi there,

I noticed that the GitHub button looks weird if you're using the dark theme on chakra-ui.com.

![image](https://user-images.githubusercontent.com/24176136/66458304-af50f300-ea72-11e9-9a82-db8e7c4800ee.png)

Kind regards,
Casper.

[2019-10-09 07:19] vbosch commented on #164
Thank you noeszc!!

To fix this I had to add the following lines to the package.json

[code]

Afterwards run:

[code]

(I had no clue how to clamp a version of a dependency so maybe this helps others)

I do not know if this is what one would call a final fix but I will close this issue.

[2019-10-09 07:19] #164 closed

[2019-10-09 08:25] pnfcre commented on #166
Also I might note that all imports in https://chakra-ui.com/getting-started appears to be invalid, shouldn't they be `import {} from "@chakra-ui/core"`, not `import {} from "chakra-ui"`? :)

[2019-10-09 11:53] segunadebayo commented on #165
Hi Simon,

Thanks for this. I'll add a "Recipes" to the docs we can include this idea.

If you can create a PR, I'd appreciate that. Here are the steps:
- In `packages/chakra-ui-docs/pages`, create a new file named `recipes.mdx`
- Add this to the recipes with a link to the codesandbox
- Submit a PR

I'd gladly merge your PR once you do this so I can include other recipes.

Thank you.

[2019-10-09 11:57] segunadebayo commented on #161
Hi Justin,

If you're sure that the comments in `preflight.js` are the issue, kindly remove the comments and submit a PR.

Thank you.

[2019-10-09 12:19] segunadebayo commented on #166
Hi Casper,

This is the docs site, I don't know how you got to this but it seems there was an issue with Zeit Now. I've updated the site.

[2019-10-09 12:19] #166 closed

[2019-10-09 15:06] wKovacs64 commented on #161
@all-contributors please add @wKovacs64 for code

[2019-10-09 17:34] simoncollins commented on #165
Thanks Segun, that sounds great. I'll get you a PR shortly that adds this.

[2019-10-09 20:50] chuckstock opened #169 "Recent Doc Update"
It looks like an older version of the docs got published. Seeing a search bar that does nothing. All the hooks are removed from the SideNav, and the Icon grid layout is not showing up.

[2019-10-09 21:54] #150 closed

[2019-10-09 22:01] segunadebayo commented on #169
Yes, I'm currently looking into it. Not sure what triggered it.

[2019-10-09 22:05] aaronmcadam commented on #148
Hey @segunadebayo, is there any chance of a quick release fix for this? I need to release a demo project soon and patching the package may not be a good solution. If I can help, I will of course!

[2019-10-09 22:15] coodoo opened #170 "AvatarBadge not showing up"
Here's a [minimum example](https://codesandbox.io/s/unruffled-silence-6slny) to have the issue reproduced.

[2019-10-09 22:41] coodoo commented on #170
Never mind, just saw the new doc and the syntax was changed to below, all's good now!

[code]

[2019-10-09 22:41] #170 closed

[2019-10-09 23:37] segunadebayo commented on #148
I think I figured out how to use TS generics to achieve this. Not sure how soon I can roll it out though. Let me get back to you on this one.

[2019-10-09 23:37] segunadebayo commented on #169
Updated the docs.

[2019-10-09 23:37] #169 closed

[2019-10-09 23:39] segunadebayo commented on #136
I've released a patch that resolves this.

[2019-10-09 23:39] #136 closed

[2019-10-09 23:41] segunadebayo commented on #129
I've released a patch

[2019-10-09 23:41] #129 closed

[2019-10-09 23:42] segunadebayo commented on #139
I've released a patch for this.

[2019-10-09 23:42] #139 closed

[2019-10-09 23:43] segunadebayo commented on #141
I've released a patch for this.

[2019-10-09 23:43] #141 closed

[2019-10-09 23:45] chuckstock commented on #169
Always impressed with your responsiveness @segunadebayo! Our whole company is moving over to Chakra and couldn't be happier, keep up the good work!

[2019-10-10 00:03] aaronmcadam commented on #148
@segunadebayo would you be able to suggest a workaround? Maybe I could use an emotion primitive and add the button styles myself?

[2019-10-10 01:50] coodoo opened #171 "Is a toggle button group being considered?"
[Something like this](https://material-ui.com/components/toggle-button/) from `material-ui` would come in real handy, mind giving it a thought and provide it out of the box?

<img width="944" alt="Screen Shot 2019-10-10 at 9 49 20 AM" src="https://user-images.githubusercontent.com/325936/66532786-42f1f480-eb43-11e9-9eef-6b5a1c9841c7.png">

[2019-10-10 08:21] segunadebayo commented on #148
Here's a walkaround: https://codesandbox.io/s/chakra-ts-starter-7uy7g

[code]

[2019-10-10 08:30] segunadebayo commented on #154
I'm not sure I understand this use case very well. Perhaps, you could add the modal that edits the task so I can get the full context. Then list out the expected behavior

[2019-10-10 08:34] segunadebayo commented on #169
Awesome! Thank you @chuckstock. I'm excited to hear that your company is moving over to Chakra.

[2019-10-10 08:36] franky47 opened #173 "[TypeScript] Incorrect merging of the onChange prop types"
I noticed that some components with the `onChange` prop have issues with TypeScript, namely:

- [ ] `NumberInput`
- [ ] `Editable`

Potentially affected, untested:
- [ ] `Accordion`
- [ ] `CheckboxGroup`
- [ ] `Menu`
- [ ] `Radio`
- [ ] `RadioButtonsGroup`
- [ ] `RadioGroup`
- [ ] `Select`
- [ ] `Tabs`

In those cases, the type for the `onChange` prop is not just the one defined in the interface f

[2019-10-10 09:07] segunadebayo commented on #173
I see what you mean. Thanks for this observation. Please feel free to make the changes as described and submit a PR.

[2019-10-10 10:22] aaronmcadam commented on #148
Thanks a million Segun!

[2019-10-10 10:24] aaronmcadam commented on #161
Ah, I wondered what was causing that! Thanks @wKovacs64!

[2019-10-10 10:30] aaronmcadam commented on #169
I second that, I've been using Chakra as my team's new basis for all new applications and our design system and have been bugging @segunadebayo for days now! 😆 He's been brilliant!

[2019-10-10 10:33] aaronmcadam commented on #139
Thanks!

[2019-10-10 10:33] aaronmcadam commented on #141
Thanks!

[2019-10-10 10:34] aaronmcadam commented on #169
I'm still seeing the old version though. I'm in the UK, is it possible that an cache edge hasn't been updated yet?

[2019-10-10 11:42] segunadebayo commented on #169
I'm not sure what's causing this problem. I've tried to update it again. Seriously considering moving to Netlify for the docs.

[2019-10-10 12:47] aaronmcadam commented on #169
Yeah it's back to the latest version now, thanks @segunadebayo

[2019-10-10 22:44] #5 closed

[2019-10-11 08:00] segunadebayo commented on #162
Hi @caiorios,

Are you using Component selectors within your app? I asked because Chakra doesn't use Component Selectors and I'm not sure we need to add `babel-plugin-emotion`.

Please confirm this.

[2019-10-11 08:02] segunadebayo commented on #171
Hi @coodoo,

Thanks for your request. I'll add it to the backlog. I'd like to move Chakra to TS before adding any new component. I'll definitely consider this.

[2019-10-11 16:04] caiorios commented on #162
Hi @segunadebayo, I reviewed all my code to answer your question. Yes, it is using in just one component. After I removed it, everything backed to work without babel-plugin-emotion.

In this case I agree that is not really necessary specify the need of installation of additional plugin to make the library to work.

Can I close the issue?

[2019-10-11 17:34] segunadebayo commented on #162
Great. I'm glad it's working now. I'll close this issue and PR.

If you still need to use Component Selectors then you'll need to install the `babel-plugin-emotion` in your project.

Thanks for using Chakra @caiorios.

[2019-10-11 17:34] #162 closed

[2019-10-14 19:14] Billmike opened #177 "[Popover] Would like to get more information regarding the help needed with the Popover component"
First off, I just want to express how immensely proud this project makes me feel. As a fellow Nigerian, I stand gidigba (excuse my French 😄) with this project. It is well documented, its APIs are easy to use and understand, and the components are highly accessible! Great work here @segunadebayo .

Now my question: I was going through the roadmap, and I saw you listed the Popover component as one t

[2019-10-14 19:53] Billmike opened #178 "[Documentation] State explicitly how a PR should be raised when contributing"
I was going through the contributing guidelines hoping to see if it stated how to proceed with raising a PR. There's currently no outlined structure, but going through the PRs raised so far, I could observe that we are raising a PR from a fork against the master branch. This method works great, and I think it should be included in the documentation as well so it's easy to onboard future contributo

[2019-10-14 19:53] segunadebayo commented on #177
Hi @Billmike,

Thank you brother, I'm glad you're excited about Chakra. The Popover is pretty complete already, I just forgot to update the roadmap. Where I'd say I need help is Single Select Component, I have it's API documented here #140. Feel free to jump on this if it interests you.

Thanks again.

[2019-10-14 19:54] segunadebayo commented on #178
Yes please, feel free to modify the contribution guide to include this.

Thank you.

[2019-10-14 19:58] Billmike commented on #178
Awesome! On it

[2019-10-14 19:58] Billmike commented on #177
Alright. Taking a look now

[2019-10-15 12:19] Billmike commented on #38
@eranimo Has work begun yet on this component?

[2019-10-15 14:12] eranimo commented on #38
@Billmike Yes, I have started. Things have been crazy at work recently though, but I'll post a PR this weekend.

[2019-10-15 14:25] Billmike commented on #38
Awesome then!

[2019-10-15 16:06] jescowuester opened #180 "Docs code examples not accessible"
When you try tabbing through the docs you'll get stuck in the code examples. esc brings you back to the page root and tab just modifies the text.

[2019-10-16 01:17] zaguiini opened #181 "[NumberInput] incrementing twice"
Every time I do some action on the `NumberInput` example on the [docs](https://chakra-ui.com/numberinput) (e.g. increase or decrease), it repeats the action. Example:

- Value is `2`, then I press the increase button once and it becomes `4` instead of `3`.

This happens on Google Chrome on Android, running MIUI 10.3.

[2019-10-16 01:18] zaguiini opened #182 "[NumberInput] not showing numeric keyboard"
The `NumberInput` example on the [docs](https://chakra-ui.com/numberinput) doesn't open for edition with the numeric keyboard.

This happens on Google Chrome on Android, running MIUI 10.3. Not tested with other browsers but I suspect the behavior would be the same since the input itself is marked as of type `text`.

[2019-10-16 01:52] paynecodes commented on #149
I see the work for the image width/height happening here: https://github.com/chakra-ui/chakra-ui/commit/e4b61652c87e4d76963115d2808c8937edc6224e

👍

[2019-10-16 02:24] zaguiini opened #183 "React Native support"
First of all I'm sorry if this is not the correct place to do this.

So I'm seeing this UI library and it's astonishing. I didn't see such beauty in a while and I'm wondering if we could extend this exact lib to React Native.

I know it's a huge step and I don't expect it to be fast, but in my point of view it would be amazing since I don't know many libraries that has this kind of support.

What

[2019-10-16 10:03] #165 closed

[2019-10-16 10:04] #177 closed

[2019-10-16 10:04] #178 closed

[2019-10-16 10:06] segunadebayo commented on #149
@paynecodes, yep. It's live already, check here: https://chakra-ui.com/image#props

Currently working on the Typescript issue.

[2019-10-16 10:30] segunadebayo commented on #180
Hi @jescowuester,

I'm not sure what you mean. At the moment, when focus is inside the text editor and you hit `esc`, it blurs out of the editor to allow you "tab" to other elements.

This is handled by `react-live`, the code editor we use for the docs. Feel free to suggest walkarounds as well.

[2019-10-16 10:34] segunadebayo commented on #182
Hi @zaguiini,

To make the `NumberInput` show the numeric keyboard, simply pass `type="number"` to the `NumberInputField`.

We didn't add it by default because we think `NumberInput` might get it's own "mobile" implementation soon.

[2019-10-16 10:48] segunadebayo commented on #181
Oops. I just confirmed this bug. I'll look into it shortly.

I'd appreciate your PR as well

[2019-10-16 11:34] segunadebayo commented on #183
This sounds interesting @zaguiini. It's not in the pipeline at the moment but it's something worth considering. Feel free to start some work on it if you're interested, maybe pick a few components to implement in React Native.

I don't know React Native at the moment but I'd be happy to look through the code once you have a PR.

[2019-10-16 11:38] segunadebayo commented on #84
I'll close this issue for now since there's not much conversation around it

[2019-10-16 11:38] #84 closed

[2019-10-16 13:07] zaguiini commented on #181
I'll work on it!

[2019-10-16 13:09] zaguiini commented on #182
Ok, if this is expected behavior we can close that issue.

If you want me to fill a PR to change the default type to number, I'll do it!

[2019-10-16 13:29] zaguiini commented on #183
Could you pin this issue so more people interested on it can see it?

[2019-10-16 16:23] zaguiini opened #185 "[NumberInput] Bad UX on mobile"
It's not easy to increase or decrease the number on mobile phones. The action buttons are too small.

![image](https://user-images.githubusercontent.com/26530524/66938797-3b858c00-f018-11e9-919d-d149a0f63913.png)

We could put them side by side with square buttons instead of two small buttons on top of each other.

[2019-10-16 16:31] segunadebayo commented on #185
Hi @zaguiini,

This NumberInput pattern isn't appropriate for mobile like I mentioned earlier. Here's an example of what a mobile implement might look like:

![image](https://user-images.githubusercontent.com/6916170/66939323-c5465100-f03a-11e9-971e-afe45e9778f4.png)

We'll add this type of component soon so improve the mobile UX.

[2019-10-16 16:32] zaguiini commented on #185
Ok! Closing this issue then. Thanks!

[2019-10-16 16:32] #185 closed

[2019-10-16 16:36] segunadebayo commented on #185
Since we have the `useNumberInput` hook, we can easily create this mobile version.

[2019-10-17 10:39] kripod opened #187 "[Stack] Fix spacing of items when flex-direction is reverse"
Currently, `spacingProps` [does not take](https://github.com/chakra-ui/chakra-ui/blob/3c56d1fb1f9f269c7e3ce036a02f6f374e43d003/packages/chakra-ui/src/Stack/index.js#L32-L35) reversed `direction` into account. For reversed direction, `ml` and `mt` should be used instead of `mr` and `mb`.

[2019-10-17 11:16] omarkhatibco commented on #187
@kripod I was ging to report about this problem.

[2019-10-17 11:26] kripod opened #189 "[Stack] Add `isReversed` prop"
In order to avoid using the "low-level" flex-direction API and follow the design of `isInline`, I propose adding an `isReversed` prop to `Stack`, defaulting to `false`.

In my recent pull request (#188), I already [added the variable](https://github.com/chakra-ui/chakra-ui/blob/c4c8b42246b93c0fe1774979ee8a013abfef281a/packages/chakra-ui/src/Stack/index.js#L19), but its value is bound by `direction

[2019-10-17 13:44] jescowuester commented on #180
Seems it only happens when you modify the field. I really like the way reakit handles these fields, let me see if I can find out how they do it :eyes:

[2019-10-17 14:23] jescowuester opened #191 "Docs: add copy to clipboard to install/import snippets"
Right now examples of import like
[code]
Don't have that little copy button in the top right corner, would be nice to add it there as well.

Happy To submit a PR for this if this is desired.

[2019-10-17 15:04] menberg commented on #149
@segunadebayo Thanks for your amazing work!

Regarding Problem 2 – the images are flashing when using the useImageHasLoaded hook, even when the images had been loaded before. Best seen on the Avatar page https://chakra-ui.com/avatar while switching the theme from light to dark.

I think the useHasImageLoaded hook should return true if the the image can be found in the cache. Would this be possible

[2019-10-17 16:26] ChrisLusted opened #192 "Property 'type' does not exist on VisuallyHidden compoenent types"
Hello,

i'm using an example from the docs [here](https://chakra-ui.com/controlbox#usage) in my project I get a Typescript error on the `VisuallyHidden` component. I think there maybe an issue with the type definition.

[code]

created a codepen example here - https://codesandbox.io/s/chakra-ts-starter-ii7wc

[2019-10-18 08:49] kripod commented on #49
@tioluwani94 Unfortunately, no patch has been released for this. I would like to know whether the issue can be re-opened.

[2019-10-19 06:21] #157 closed

[2019-10-19 10:44] #189 closed

[2019-10-19 10:44] #187 closed

[2019-10-19 10:49] #182 closed

[2019-10-19 10:52] segunadebayo commented on #180
That would be great. I'll appreciate a PR once you figure it out.

[2019-10-19 10:54] segunadebayo commented on #191
Yes please, submit a PR for this and I'll merge it.

[2019-10-19 11:00] segunadebayo commented on #101
I believe the recent release addressed this issue by providing a more declarative API so you can style the number input's field and steppers.

I'll close this now. Thanks

[2019-10-19 11:00] #101 closed

[2019-10-19 11:52] screendriver opened #194 "[TypeScript] Can't use <Link /> with Gatsby <Link />"
I want to use the `Gatsby` [Link](https://www.gatsbyjs.org/docs/linking-between-pages/) component together with Chakras [Link](https://chakra-ui.com/link) component. Unfortunately it seems not to work as expected because I'm getting compile errors:

[code]

produces a

[code]

[2019-10-19 12:02] kripod commented on #151
Great initiative!

@segunadebayo May I ask you to publish `gatsby-plugin-chakra-ui` on npm? I am very curious about this new approach.

[2019-10-19 12:48] kripod opened #196 "[CheckboxGroup] Numeric values don't work in uncontrolled mode"
When a `CheckboxGroup` is not [controlled](https://github.com/chakra-ui/chakra-ui/blob/ad066ae851afc671d8f0de93e82767469b1b7fdd/packages/chakra-ui/src/CheckboxGroup/index.js#L27), giving numeric `value` props to children breaks the [`isChecked` mechanism](https://github.com/chakra-ui/chakra-ui/blob/ad066ae851afc671d8f0de93e82767469b1b7fdd/packages/chakra-ui/src/CheckboxGroup/index.js#L63), as `_va

[2019-10-19 15:14] segunadebayo commented on #194
Hi @screendriver, We're currently working to fix most Type issues by migrating to Typescript.

In the next release, this issue will be resolved.

[2019-10-19 15:15] segunadebayo commented on #192
Hi @ChrisLusted,

Yes, it's an issue with the type definition. We're currently migrating the codebase to TS. Once we release it, this issue will be resolved.

[2019-10-19 15:17] segunadebayo commented on #196
I see what you mean @kripod. Can you provide a quick codesandbox link so I can verify this?

I believe this can be resolved so the values can take both string and numeric values.

[2019-10-19 15:25] kripod commented on #196
@segunadebayo Thanks for the quick review! Unfortunately, I don't have the time to construct a CodeSandbox right now, but here is an example snippet:

[code]

[2019-10-19 17:07] screendriver commented on #194
Awesome :+1: Great library by the way :wink:

[2019-10-19 17:07] #194 closed

[2019-10-19 17:21] kripod commented on #194
@segunadebayo Awesome news! I would highly appreciate if you could push just another non-TS release to npm with all the recent fixes.

[2019-10-19 17:49] kripod opened #197 "[ESLint] Create config for auto-sorting style props"
Similar to how [stylelint-config-rational-order](https://github.com/constverum/stylelint-config-rational-order) works, an ESLint config (e.g. `eslint-config-chakra-ui`) could be created to handle ordering of style props, placing them after non-stylistic props in an [idiomatic order](https://github.com/necolas/idiomatic-css).

The rule [jsx-sort-props in](https://github.com/yannickcr/eslint-plugin-

[2019-10-19 20:09] steida opened #198 "Tree shaking with Next.js"
It seems the whole lib is imported when the only Button is used.

But https://bundlephobia.com/result?p=chakra-ui@0.3.9 says the lib is tree shakeable.

Is there any working example? Thank you.

[2019-10-19 20:48] kripod commented on #196
Actually, I just came across #102 and created a CodeSandbox based on the template: https://codesandbox.io/embed/chakra-ui-issue-196-vvq22

[2019-10-20 06:16] kripod opened #199 "Migrate to Theme UI and shadow its components for a better ecosystem"
As Theme UI Components have [just been released](https://twitter.com/jxnblk/status/1185583086823772161), I realized they could provide a stable foundation for Chakra’s components. The `sx` prop could also come handy in some situations, and accessibility-related improvements could be backported to Theme UI, improving the ecosystem for everyone.

[2019-10-20 14:40] #181 closed

[2019-10-20 14:43] segunadebayo commented on #196
Okay, I'll look into it. We're currently looking to migrate Chakra to TS to resolve most of the type issues. I'll ensure we resolve this when we work on the `CheckboxGroup`.

[2019-10-20 14:44] segunadebayo commented on #198
Hi @steida, can you try this:
`import  Button from "@chakra-ui/core/dist/Button"`

[2019-10-20 14:46] segunadebayo commented on #199
I've been thinking about this as well. We're definitely moving to `theme-ui` once we can migrate all components to TS. Then, we'll look into this.

[2019-10-20 14:47] segunadebayo commented on #194
@kripod, I'll do that shortly.

[2019-10-20 14:48] #131 closed

[2019-10-20 14:49] #147 closed

[2019-10-20 14:49] #153 closed

[2019-10-21 08:05] kripod opened #200 "Add accessible Carousel component"
WAI-ARIA Authoring Practices has a [section](https://www.w3.org/TR/wai-aria-practices-1.1/#carousel) about building accessible carousel components:

I think there is a great opportunity to build a composable component by following [Reach UI's Philosophy](https://gist.github.com/ryanflorence/e5c794e6093d16a69fa88d2112a292f7). As I've observed, there are several layers of abstraction:

- Carousel –

[2019-10-21 08:24] cschroeter opened #201 "Box does not expose properties"
I discovered some issues using Box as an svg component.

[code]

[code]

[code]

[2019-10-21 08:47] kripod commented on #200
An improved structure which just came to mind:

- [ ] **Carousel** – Wraps `CarouselContainer` along with initialized `CarouselControls` and `CarouselRotator`, passing children directly to the latter
- [ ] **CarouselContainer** – Responsible for setting ARIA props, e.g. `aria-roledescription` to `carousel`
- [ ] **CarouselControls** – Contains children to navigate between slides and toggle auto-ro

[2019-10-21 09:25] segunadebayo commented on #200
Good work @kripod. To help us comprehend this better, it'll be nice to share a codesandbox link as well. It might also help if you show an example of how the components will be used. Something like:

[code]

Not sure if this is the right structure but it's looking exciting already. For the `inert`, We already use a library called `aria-hidden` to help make dom nodes behind a modal `inert`. You can

[2019-10-21 10:14] cschroeter commented on #201
This would do the trick
[code]

[code]

[2019-10-21 10:16] kripod commented on #200
@segunadebayo The structure is exactly as you’ve outlined, and `Carousel` could be used as follows:

[code]

As for the tip about the `inert` attribute, thanks for the heads-up, I’ll look into the source of `Modal`.

[2019-10-21 10:40] segunadebayo commented on #201
Hi @cschroeter,

Yes, that's a good walk around. We're currently migrating the components to TS so you'll be able do something like this using TS Generics:

[code]

When this is released, this issue will be resolved.

[2019-10-21 11:34] kripod commented on #200
While [`aria-hidden`](https://github.com/theKashey/aria-hidden) (both as a library and an attribute) conceals given elements from the accessibility tree, it doesn't disable tabbing through them, [in contrast to the `inert` attribute](https://github.com/WICG/inert/blob/3d77d5ef431780ac72919d8ada151260631befdd/src/inert.js#L72-L81). If slides contain focusable or searchable elements, then the `inert

[2019-10-21 11:48] segunadebayo commented on #200
I agree. If you check the code, you'll see that we used a combination of `aria-hidden` and `react-focus-lock`. However, I'm excited to see how the `inert` attribute solves this issue.

[2019-10-21 15:52] kripod commented on #200
I've made some progress by separating concerns and adding props like `infinite`, `autoPlay` and `playInterval`.

#### Carousel.tsx

[code]

#### CarouselContainer.tsx

[code]

#### CarouselControls.tsx

[code]

#### CarouselRotator.tsx

[code]

#### CarouselSlide.tsx

[code]

[2019-10-21 20:32] alexluong commented on #151
@kripod the [package](https://npmjs.com/package/gatsby-plugin-chakra-ui) is published 🎉 Thank you @segunadebayo

[2019-10-21 20:32] #151 closed

[2019-10-21 20:45] segunadebayo commented on #149
@menberg, sounds like a good idea. I'll try it out.

[2019-10-21 20:46] segunadebayo commented on #151
@alexluong, you're welcome. I'll post about it soon and mention you.

Thanks for your work on this.

[2019-10-21 21:02] kripod commented on #151
@alexluong Awesome work! However, shadowing the theme with a TypeScript file (`theme.ts` or `theme.tsx`) doesn't seem to work.

[2019-10-21 22:05] kripod opened #202 "[Modal] Consider using CSS Overscroll Behavior"
Scroll management has become [easier](https://developers.google.com/web/updates/2017/11/overscroll-behavior) with the [`overscroll-behavior`](https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior) CSS rule. A [polyfill](https://github.com/wessberg/scroll-behavior-polyfill) is also available to maintain compatibility with older browsers.

[2019-10-22 14:18] ruslan-mystore opened #203 "Can't use custom color from theme in Button component"
trying to use custom color from theme object in button component

That's not working

`
        <Button variantColor="newColor" size="md">
          Button
        </Button>
`

But when using same color in Box component , it's working:

`
        <Box my={2} bg="newColor">
          some box here
        </Box>
`

here is the example:
https://codesandbox.io/s/vibrant-bush-76581

[2019-10-22 15:24] segunadebayo commented on #203
Hi @ruslan-mystore,

I should have made it clearer in the docs but to use to `variantColor` with a custom color, you need to create a color object of this shape:

[code]

The reason is that `Button` has interactive styles (hover, action, disabled) and we pick color values from the object to make it work out of the box.

Use a tool like https://colorbox.io or  https://smart-swatch.netlify.com to ge

[2019-10-22 21:15] cschroeter commented on #201
Awesome! Looking forward for TypeScript support :)

[2019-10-22 21:15] #201 closed

[2019-10-22 21:18] cschroeter opened #204 "Deal with custom icons in TS"
Following the guide to add custom icons I get an TypeScript eror that the name is not assignable.

[code]

[code]

Is there a ways to override the `export type Icons ..` ?

[2019-10-23 07:58] SimonDegraeve commented on #134
Using yarn and forcing resolution works as temporary fix.

[code]

[2019-10-23 17:00] segunadebayo opened #205 "Migrate to TypeScript"
We're currently migrating the codebase to TypeScript to provide better type safety across all components.

If you have any typescript related concerns, kindly comment below and find a walkaround for now till the TS version is released.

Cheers.

PS: Want to contribute to the migration, check out the `dev-ts` branch.

[2019-10-23 17:03] #160 closed

[2019-10-23 17:03] #191 closed

[2019-10-23 17:18] wKovacs64 opened #206 "[Input] custom padding alignment issue in IE11"
Found a strange issue when trying to use Chakra UI in an app that targets IE11. If you put custom padding on an `Input`, it will start with the input text aligned to the bottom of the input. Clicking it will then cause it to jump. I think it has something to do with `line-height` but I haven't been able to narrow it down exactly.

---

Demo:

![chakra-input-padding-ie11](https://user-images.github

[2019-10-23 18:27] segunadebayo commented on #206
Yes, it has to do with the `height`, `line-height` and `padding` combo in IE11.

My guess is that you might need to get rid of `line-height` or `height` to use padding.

I haven't tested it yet but I'll look into it soon.

[2019-10-23 18:48] cschroeter commented on #205
The inferface for `<Switch />` requires a children - which is not intended i guess ^^

[2019-10-23 21:00] kripod opened #207 "[Stack] Spacing overrides margin values given directly to children"
When using a `Stack`, it sets the `mt`, `mr`, `mb` or `ml` props of its children to value determined by `spacing`. Unfortunately, they cannot be overrided manually:

[code]

[2019-10-23 21:33] segunadebayo commented on #207
I see what you mean. Please feel free to send a PR to fix this.

We'll have to check if `child.props.mr || child.props.marginRight` exists and use that instead of `spacing` value.

[2019-10-23 21:34] kripod commented on #207
On the other hand, this behavior might be intentional, and `Flex` with `flexDirection="column"` should be used as an alternative.

[2019-10-23 21:37] segunadebayo commented on #207
I agree. Let's leave it as it is in order not to complicate the `Stack` component.

Thanks for this suggestion.

[2019-10-23 21:39] segunadebayo commented on #207
Closing this in favor of the suggested alternative.

[2019-10-23 21:39] #207 closed

[2019-10-24 01:29] kripod commented on #200
Finally, I'm ready with the first version of the Carousel, implementing the basic variant outlined [in WAI-ARIA Authoring Practices 1.1](https://www.w3.org/TR/wai-aria-practices-1.1/#basic-carousel-elements). Unfortunately, I wasn't able to set up a CodeSandbox, but the code is available as a [part of a project](https://github.com/kripod/exigo/blob/415579b51c64e22fe866b63c5968005d4854a6b6/src/page

[2019-10-24 11:44] kripod commented on #200
Legacy browser support is now available, along with several improvements for handling window size changes.

The latest source can be viewed from [here](https://github.com/kripod/exigo), along with a [live demo](https://exigo.netlify.com/carousel-demo).

[2019-10-24 23:24] kripod commented on #200
I’ve sent a pull request, but have to mention the following annoyances:

- Carousel IconButtons have `variantColor=“blackAlpha”`, which are too transparent (0.08% visibility) in dark mode, causing a low contrast ratio. Is there a way to overcome this without having to hard-code values and overriding `_hover`? (@segunadebayo)
- Reduced motion setting isn’t respected after server-side rendering. Thi

[2019-10-25 10:22] segunadebayo commented on #200
@kripod, you might need to override the `_hover`, for now.

I'll look through the code soon.

[2019-10-25 11:23] coodoo opened #209 "Baking Suspense Transitions Into the Design System"
Although `suspense` is still in experimental phase but might as well taking it into consideration for next release, see details here:

https://reactjs.org/docs/concurrent-mode-patterns.html#baking-transitions-into-the-design-system

[2019-10-25 19:15] astahmer commented on #102
Well, if you're still interested in a CodeSandbox for Next JS + Typescript + Chakra-UI, I just made this : https://codesandbox.io/s/github/astahmer/sandbox-next-ts-chakra

[2019-10-25 20:59] Vynlar commented on #205
I am tinkering with the new `dev-ts` branch and have an observation: In the `CloseButton` component, the `aria-label` prop is optional; however, I believe that it should be required for accessibility reasons.

The larger question is: should we use the power of types to _enforce_ accessibility? This is what the `elm-ui` library does over in the `elm` world to great effect. It's a bit of a philosoph

[2019-10-25 22:03] Vynlar commented on #7
I've started back up on this on the `dev-ts` branch. Doing lots of learning about how jest works in the context of a monorepo. I'll post things here as I discover more.

[2019-10-26 11:00] vuhg opened #211 "Wrap the Display Name for Easy Debugging"
Hey guys,

What do you think about adding `displayName` to chakra-ui's components for easy debugging in React Dev Tools? ([React docs](https://reactjs.org/docs/higher-order-components.html#convention-wrap-the-display-name-for-easy-debugging))

Current state:
<img width="945" alt="Screen Shot 2019-10-26 at 17 51 48" src="https://user-images.githubusercontent.com/54054422/67618407-78703080-f819-11e9

[2019-10-26 11:26] segunadebayo commented on #205
@Vynlar. All components will be reviewed and tested multiple times before we release it. Thanks for that observation though. I will correct that.

I agree that we should use the power of types (for TS) and `console.warn` (for JS) to enforce accessibility. If there's any accessibility we can't handle out of the box, then it makes sense to enforce it and put some nice comments/links to help educate

[2019-10-26 11:30] segunadebayo commented on #7
@Vynlar, the monorepo uses TSDX so there's not much setup needed. We just need to start writing tests. I already installed `@testing-library/react` as well.

[2019-10-26 11:32] segunadebayo commented on #102
Thanks for adding this @astahmer

[2019-10-27 09:21] alexluong commented on #194
Hey @screendriver, do you have a quick fix for this issue while waiting for the TS migration? Thanks.

[2019-10-27 09:23] alexluong commented on #205
Would like to second #194. Not sure what the work around is at the moment.

[2019-10-27 09:28] kripod commented on #194
@alexluong You may opt out of type checking for an entire file with // @ts-ignore, but I wouldn’t recommend that.

An other choice is to create an alias for Link like below:

[code]

Personally, I'm using Chakra with the router of Gatsby and it made sense to create a custom `Link` component, using the first approach:

[code]

[2019-10-27 11:24] kripod opened #212 "[Checkbox] May cause unwanted horizontal overflow"
As written in the title, the `Checkbox` component may cause an undesired overflow when wrapped inside a horizontal scroll container, e.g. inside a slide of a [`Carousel`](https://github.com/chakra-ui/chakra-ui/issues/200#issuecomment-545702115).

The fix is as simple as adding a `position="relative"` wrapper for `VisuallyHidden` to compensate for absolute positioning.

[2019-10-27 18:00] rumkin opened #213 "Popover focus restoration"
## Problem

After popover loose focus, the popover target element became focused even if another element on the page receive focus. If the page was scrolled, it scrolls back to popover target.

## Steps to reproduce

1. Open https://chakra-ui.com/popover
2. Press "Trigger".
3. Scroll one or two screens to the bottom.
4. Select focusable element.

## Current behavior

Popover target receive focus.

[2019-10-28 10:02] segunadebayo commented on #213
Hi @rumkin,

To prevent this from happening, you can use the `returnFocusOnClose` prop. If you set it to `false`, you'll get the expected behavior.

Popover can be in controlled mode, this means the element/event that opens/closes the Popover might not be within popover controls. This makes it a bit challenging to implement your solution.

Try using this prop: `<Popover returnFocusOnClose={false}>

[2019-10-28 10:04] segunadebayo commented on #204
Hi @cschroeter,

We'll look into this in the next TS release. I hope you can find a walkaround for now.

[2019-10-28 10:31] rumkin commented on #213
But won't it brake a11y? As I thought current behavior is made for screen readers and other keyboard-only/supportive technologies. I would like to get both behaviors out of the box.

[2019-10-28 10:45] segunadebayo commented on #213
For a11y, it's important that focus returns to the element that triggered the Popover (if that element is still visible on the page).

I'm afraid you might not be able to get both behaviors out of the box.

The behavior you explained is mostly for mouse inputs. For keyboard users, you'll have to focus one element at a time using `tab`, and you'll have to close the Popover before moving to other el

[2019-10-28 10:51] segunadebayo commented on #213
I'll look into this and see if there's a way to return focus without scrolling the page

[2019-10-28 11:14] cschroeter commented on #204
yeah somehow ^^ @segunadebayo  if you need any help with the ts release please let me know

[2019-10-28 11:14] #204 closed

[2019-10-28 11:27] rumkin commented on #213
Maybe my solution isn't the correct or one that should be implemented. But the current one seems confusing for me. I wish it be more like default behavior. I've created a [fiddle](https://jsfiddle.net/rumkin/bw7ty62p/) for select's element popover behavior test. Browsers has different behavior on this issue:

1. Chrome and Safari prevent from scrolling.
2. Firefox hides popover on scroll.

If you'

[2019-10-28 11:59] segunadebayo commented on #213
Good suggestions @rumkin.

Supporting default browser behavior sounds good. Here are 3 possible solutions we could implement based on your ideas:

1. Prevent scroll jumping when the popover closes.
2. Prevent scrolling and allow users to disable this via a `blockScrollOnOpen` prop.
3. Hide popover when you scroll within the body.

I think option 1 will be implemented by Chakra. Do you think it's a

[2019-10-28 12:02] segunadebayo commented on #204
Yes, I need some help with the ts-release, particularly around theming and supporting custom types for icons, component variants, sizes, etc.

If you have any ideas, I'll love to hear them.

[2019-10-28 16:06] cschroeter commented on #204
@segunadebayo regarding the icons:

I think it is not the best approach having the icons within your theme. From a developer point of view its pretty nice to write something like `<Icon name="close" />`.

The downside on this approach that you have no tree shaking option here, since you always will add all the icons to your bundle. So if I only add one icon in my app, all other icons also gets bun

[2019-10-28 18:19] rumkin commented on #213
## Part I

I've researched a little bit and found one implementation that almost satisfy my requirements it's [Reakit's popover](https://reakit.io/docs/popover/), it behave exact like what I think it should to.

I found another case: if you update the [Popup basic usage example](https://chakra-ui.com/popover#basic-usage) with the next code, you will receive incorrect behavior.
Steps to reproduce:

[2019-10-28 19:25] segunadebayo commented on #213
Thanks for this detailed feedback @rumkin. I'm going to wait for more comments on this and then look into its implementation.

[2019-10-29 06:12] kermopajula commented on #38
Hey, any updates on this?

[2019-10-29 07:52] screendriver commented on #194
My quick fix is to not use the link component from Chakra :see_no_evil:

[2019-10-29 14:37] iamandyk opened #214 "Do Components Come With Built In Default Dark Mode Styles?"
First off, I just want to say this is the best UI library I've ever worked with so thank you! I just am a little bit confused about Dark Mode? If we use the default theme object and turn on dark mode, are the components supposed to have a default dark theme? I currently don't have dark mode turned on but my modals appear to have dark styles. I'm not sure what I may be doing wrong. I'm using NextJS

[2019-10-29 14:47] juhaelee opened #215 "How to change color of tabs"
Is there a way to change the color of the tabs that's not the default blue?

[2019-10-29 16:27] segunadebayo commented on #215
Hi @juhaelee,

I assume you mean the color of the `Tab` when it's active. There are 2 ways (I'll add it to the docs)

1. Pass a `variantColor` prop to the `Tabs` component and set it to a key in `theme.colors`

[code]

2. Pass `_selected` prop to any `Tab` component and use the style props.

[code]

[2019-10-29 21:21] kripod commented on #200
Sorry for the radio silence. I'm working on my thesis at university and using Chakra as a UI lib to execute my project for that. I just realized that a Carousel may be controlled outside of a `CarouselRotator`, but controlled props may be ditched in favor of the `useCarouselControls` hook for improved interoperability with the inner state.

For instance, while controlling the component occasionall

[2019-10-30 02:29] juhaelee commented on #215
Thanks for the quick response @segunadebayo ! However, I get the following error when I try option 1:

[code]

[2019-10-30 04:58] daniel-lovell opened #216 "".500" added to variantColor"
My code:
<img width="262" alt="Screen Shot 2019-10-29 at 9 45 54 PM" src="https://user-images.githubusercontent.com/10445825/67830203-0016a300-fa97-11e9-938f-606f25610c66.png">

Chrome:
![Screen Shot 2019-10-29 at 9 45 25 PM](https://user-images.githubusercontent.com/10445825/67830210-0442c080-fa97-11e9-8ae6-6307ed49c30c.png)

[2019-10-30 12:49] hendrikniemann opened #217 "fonts theme property should influence components"
Currently when I change a property like `fontSizes` it changes the appearance of my `<Heading>` and other components accordingly. That is because they come with a default value for the size. But when I change the `fonts` property there is no change to for example the `<Heading>` even though the name of the subproperty `heading` strongly suggests that.

[This is the relevant section in the docs](ht

[2019-10-30 12:54] hendrikniemann commented on #216
The button has not only one color but multiple based on its state (e.g. `:hover`). This is why `variantColor` expects you to supply a [color from the theme](https://chakra-ui.com/theme#colors) that defines different shades. You can also add your own colors in your theme by extending the theme.

[2019-10-30 15:33] jaredpalmer opened #218 "Make menu enter/exit animatable"

[2019-10-30 15:35] jaredpalmer commented on #198
@segunadebayo something to consider is creating a babel plugin for Chakra like React Native Web's which rewrites all named imports into "pre-shaken" imports like you just described.

[2019-10-30 18:12] segunadebayo commented on #198
Thanks for that idea @jaredpalmer. I'll look into it.

[2019-10-30 18:21] segunadebayo commented on #216
Hi @daniel-lovell,

Just like @hendrikniemann has mentioned, the button's `variantColor` should be a color key in the theme object. We use it to determine the interaction colors or the button to save you time.

In the future, we'll consider supporting raw hex codes and find a smart way to generate interaction colors.

For now, you can only pass colors that have the 50-900 hues. Check https://chakr

[2019-10-30 21:54] hendrikniemann commented on #217
Great, I will do that. I think this would be considered a breaking change. We can then maybe discuss the implications of this in the PR thread.

[2019-10-31 20:33] daniel-lovell commented on #216
Thanks! This helps a lot.

[2019-10-31 20:33] #216 closed

[2019-10-31 20:52] diegohaz commented on #213
On Reakit we check if there's already a tabbable element with focus before moving focus back to the trigger button:
https://github.com/reakit/reakit/blob/11b7bfa6895818cc7de7bf04d4fca4447965081b/packages/reakit/src/Dialog/__utils/useFocusOnHide.ts#L18-L28

[2019-10-31 21:52] noahcoomer commented on #205
`AvatarGroup` is missing a type definition for the `max` prop

[2019-10-31 21:55] noahcoomer opened #220 "AvatarGroup is missing a prop definition for 'max'"
This is an issue in TypeScript.

When using AvatarGroup, you are not able to pass in a `max` prop.

Relevant docs: https://chakra-ui.com/avatar

[2019-11-01 10:08] cschroeter commented on #199
What is the point of moving to `theme-ui`? I think the main benefit with Chakra is that it brings full TypeSciript to the table where `theme-ui` is written in plain old js with no typings or @types support.

[2019-11-01 11:33] luciorubeens opened #222 "Tri-state checkbox not read correctly by screen readers"
**Steps to reproduce:**

1. Open the checkbox indeterminate demo https://chakra-ui.com/checkbox#indeterminate and turn on VoiceOver (or Narrator).
2. Focus on the Parent Checkbox with indeterminate state.

**Actual behavior:**
VoiceOver says "Parent Checkbox, unchecked, checkbox"

**Expected behavior:**
VoiceOver says "Parent Checkbox, mixed, checkbox"

[2019-11-01 12:11] segunadebayo commented on #213
That's a good idea. Thank you, @diegohaz.

I'll look through that implementation and see how the Popover can leverage that.

[2019-11-01 19:18] brentguistwite commented on #205
@segunadebayo I would love to help contribute to migrating to TS. It's not immediately clear to me after looking through the dev-ts branch where to get started. Is there a place where I can view what still needs to be done to complete the migration?

[2019-11-01 21:22] thetric opened #224 "bug(docs/utilities): full page reload when navigating between the "utilities" section entries"
# https://chakra-ui.com bug report

### Description
When navigating to or between the "utilities" section in the docs a full page reload occurs. As a side effect of the reload the theme setting is reset.

## 🔬 Minimal Reproduction

### What's the affected URL?
- https://chakra-ui.com/useclipboard
- https://chakra-ui.com/usedisclosure
- https://chakra-ui.com/usetheme

### Reproduction Steps

1. Ope

[2019-11-02 22:42] astahmer opened #225 "[Image] Warning: Can't perform a React state update on an unmounted component"
**Steps to reproduce:**
Unmount Image component before the source image has loaded

The stack trace indicates that the error is on the line 14:
[code]
https://github.com/chakra-ui/chakra-ui/blob/master/packages/chakra-ui/src/Image/index.js

This should be fixed with a simple unmount check such as
[code]

[2019-11-02 23:07] segunadebayo commented on #224
Hi @thetric,

I believe this is because there's a full-page reload on those pages. I'll look into the cause of the reload

[2019-11-02 23:09] segunadebayo commented on #205
Hi @brentguistwite. Really happy to know you want to contribute. I'll create a quick guide soon

[2019-11-02 23:11] segunadebayo commented on #225
@astahmer, thanks for suggesting a fix. We'll try your suggestion.

You opt-out of this, for now, you can pass the `ignoreFallback` prop and set it to `false` so the image acts a pure `img` element.

[2019-11-03 12:52] deadcoder0904 opened #226 "Named Colors don't work directly with "bg" prop"
I am making **Habits** app with the following contents (generated through CRA) ⸺

## App.js

[code]

## components/Habit.js

[code]

And colors like `red`, `yellow` do not display directly but if I put `red.100`, `yellow.200` it does. Maybe you forgot to point out if nothing is specified then map `red` to `red.500`. I think this is what Tailwind does.

This is how it currently looks with the above

[2019-11-03 15:09] deadcoder0904 opened #227 "Hide Button while using IconButton"
I want to display Icon & allow it to be clickable which is why I need the `IconButton` component.

The problem comes when I need to show only icon but hide the button and I'm unable to do that.

Here's the contents of my `IconButton` ⸺

[code]

And right now you can see how it looks ⸺

![chakra-ui-bug](https://user-images.githubusercontent.com/16436270/68087263-fff11b80-fe79-11e9-9f78-b5315d4b4717

[2019-11-03 15:14] deadcoder0904 commented on #227
I found a workaround by adding `display="contents"` to `IconButton` like

[code]

Not sure if I should keep this open?

[2019-11-03 15:27] astahmer opened #228 "[Stack] No spacing when using fragments"
This is more a question than a bug actually but it would be nice to see it solved somehow :

**Steps to reproduce :**
Use a Fragment inside a Stack (same logic applies to ButtonGroup as well)

Like:
[code]

The elements inside the Fragment will not receive appropriate spacing props while others will.
It seems to me this is a known behavior, since React doc clearly specify that [here](https://react

[2019-11-03 16:31] koolamusic commented on #205
@segunadebayo looking forward to that quick guide as well.

[2019-11-03 22:33] matepapp commented on #205
I think it might be a good solution to use Github's Project feature, where you can track the task, subtasks separately and anyone who wants to contribute can pick up one.

[2019-11-04 16:14] segunadebayo commented on #228
Hi @astahmer,

You can use the `shouldWrapChildren` prop to solve this use-case. If passed, the Stack component will wrap its children with a `Box`.

[2019-11-04 16:18] segunadebayo commented on #226
Hi @deadcoder0904,

I'm aware of this issue and will look into it soon. The solution you proposed is definitely the route to go. For now, I'll add it to the docs as a "note" so others don't skip that.

Thank you for your comment on Chakra UI. I'm glad it has improved your productivity.

[2019-11-04 16:22] segunadebayo commented on #227
Thanks and I'm glad you found a walkaround. We'll add an `unstyled` variant for the Button and IconButton so this use case can be permanently resolved.

I'll close it for now.

[2019-11-04 16:23] #228 closed

[2019-11-04 16:24] segunadebayo commented on #225
I believe the comment above solved your problem. If not, let me know so I can reopen this.

[2019-11-04 16:24] #225 closed

[2019-11-04 16:25] #222 closed

[2019-11-04 16:29] segunadebayo commented on #205
@matepapp, that's a good idea! I'll try to set it up in my free time.

[2019-11-04 20:11] ColbyWTaylor opened #229 "Toast Example"
Hi! First- Chakra is very cool - thank you for all your work :)

I'm trying to use toast but receiving no actual popup when I click. I've been able to use many of the other feature but not this- is there a trick to getting it to function? At the very least the app isn't crashing.. Thank you for you help!

[2019-11-04 23:55] segunadebayo commented on #229
Hi @ColbyWTaylor,

Can you send a CodeSandbox link so I can look at your code and figure out what's wrong? There are tricks to use the Toast hook 😄.

[2019-11-05 04:41] deadcoder0904 commented on #227
Hey, @segunadebayo there is one issue I found with this approach. I can't tab around the + icon.

Might wanna re-open this one as I think it's required for a11y although I'm not sure since Idk much about a11y.

[2019-11-05 05:04] deadcoder0904 commented on #227
I changed the `IconButton` to `Icon` & it works ⸺

[code]

But still, it cannot be tabbed as I guess because it's an icon. But I do think it is required for a11y projects.

This is just a demo project so it doesn't matter that much but I do think it's a valid problem.

[2019-11-05 07:35] jordiup commented on #205
I'm getting the following error when using Avatar

`TypeError: Cannot read property '12' of undefined`

the code:

`<Avatar name="Kent C" src="https://bit.ly/kent-c-dodds" />`

[2019-11-05 09:58] segunadebayo commented on #227
@deadcoder0904, why not try this:

[code]

[2019-11-05 11:56] deadcoder0904 commented on #227
It works but it pushes the icon below

![streaks app](https://user-images.githubusercontent.com/16436270/68205163-95fa8280-ffef-11e9-91a1-036e666d05e5.png)

I uploaded the code → https://github.com/deadcoder0904/streaks-app

[2019-11-05 14:31] antegulin opened #231 "MenuButton missing prop type defs"
MenuButton seems to be missing `isActive` and `rightIcon` typescript prop types.

[2019-11-05 16:56] segunadebayo commented on #215
I must have skipped the type definition for that prop, I'll look into it soon.

If you can, I'll appreciate that as well.

[2019-11-05 17:09] segunadebayo commented on #231
Okay. We'll look into it soon. If you have some time to look into it and add the types, I'll gladly merge your PR.

Thanks

[2019-11-05 17:10] #217 closed

[2019-11-05 22:19] jamesarosen commented on #200
[WCAG 2.2.2](https://www.w3.org/WAI/WCAG21/Understanding/pause-stop-hide.html) says

Is that what `disableAutoPause` does? Is there a way for the user to trigger that?

[2019-11-05 22:28] kripod commented on #200
@jamesarosen Actually, I have a [simpler implementation](https://github.com/kripod/exigo/tree/560f39c0ca30922b9c571cc15275e002b555f145/src/components) in progress, but didn't manage to actualize this PR yet. `disableAutoPause` is for adhering to the [example](https://www.w3.org/TR/wai-aria-practices-1.1/examples/carousel/carousel-1.html) showcased [in WAI-ARIA Authoring Practices](https://www.w3.o

[2019-11-06 01:03] bdbaraban commented on #134
Can confirm that the above works, thank you @SimonDegraeve!

Maybe I should cross-post this issue to `react-focus-lock`.

[2019-11-06 01:36] segunadebayo commented on #205
I've added the `TS_MIGRATION_GUIDE.md` to the `dev-ts` branch. It's not complete yet but will give a clear sense of what we're doing and how to get started.

[2019-11-06 06:15] Drakota commented on #231
Hey guys!
I've taken a look to submit a PR and I've realized that the `MenuButton` isn't actually a Button per say. `isActive` and `rightIcon` are props specific to the `Button` component we have access to them, because we "cast" the `MenuButton`  to a `Button` via the `as` prop.

We could also reproduce the same issue with the `Box` component.
Example:
[code]
There won't be any prop definition fo

[2019-11-06 06:21] koolamusic commented on #198
@jaredpalmer thanks for the suggestion, could you please share any ideas, as to how one can implement that. writing a babel plugin to pre-shaken imports

[2019-11-06 07:33] antegulin commented on #231
Yes, there's a magic trick

To extract props from a component you can use `React.ComponentProps`
[code]

[2019-11-06 11:14] koolamusic commented on #205
Seen the TS Guide, the Section that has Components and Todos, should we expect it to be filled up ?

[2019-11-06 12:30] felippepuhle commented on #135
IMO creating a wrapper for `react-table` isn't a good idea. I think it should handle styling/UI only.

Personally, I'd prefer to keep my project as clean as possible, and I wouldn't like to add `react-table` as a dependency if I wanted to use a simple table.

If someone want to use with `react-table` they'll be able to use it anyway, using `useTable`. It'll be better for composing purpose.

[2019-11-06 12:32] felippepuhle commented on #135
BTW, in terms of responsiveness hiding some columns is a good idea.

I used to turn columns into rows too.

Thanks!

[2019-11-06 12:54] segunadebayo commented on #205
@koolamusic, yes I'll complete that section today.

[2019-11-07 13:47] hendrikniemann commented on #211
I just came accross the fact that every component is named _Anonymous_ in the devtools and would love to see this. I'm also happy to make a PR.

[2019-11-07 18:22] segunadebayo commented on #211
Yes, this is a good suggestion. If you have some time to look at it  @hendrikniemann, I'll gladly merge your PR.

Thanks

[2019-11-08 06:31] donysukardi opened #234 "Broken Stack due to use of children.filter"
In https://github.com/chakra-ui/chakra-ui/commit/04f9e7e4e64f43fdb12dc54e24c74041666b6149#diff-1553e77db4a16e801255073a8e943a2bR40, `children` is React is not an array, it's a wrapper object for none, one, or more elements. It does not have `.filter` property.

![image](https://user-images.githubusercontent.com/410792/68454232-f75e6380-0232-11ea-999c-5cb01afb5bef.png)

We can convert it to array b

[2019-11-08 17:43] wKovacs64 commented on #206
Removing `line-height` appears to fix it for IE11, but I assume `line-height` is there for a reason so we can't just remove it. Do you have any thoughts on a how to handle this?

[2019-11-08 20:54] cm-hvg opened #237 "Setting Tabs's Default / Current Index"
I'm sure I'm missing something, I just need some guidance, or geussing this might be an easy fix.

What is the current way the set / control index of `Tabs` component.

`defaultIndex` or `index` is not valid props for `@chakra-ui/core": "0.4.0`

[2019-11-08 21:01] cm-hvg commented on #237
Update:

`index` props does work, however you need to use `//@ts-ignore`as the Props interface is correct

[2019-11-09 10:57] #211 closed

[2019-11-09 10:59] #234 closed

[2019-11-09 12:21] riccoski commented on #205
Nice work all. I'm finding the 'as' prop not working with TS. Specifically the Link component.

[2019-11-09 14:39] lesha1201 commented on #205
@segunadebayo I'm working now on props for `<Box />`. I want to make this component to accept `SystemProps` and props based on element type from `as` prop. I think I finished types for `<Box />` but I need to update types of all components that use `<Box />`. It should fix https://github.com/chakra-ui/chakra-ui/issues/194. I hope to make PR tomorrow if everything goes well

[2019-11-09 18:05] brentguistwite commented on #205
We should probably avoid using `as` if possible. You lose some type safety when doing type assertions like that. The solution is usually more concise/correct types or if the type is polymorphic then using a type check like `if ('field' in type)` or using a predicate function like
[code]

[2019-11-09 18:24] willianhf commented on #183
Would be nice use this library in React Native!
@zaguiini started implementing something? I'd be like to help!

[2019-11-10 02:58] zaguiini commented on #183
No, I didn't. I'm not having much time lately, sorry. But if you start something, I'll help as much as I can.

[2019-11-10 10:34] segunadebayo commented on #205
@lesha1201, sounds good. I also have a solution for the `Box` and `as` prop but I'm open to your solution. Can't wait to see it.

[2019-11-10 10:46] segunadebayo commented on #206
I'm signing up for Browser Stack, so I can look into this issue more thoroughly.

[2019-11-10 15:09] jmsheff commented on #205
What's the status of this? I'm very interested in contributing but I'm having a hard time figuring out what's going on where. If it's a matter of the tediousness of setting up the project feature to get things organized, I'd be happy to work on that.

[2019-11-10 18:35] lesha1201 commented on #205
@segunadebayo I won't be able to make PR today because I stuck and not sure if I can solve the problem so if you have solution when please don't wait me

[2019-11-10 23:12] segunadebayo commented on #237
The type definition of the Tabs component needs some updates. I'll update it in the next release

[2019-11-10 23:14] segunadebayo commented on #205
I've added the Project following @matepapp's suggestion. Want to contribute? Convert any task to an issue to indicate your interest.

I'll try to keep the board up to date.

[2019-11-11 16:36] kripod commented on #212
After further investigation, I came across the realization that negative margin, especially right and bottom ones may cause the undesired behavior.

I would suggest implementing [an alternative approach](https://adrianroselli.com/2019/11/aria-label-does-not-translate.html#Developers) for hiding elements visually.

[2019-11-12 03:10] FengShangWuQi opened #238 "[theme] zIndices type err"
**Describe the bug**
zIndices use StringOrNumber now, it can't work any, it should not be number?

![image](https://user-images.githubusercontent.com/17982705/68638380-57f3e600-053c-11ea-8bf2-ffc0de7dd569.png)

and I'm curious about why zIndices named zIndices instead of zIndex, why radii named radii instead of borderRadius or radius?

[2019-11-12 04:01] FengShangWuQi opened #239 "[theme] ITheme type err"
**Describe the bug**
Why ITheme use StyledSystem.Theme instead of DefaultTheme

[2019-11-12 05:16] FengShangWuQi opened #240 "[theme] letterSpacings or letterSpacing"
**Describe the bug**
in theme/typography.js

[code]

in theme/index.d.ts

[code]

[2019-11-12 13:29] jaredpalmer commented on #205
+1 for Box as. My suggestion is to `infer` or use a JSX generic

[2019-11-12 13:30] jaredpalmer opened #241 "[Select] doesn't pass props to the actual select element"
`<Select>` doesn't pass props to the actual `select` element, but to a wrapper `div`.

[2019-11-12 13:31] jaredpalmer commented on #241
It's also unclear why we need a wrapper div in the first place. It seems like it is just used for the placement of the chevron. A better way to do this is to use a background image in css of a inlined svg.

[2019-11-12 13:32] jaredpalmer commented on #198
Source code is here. https://github.com/necolas/react-native-web/tree/master/packages/babel-plugin-react-native-web/src

[2019-11-12 13:33] jaredpalmer commented on #218
It's extremely janky right now. Any thoughts on this?

[2019-11-12 15:03] sidoshi opened #242 "Typescript Auto complete does not work for component props"
**Describe the bug**
The auto complete for component props value does not seem to work. I am not sure if this is a bug or something new that needs to be implemented altogether. But ideally I think it would be a great DX if we get the auto complete values when for example we are entering a color prop on the box and I can select from all the available colors from the theme? I am not sure if this is

[2019-11-12 16:49] segunadebayo commented on #218
I'm currently fixing this in the `dev-ts` branch 'coz I've found a better popper solution that'll support this use-case.

I understand it's janky right now, the new version will be released soon.

[2019-11-12 16:53] segunadebayo commented on #242
Hi @sidoshi,

I believe this will need some TypeScript gymnastics. Your suggestion will definitely lead to a better DX.

If you have some time to look into it, I'll appreciate that. Otherwise, I'll look into it later.

[2019-11-12 16:57] segunadebayo commented on #241
@jaredpalmer, that's a good point.

I was planning to make the API a bit more declarative so the user can decide to get rid of the icon and use a background image.

Here's what I have in mind:

[code]

`SelectWrapper` and `SelectIcon` can then be ignored completely if you don't need them.

[2019-11-12 17:01] sidoshi commented on #242
Hey @segunadebayo, so I already tried to take a look into it. Basically this is right now impossible to implement on `chakara-ui` code because styled-system itself does not support it and seems like it has no plan to as well. So unless we decide to fork styled-system, I am not sure how we can proceed further.

Related comment on styled-system: https://github.com/styled-system/styled-system/issues/

[2019-11-12 17:08] segunadebayo commented on #242
Yes, that's the main problem.

We could try forking `styled-system` and see if we can get this to work.

I saw this library: https://github.com/jaridmargolin/properly-styled/tree/master/packages, and I believe it has somethings we might find useful.

I'm open to collaborating with you on this one.

[2019-11-12 17:13] sidoshi commented on #242
Yes, I can try and fork styled-system and see if I can get it to work with our use case. I will also check properly-styled and see how it fits. BTW thanks for being open to changes 👍

[2019-11-12 18:44] segunadebayo commented on #218
@jaredpalmer. I just figured it out and will add it to the current code in the `dev-ts` branch.

![Nov-12-2019 19-41-54](https://user-images.githubusercontent.com/6916170/68700131-b3e25d00-0584-11ea-8e2c-ad142fb01492.gif)

You might need to wait for the next release to get these changes. Thanks for your patience

[2019-11-13 02:15] kripod opened #244 "[NumberInput] onChange returns a string instead of a number"
**Describe the bug**
While the example in the docs shows `NumberInput` being used with a numeric state variable, it returns a `string` in its `onChange` callback.

**Suggested solution(s)**
Return `number | null`, the latter [denoting the intentional absence](https://github.com/chakra-ui/chakra-ui/pull/243) of a value.

[2019-11-13 18:44] segunadebayo opened #246 "Add Support for CodeSandbox CI"
It'll be good to have CodeSandbox CI integrated into Chakra to test new Pull Requests directly within codesandbox before merging.

I haven't looked at how to set it up. Anyone looking to help with this? I'd be glad to merge your PR.

Here's the link to the docs: https://ci.codesandbox.io/

[2019-11-13 21:39] DavidJFelix opened #247 "[Typescript] Breadcrumbs `as` parameter does not work with Reach Router as documented"
**Describe the bug**
Typescript claims a type error when attempting to use `Link` from `@reach/router` in the `BreadcrumbLink` `as` parameter as documented [here](https://chakra-ui.com/breadcrumb#usage-with-routing-library)

This may also affect other components which use `Link`

Error:
[code]

**Expected Behavior**
The types should match to allow use as documented and as allowed in JS.

**To Repr

[2019-11-13 21:48] DavidJFelix commented on #247
Current workaround:

[code]
please note that the `//` must be the first non-space character on the line above the offending line to make this work.

[2019-11-14 20:54] fernandobandeira opened #249 "[Tooltip] Doesn't show inside modals"
Tooltips aren't working when used inside a modal body, currently tooltips are portals themselves and they don't have any z-index on them so they are hidden behind the modal body.

I think it's alright to not set any z-index on the tooltips but we shouldn't be using portals since it'll break if the tooltip should be rendered inside any element that has a  z-index attribute.

[2019-11-15 00:34] kripod opened #250 "[ExpandingTextarea] Add auto-expansion through 'contentEditable'"
Recently, I've created a custom `ExpandingTextarea` component based on `Textarea`, allowing its height to grow as new lines of text are added. A demo is available [from here](https://codesandbox.io/s/sandbox-next-ts-e4cy6).

[code]

[2019-11-15 12:11] mjsarfatti commented on #191
At the moment many snippets are still not copy-pastable, eg. all of the snippets in https://chakra-ui.com/getting-started

Is it possible to switch off the readonly mode?

[2019-11-15 17:55] kripod opened #252 "Request to add [Label] component"
**Is your feature request related to a problem? Please describe.**
As [mentioned in the docs](https://chakra-ui.com/input#props), input fields may be labeled visually, e.g. with a text above the component:

**Describe the solution you'd like**
Similar to the native `label` element, a `Label` component should be added.

**Describe alternatives you've considered**
An other solution is to improve the

[2019-11-17 10:16] riccoski commented on #205
For a temporary workaround for using as with the component's props.
[code]

[2019-11-17 18:41] xxczaki opened #253 "[Button] `variantColor` does not work with `COLOR_NAME.600`"
I want to set Button's `variantColor` to `blue.600` (from the [default theme](https://chakra-ui.com/theme#blue)):

[code]

Unfortunately, it doesn't fully render the button (no text, color, shape; only on hover text underline is visible). When I use `variantColor="blue"` it works correctly:

![](https://imgur.com/T82i35Q.png)

It also doesn't work with other colors, ex. `red.300`.

[2019-11-17 23:06] pan-tom opened #254 "[NumberInput] Cannot use numeric keypad"
NumberInput accepts only key codes from standard keyboards, which are from 48 to 57. Numeric keypads have different keycodes. They are from 96 to 105.

[2019-11-18 17:16] pan-tom commented on #254
To fix this, isNumberKey function from [https://github.com/chakra-ui/chakra-ui/blob/master/packages/chakra-ui/src/useNumberInput/utils.js](url) should be changed:

[code]

[2019-11-18 18:35] lee-reinhardt commented on #253
Dupe of #203

[2019-11-18 20:14] xxczaki commented on #253
@lee-reinhardt I don’t think so. #203 is about using a custom color, whereas mine is about a color from the default theme.

[2019-11-18 23:01] lee-reinhardt commented on #253
@xxczaki If you read Segun's answer, he explains why you can't pass a plain color, or even theme-config color like `blue.600` to the `variantColor` prop. The button component has behavior that relies on using more than one value from the theme variant color specified [source](https://github.com/chakra-ui/chakra-ui/blob/master/packages/chakra-ui/src/Button/styles.js#L95).

You can work around this

[2019-11-19 01:09] xtalx opened #256 "[StatNumber] vertical align does not apply to block level elements"
**Describe the bug**
StatNumber renders a P tag (a block level element) and has css with vertical-align: baseline.

**Additional context**
Not a big deal. I'd submit a PR if I knew which route you wanted to take.

Thanks!

[2019-11-19 10:26] aaronmcadam commented on #252
I tend to use `FormControl` for this, should the docs suggest using that component to get a label?

[2019-11-19 12:49] aaronmcadam opened #257 "[Menu] rendering problems with multiple menus"
**Describe the bug**

My use case is a column of cards with actions that can be taken (e.g. duplicate, delete). At the top of the list, the menus seem to work fine. But when you start scrolling down the list and open the menus, we start to see some strange behaviour:

* Sometimes the menu will flicker.
* Sometimes you'll scroll up and try to open the menu and it won't appear.
* Sometimes the optio

[2019-11-19 13:55] ProsperDevelopment opened #258 "IE 11 issues with react-spring"
**Describe the bug**
Can't render anything in IE 11. Throws syntax error at third part library react-spring.

See https://github.com/react-spring/react-spring/issues/834

**Expected Behavior**
Rendered components

**To Reproduce**
Render some components with Box, Flex, Link, Button

** Suggested solution(s)**
Need IE 11 support

**Desktop (please complete the following information):**
 - OS: Windo

[2019-11-19 14:50] squ1sh commented on #159
Hello, another developer and I worked this example out for multiple variants.  This works with Chakra components as well as other styled ones!  Nothing fancy but it allows for either a string or an array of variants that is composed from left to right.

[Hopefully this is useful to someone!](https://codesandbox.io/s/determined-lederberg-2r3dz)

[2019-11-19 15:04] squ1sh commented on #76
I posted this comment on [this other issue](https://github.com/chakra-ui/chakra-ui/issues/159)  but figured I could post a [link to the codesandbox](https://codesandbox.io/s/determined-lederberg-2r3dz) here too.

It allows for multiple variants to be applied to a single component.  For example, `variant=[{'blue-text', 'fancy-border'}]` will apply the variants from left to right.

[2019-11-19 17:22] ProsperDevelopment commented on #258
Found some more info regarding browser support

https://github.com/chakra-ui/chakra-ui/issues/57

[2019-11-19 17:26] segunadebayo commented on #249
Hi @fernandobandeira,

Thanks for your suggestions. I'll look into this. In the meantime, you can update the z-index of the tooltip.

[2019-11-19 17:27] segunadebayo commented on #252
@kripod, you can use the `FormLabel` component. I don't see a need for a separate `Label` component.

[2019-11-19 17:36] segunadebayo commented on #250
This looks like a good idea. We already have an `ExpandingTextarea` component but it doesn't use contentEditable. I'll see how we can add this to the library.

Thanks for this suggestion.

[2019-11-19 17:38] segunadebayo commented on #254
Hi @pan-tom, thanks for catching this issue.

I'll look into it soon. If you have some time to look into it and update the keyCodes to cover numeric keypads, I'll gladly merge your PR.

Thanks

[2019-11-19 17:38] segunadebayo commented on #244
Thanks for this suggestion @kripod. I'll look into it.

[2019-11-19 17:50] kripod commented on #252
@segunadebayo I apologize, but I haven't heard about it previously. I'd like to suggest adding an example with a `FormLabel` to the documentation page of Inputs.

[2019-11-19 20:38] pan-tom commented on #254
Hi @segunadebayo,
thank you, I created PR.

[2019-11-19 21:32] thefrontendwizard opened #260 "Convert Tabs component to TS"
https://github.com/chakra-ui/chakra-ui/projects/1#card-29009903
I'd like to contribute on the migration so if nobody took this one, I'd like to take it.

[2019-11-19 22:05] #28 closed

[2019-11-20 10:57] aaronmcadam commented on #260
The latest commit on `dev-ts` already tackles this: https://github.com/chakra-ui/chakra-ui/commit/0be477bf0638022251bd5abb676026cdca283f11

[2019-11-20 11:01] aaronmcadam commented on #247
Here's a workaround I wrote where I wanted to use a `Button` as a react-router `Link`. This should work for Reach too:

[code]

[2019-11-20 11:13] aaronmcadam commented on #257
Do you have any suggestions @segunadebayo? I was going to see if reimplementing the menu with the `Popover` and setting the `isPortal` to `true` would help.

[2019-11-20 11:22] thefrontendwizard commented on #260
yeah, saw it. there are lots of `any` types in there though, so perhaps improving the types would be good.

[2019-11-20 11:24] aaronmcadam commented on #260
Ah I see @thefrontendwizard. Maybe we should find out why the `any` types were used. Maybe there were some awkward issues when doing a first pass.

[2019-11-20 11:27] aaronmcadam commented on #260
It appears everything except the component itself is pretty well covered. I wonder whether the use of `any` inside the component defs is just a pattern to get us onto TypeScript, with the view to improve thing later.

[2019-11-20 12:04] #260 closed

[2019-11-20 14:43] jaredpalmer opened #261 "[Menu] Add example with animation in docs"
Just like AlertDialog, using `<SlideIn>` etc.

[2019-11-20 14:45] jaredpalmer opened #262 "[Transition] Add docs"
- `<Slide>`
- `<SlideIn>`
- `<Scale>`

[2019-11-20 14:51] jaredpalmer commented on #261
I have tried this and it doesn't work, but I think it should for consistency and completeness.

[2019-11-20 23:38] #41 closed

[2019-11-21 07:45] #258 closed

[2019-11-21 08:24] segunadebayo commented on #260
Hi @thefrontendwizard,

I'm working on the Tabs component already. Feel free to pick any other components. I really appreciate your willingness to help and would love to help you get started.

As regards `any` types, it's just a first pass so I don't have to worry about the types just yet till everything is working, then I gradually tighten the types and remove `any`.

[2019-11-21 09:21] franky47 commented on #201
I had the same issue when trying to mix SVG and Box, here's my take on it:
[code]

Usage:
[code]

[2019-11-21 13:06] segunadebayo commented on #261
Hi @jaredpalmer. I'll look into this

[2019-11-21 13:07] segunadebayo commented on #262
Got it. I'll look into this

[2019-11-21 13:10] segunadebayo commented on #257
@aaronmcadam, that might work. I'm thinking it has to do with some modifiers in `popper.js`, maybe `enableEventListeners` needs to be set to false.

Not sure but I'll look into it. The walkaround is to use Popover directly. I'll test this within the `dev-ts` and ensure this bug is fixed

[2019-11-21 13:11] segunadebayo commented on #254
Thanks for the PR @pan-tom

[2019-11-21 13:12] #254 closed

[2019-11-21 13:13] aaronmcadam commented on #257
Do you mean I'd have to build my own menu instead with my own components? I was thinking I'd have to try that.

[2019-11-21 13:34] segunadebayo commented on #257
Yes, you might have to try that. Let me know how it goes.

[2019-11-21 13:35] aaronmcadam commented on #257
Thanks @segunadebayo. For now, I've had to deploy a different component, but I might get around to trying to rebuild the menu later.

[2019-11-21 16:38] #52 closed

[2019-11-21 19:05] kripod commented on #52
@segunadebayo This doesn’t seem to be stale for me. Has it been solved?

[2019-11-21 23:19] #45 closed

[2019-11-22 01:27] zaguiini commented on #183
Messing around with it. Some progress at least!

![image](https://user-images.githubusercontent.com/26530524/69390012-9318b680-0cac-11ea-8633-f15ed0da391e.png)

[Here](https://github.com/chakra-ui/chakra-ui/compare/master...zaguiini:master)* is what I did. Excited??? 😄

* Of course this is not how I'm going to implement the `p` property for example... I just made it work with validation purposes.

[2019-11-22 02:03] zaguiini commented on #241
Title of this issue is wrong.

[2019-11-22 03:46] coodoo commented on #183
Making chakra cross platform is indeed a very intriguing idea, has anyone considered to build it on top of react-native-web so that it supports both web and mobile devices out of the box?

https://github.com/necolas/react-native-web

[2019-11-22 07:57] kripod commented on #45
@segunadebayo Sorry to interrupt, but this issue may still be relevant.

[2019-11-22 08:54] segunadebayo commented on #257
@aaronmcadam , I've resolved this problem in the `dev-ts` branch so you should be good in the next release 😄

[2019-11-22 08:56] segunadebayo commented on #45
@kripod, It's a bot you know 😉.

I'm aware of this issue and looking to solve it in the `dev-ts` branch.

[2019-11-22 09:07] segunadebayo commented on #256
Hi @xtalx, do you suggest we remove the `vertical-align: baseline`?

[2019-11-22 09:41] aaronmcadam commented on #257
Thanks so much @segunadebayo!

[2019-11-22 10:57] willianhf commented on #183
@zaguiini can it be by discord? I usually use it, that's my tag `jet#5723`

[2019-11-22 12:07] kripod commented on #45
Awesome, cannot wait to see the TypeScript rewrite in action!

[2019-11-22 12:33] zaguiini commented on #183
The problem with it is that we would need to rewrite the whole codebase again? Or is it incremental?

[2019-11-23 03:38] leerob commented on #198
You also might be able to use this: https://github.com/ant-design/babel-plugin-import

[2019-11-23 06:27] manzoorwanijk commented on #38
It's been too long for me to wait for multiselect in Chakra UI, looks like I have to continue my struggle with AntDesign! 😞

[2019-11-23 06:56] xtalx commented on #256
Without other changes, yes, currently it doesn’t do anything. If you wanted it to line up on the baseline you could make the p tag inline or inline-block(I think it’s a flex item though, can’t remember). Probably best/easiest to remove it and leave it to the user to style further if needed.

[2019-11-23 09:05] segunadebayo commented on #38
I've worked on the custom `Select` component but not the multiselect. It'll be released in the n ext version.

[2019-11-24 09:43] #68 closed

[2019-11-25 05:36] #72 closed

[2019-11-25 19:01] eranimo commented on #38
Sorry, some things came up and I've been delayed getting this to a good point to PR.

[2019-11-27 09:03] #40 closed

[2019-11-27 12:21] aaronmcadam opened #266 "[Switch]: feedback could be improved by using similar cursor styles from Button"
## Is your feature request related to a problem? Please describe.

I think we should add cursor styles similar to buttons. Hovering over a switch does not change the cursor. Also, a disabled switch does not change its cursor either.

Here's a codesandbox demo: https://codesandbox.io/s/chakra-js-starter-owv1h

## Describe the solution you'd like

I think having cursor styles similar to `Button` wou

[2019-11-27 15:01] segunadebayo commented on #266
Thanks for this feedback @aaronmcadam. I'll look into it.

[2019-11-28 14:10] aaronmcadam commented on #140
Did we get anywhere with this component @segunadebayo. Did you find any components that might fit in with Chakra? I need to implement a single select in my current project so I'm just about to start researching. If I find anything good, I could post it here if that would help?

[2019-11-28 17:57] segunadebayo commented on #140
Hi @aaronmcadam,

I've built a custom select already, it's in the `dev-ts` branch, but it needs some cleanup and type definition. It'll be in the next release.

However, if you find an implementation other than `react-select` or `downshift` please let me know.

[2019-11-28 18:06] aaronmcadam commented on #140
Hi @segunadebayo, thanks for getting back to me. I ended up using an old component we had that uses `react-select`. It is an older 1.x version with the testing problems mentioned above. I don't know if `react-select` v2 produces more semantic markup or is less flaky in tests.

That's great news that you've got something working in the TypeScript branch. I'd like to give you a hand with some of the

[2019-11-28 18:09] aaronmcadam commented on #140
I did have a look at [Reach UI's Combobox](https://reacttraining.com/reach-ui/combobox), and while it's a great example of how to build an accessible and testable component, it didn't fit my simple needs and the needs of this RFC.

[2019-11-28 19:53] ProsperDevelopment opened #269 "Hover backgroundColor dosen't apply on ListItem"
**Describe the bug**
The hover backgroundColor on ListItem with a set backgroundColor doesn't apply.

**Expected Behavior**
Hover should change background

**To Reproduce**

Import PseudoBox and add this story to the List example file and try it in storybook
[code]

[2019-11-28 20:11] segunadebayo commented on #140
I'm curious @aaronmcadam. What do you mean by "simple needs"? Just to be sure what I've worked on covers this 😄

[2019-11-28 21:17] aaronmcadam commented on #140
The same needs as mentioned above: just a select component that allows you choose from a list of options. The combobox is more of an extended text input, in that you can choose an option or type your own value. Does that make sense?

[2019-11-28 21:19] aaronmcadam commented on #140
@segunadebayo I do need to be able to have a more complex option than just text though. In my case I need to have an icon beside some text. I'm AFK at the moment but I'll attach a screenshot tomorrow

[2019-11-28 21:33] segunadebayo commented on #140
@aaronmcadam. I've got you covered then.

[2019-11-29 09:27] ProsperDevelopment opened #270 "Make chakra run in IE 11"
We will need IE 11 support when we deploy to production. So the first step would be to make it render in IE 11. At the moment it crashes resulting in an white screen.

**Describe the solution you'd like**
First need to get some dependencies working in IE 11 to get it up rendering. I think it might be doable with how to configure webpack transpiling. I found issues with the transpile of react-sprin

[2019-11-29 12:18] aaronmcadam commented on #140
@segunadebayo For clarity, here's my use case:

![CleanShot 2019-11-29 at 12 17 08](https://user-images.githubusercontent.com/37928/69868661-46cc0880-12a2-11ea-8c2b-feef8c85c526.gif)

[2019-11-29 14:40] steida commented on #183
RNW has own css-in-js, so yes, whole lib would have to be rewrittten.

[2019-11-29 14:48] segunadebayo commented on #140
@aaronmcadam There won't be an input to search options in the `SimpleSelect` I've worked on. What I have mimics native HTML select and supports typeahead/rapid typeahead.

[2019-11-29 14:51] segunadebayo commented on #183
In the TypeScript implementation, I'm extracting most of the component logic into hooks so it can be consumed in React Native Web and React (Web). Perhaps, it might help.

[2019-11-29 14:52] segunadebayo commented on #269
Hi @ProsperDevelopment. Can you try the `bg` prop instead?

[2019-11-29 14:54] steida commented on #183
@segunadebayo It definitely helps, but as I said, the point of RNW is its API, both components and CSS.

[2019-11-29 14:55] segunadebayo commented on #270
Thanks for this feedback.

I'll check to see how we can make react-spring and pretty-num work in IE 11. Although, I'm guessing it might be related to adding some polyfills.

[2019-11-29 15:44] #86 closed

[2019-11-29 17:05] zaguiini commented on #183
As we have a monorepo, the approach I was thinking was to have a package to the component logic, maybe rename `@chakra-ui/core` to `@chakra-ui/web` and create a package called `native` which will use the logic from the sibling package and will have the styles created using emotion and styled-system, built with TypeScript from ground up (we might use TSDX for that).

Thoughts @segunadebayo ? I thin

[2019-11-29 17:18] willianhf commented on #183
Sounds nice to me, but rename package could be a hindrance.

[2019-11-29 18:22] steida opened #272 "Use input type tel instead of phone"
It seems, there is no such thing as phone value.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/tel

[2019-11-29 20:53] zaguiini commented on #183
Just FYI: I'm already doing something along the lines of Chakra for RN, working on it. But... I'm not using `emotion` as it doesn't have typings for TS. I'm using `styled-components`, but the result is similar:

![image](https://user-images.githubusercontent.com/26530524/69889678-0d5ec180-12d1-11ea-8a00-39f2bfc2e4fc.png)

[2019-11-29 21:15] steida commented on #183
I really don't understand why people use styled-components abstraction over perfect and typed React Native Web. OK, I know why. They believe untyped strings soup is better than typed JSON because it's sooooo familiar.