[2019-11-30 03:28] junaid33 opened #273 "[gatsby-plugin-chakra-ui] Using with other Gatsby themes is causing issues"
**Describe the bug**

When I use gatsby-plugin-chakra-ui and gatsby-theme-legals-prismic, it seems the 2 themes are overriding different elements of each other. When I switch the order of them in the gatsby-config files, new errors come up like the Icon component from Chakra-ui causing an error.

I have replicated the issue here using the gatsby-starter-chakra-ui:

https://codesandbox.io/s/gatsby-

[2019-11-30 03:29] junaid33 commented on #273
Tagging @alexluong since he created gatsby-plugin-chakra-ui

[2019-11-30 07:34] franky47 opened #274 "[AlertIcon] Alert icons are not vertically aligned with the text"
**Describe the bug**

It is subtle, but alert icons are not vertically aligned with the alert text:
<img width="518" alt="before" src="https://user-images.githubusercontent.com/1174092/69897276-18a20380-134a-11ea-8127-8e1ecaf0b1f4.png">

**Expected Behavior**
The icons should be vertically aligned with the text:
<img width="518" alt="after" src="https://user-images.githubusercontent.com/1174092/69

[2019-11-30 08:44] ProsperDevelopment commented on #183
This is something my team also would be interested in - we have mobile apps coming later in the pipe, at it would be a-some to be able to use Chakra UI there as well.

[2019-12-01 19:23] zaguiini commented on #270
To be honest, I don't think it's worth supporting IE 11 anymore. It's big 2019 and IE corresponds to roughly 1% of total browser usage in the world...

[2019-12-01 19:50] leerob opened #275 "[Select] backgroundColor not forwarded to element"
**Describe the bug**
When trying to forward `backgroundColor` to `Select`, it does not work as expected.

**Expected Behavior**
I would expect the color to change.

**To Reproduce**
[code]

** Suggested solution(s)**
Workaround
[code]

I was able to get it to work by overriding the component, but I'm guessing the prop is just not getting passed to correctly. It looks like it was trying to put `bac

[2019-12-02 08:20] ProsperDevelopment commented on #270
Well that depends on what users you are targeting, and how picky you are about supporting all platforms.

Our customers are in the public care area and often in not-so-up-to-date Windows environments and they can't always choose what browser to use. So we have a fair amount of IE 11 users.

Unfortunately we can't say that IE 11 is dead since Microsoft still support it and will do so until its end

[2019-12-02 09:07] ProsperDevelopment commented on #269
No difference with `bg`.

The problem seems to be when using the theme color strings in the ListItem. Works if we use an variable or hard coded color.

As workaround we import the theme and use ` theme.colors.mashieblue[400];` in our code.

[2019-12-02 09:35] kahlil commented on #198
Thanks @leerob that seems to work really well!

[2019-12-02 12:48] royGil commented on #7
@segunadebayo

Any updates on this?
I can add tests, just want to know if anyone has already started or currently on it.

[2019-12-02 17:18] segunadebayo commented on #269
I just looked into this. The `ListItem` itself uses `PseudoBox` internally. So you can just do this, and it'll work:

[code]

I've tested this in Storybook and it works. Kindly confirm

[2019-12-02 17:21] segunadebayo commented on #272
Hi @steida. I'm not sure I understand what you mean. What component has `type=phone`? I'm aware that there's no `phone` value.

Kindly point me to it. Thanks

[2019-12-02 17:25] segunadebayo commented on #275
Hi @leerob,

The color `blue` is an object in the theme, that's the cause of this issue. It should work if you use `blue.100`, or `blue.200`, etc. See it here: https://chakra-ui.com/theme#blue

Not sure how to prevent this common error in the future. Kindly verify that it works.

[2019-12-02 17:28] segunadebayo commented on #274
Thanks for this suggestion @franky47. It's subtle but I like that attention to detail.

I've done that and will release a new version soon.

[2019-12-02 17:29] #269 closed

[2019-12-02 17:29] #256 closed

[2019-12-02 17:37] #266 closed

[2019-12-02 17:38] segunadebayo commented on #275
Let me know if this works. If it doesn't I'll re-open this issue

[2019-12-02 17:39] #274 closed

[2019-12-02 17:43] segunadebayo commented on #253
Thanks for the response @lee-reinhardt.

@xxczaki, the reason is `variantColor` expects the **color key**, not the specific color, we that internally to manage the hover, active, disabled styling of the button.

Check this: https://chakra-ui.com/theme#blue, and pass color keys like `blue`, `green`, `orange`, `red`, etc. for it to work.

In the future, this will be declarative but you either try my

[2019-12-02 17:43] #253 closed

[2019-12-02 18:02] segunadebayo commented on #244
I've looked into this and will publish a new version shortly.

[2019-12-02 18:02] #244 closed

[2019-12-02 18:06] segunadebayo commented on #242
@sidoshi, let me know when you have something to show and I can re-open this issue.

Can't wait to see what you come up with.

[2019-12-02 18:06] #242 closed

[2019-12-02 18:09] segunadebayo commented on #240
Thanks for catching this @FengShangWuQi. I've fixed it and will release a new version soon

[2019-12-02 18:09] #240 closed

[2019-12-02 18:18] aaronmcadam commented on #142
Did this get into the `dev-ts` branch @segunadebayo?

[2019-12-02 18:18] aaronmcadam commented on #266
Thanks @segunadebayo!

[2019-12-02 18:27] segunadebayo commented on #239
That's a good point! I've changed it to use `DefaultTheme` instead.

Thanks

[2019-12-02 18:27] #239 closed

[2019-12-02 18:31] segunadebayo commented on #238
The names `zIndices` and `radii` are directly from styled-system, that's why we're using it that way. Indeed, `zIndex` should be a `number` not `StringOrNumber`.

Thanks for that suggestion. I'll release a new version shortly

[2019-12-02 18:31] #238 closed

[2019-12-02 18:49] segunadebayo commented on #237
I've updated the definitions for the Tabs component and will release a new version soon

[2019-12-02 18:49] #237 closed

[2019-12-02 18:51] #231 closed

[2019-12-02 18:52] segunadebayo commented on #231
Thanks for the walkaround @antegulin and @Drakota

[2019-12-02 19:10] steida commented on #272
Sorry for not being descriptive enough.  In example, there is `type` phone.
![Screenshot 2019-12-02 at 20 10 01](https://user-images.githubusercontent.com/66249/69987410-be6a9380-153f-11ea-9a1c-21e6027d55e5.png)

[2019-12-02 19:28] segunadebayo commented on #220
I've resolved this and will release a new version shortly.

[2019-12-02 19:28] #220 closed

[2019-12-02 19:31] segunadebayo commented on #272
Oh, I see. I've changed that to `tel`.

I'll update the docs shortly.

[2019-12-02 19:31] #272 closed

[2019-12-02 19:33] segunadebayo commented on #229
I'm going to close this for now. Let me know if there are still issues, and I can re-open this.

[2019-12-02 19:33] #229 closed

[2019-12-02 19:34] #203 closed

[2019-12-02 19:35] segunadebayo commented on #209
Thanks for this suggestion. When suspense leave the "experimental" phase, we'll look into this.

[2019-12-02 19:35] #209 closed

[2019-12-02 19:40] segunadebayo commented on #227
I'd suggest you use the `PseudoBox` component to create that button.

[code]

Let me know if this helps. If not, I'll re-open the issue

[2019-12-02 19:40] #227 closed

[2019-12-02 19:41] segunadebayo commented on #197
Thanks for this suggestion @kripod. We don't plan to do this anytime soon.

I'm going to close it for now and add a tag to help me find it down the line.

[2019-12-02 19:42] #197 closed

[2019-12-02 19:52] segunadebayo commented on #196
This has been resolved in the `dev-ts` branch and will be released soon. I'll close it out for now

[2019-12-02 19:52] #196 closed

[2019-12-02 19:53] segunadebayo commented on #215
I've added the type definition for the `variantColor`. I'll release an update soon.

[2019-12-02 19:53] #215 closed

[2019-12-02 19:54] #226 closed

[2019-12-02 19:58] segunadebayo commented on #224
I've resolved this issue and will update the docs soon.

[2019-12-02 19:58] #224 closed

[2019-12-02 19:59] #214 closed

[2019-12-02 20:08] ProsperDevelopment commented on #269
Yes thanks, we totally missed the fact that the <li> element was composed by a PseudoBox. Great!

[2019-12-02 20:35] segunadebayo commented on #173
I've omitted the types from most of the affected components @franky47.

I'll release a new version shortly

[2019-12-02 20:35] #173 closed

[2019-12-02 20:38] #134 closed

[2019-12-02 20:39] #97 closed

[2019-12-02 20:41] segunadebayo commented on #38
I'm closing this out. Check updates on #140

[2019-12-02 20:41] #38 closed

[2019-12-02 20:44] segunadebayo commented on #7
Hi @royGil.

Feel free to start adding some tests on the `dev-ts` branch. We're currently migrating to TypeScript and it makes sense to have the test there.

[2019-12-02 21:02] segunadebayo commented on #142
@aaronmcadam. I intend to add a `MenuItemIcon` component in the `dev-ts` branch

[2019-12-02 21:14] aaronmcadam commented on #142
Thanks @segunadebayo.

[2019-12-03 08:37] jescowuester commented on #207
To simplify the stack component we could also use sth like this instead of cloneElement:

[code]

That way it can be easily overwritten and it would make the component more intuitive as well IMO.

[2019-12-03 10:20] JClackett opened #276 "useDisclosure: TS Types are possibly undefined"
**Describe the bug**
The values returned from the useDisclosure hook are possible undefined, meaning i have to accommodate for this all over the place

**Expected Behavior**

[code]

**To Reproduce**
Inspect the useDisclosure types

**Suggested solution(s)**
Make not undefined :)

[2019-12-03 10:36] segunadebayo commented on #276
Hi @JClackett,

I just checked this again. Doesn't seem to have an issue and it's not "possibly undefined"
Check here: https://codesandbox.io/s/chakra-ts-starter-e5rgt

I'm not sure why it says that for you, perhaps you could share a codesandbox TS link for this, or a quick screen recording, inspecting the types.

[2019-12-03 11:03] JClackett commented on #276
Hmmm, in the example you gave you're using v0.3.1 if you use the latest (v0.4.1) the typescript definitions change to:

[code]

[2019-12-03 11:40] segunadebayo commented on #276
Ah. I see. Thanks for that observation

I merged a PR that fixed this. I've just released an update that fixes this. Kindly upgrade.

If this issue persists, I'll re-open this issue.

Cheers.

[2019-12-03 11:40] #276 closed

[2019-12-03 11:41] segunadebayo commented on #276
You can check it by reviewing this update: https://codesandbox.io/s/chakra-ts-starter-v5g1y

[2019-12-03 14:08] kripod opened #278 "[NumberInput] Asymmetric value and onChange parameter"
**Describe the bug**

The value of `NumberInput.value` has a type of `number | undefined`, while `NumberInput.onChange` receives `number | null` as a parameter.

**Suggested solution(s)**
`NumberInput.value` should also be intentionally nullable, as described by #243.

[2019-12-03 14:38] kripod opened #279 "[NumberInput] A component is changing an uncontrolled input of type text to be controlled"
**Describe the bug**
When using intentionally `null` value for a `NumberInput`, the component crashes with the stack trace below:

[code]

**Expected Behavior**
`NumberInput.value` should be given `null` without issues.

[2019-12-03 15:04] omarkhatibco opened #280 "[CheckBox] variantColor not accepting custom color object any more"
**To Reproduce**
1. just update to v.5.0
2. in `theme.js` in Color object make a new color `colorTest`
3. in `CheckBox`  component make `variantColor="colorTest"`
4. you will see the error.

**Suggested solution(s)**
we need a way to transfer custom theme value to types also.

**Desktop (please complete the following information):**
 - OS: Mac OS
 - Browser Chrome
 - Version 0.5.0

[2019-12-03 15:21] JClackett commented on #280
I have this for the Button component also, i added a "primary" color to the default theme like so:
[code]

but then when using variantColor="primary" on a button the button becomes fully transparent, have i missed something here?

demo here: https://codesandbox.io/s/chakra-ts-starter-ny9bw

Thanks

[2019-12-03 16:48] JClackett commented on #276
I also have the same for the useColorMode types

[2019-12-03 17:06] DouglasGabr commented on #280
@JClackett I think you must provide the shades of your primary color (50, 100, 200, 300...), being 500 the actual color. https://codesandbox.io/s/chakra-ts-starter-u5cty

[2019-12-03 17:06] DouglasGabr commented on #280
The other shades are used in `:hover` and `:focus`

[2019-12-03 20:19] segunadebayo commented on #276
I've just fixed that as well

[2019-12-04 00:35] leerob commented on #275
I believe that's not the issue 😢 Here's a sandbox with a reproducible example.

https://codesandbox.io/s/chakra-js-starter-6t9xl?fontsize=14&hidenavigation=1&theme=dark

[2019-12-04 08:57] segunadebayo commented on #275
I see what you mean, I plan to simplify the API for the select component to this:

[code]
This will keep it declarative and make it easy to style any part of the `Select`

[2019-12-04 08:58] segunadebayo commented on #275
I'll release an update soon.

[2019-12-04 15:28] aaronmcadam commented on #275
@segunadebayo are there updated docs for `Select` too? I'd like to try it out. The docs site didn't get updated when `0.5.0` was released.

[2019-12-04 16:01] segunadebayo commented on #278
I've looked into this and it's quite tricky.

Here are the scenarios that play out:

- If we return just `number  | null` in the onChange callback, then decimal values won't be allowed. When you type "3.", you would get back "3"

- It sounds like a good idea to allow `null` and internally set the input's value to `""` but I don't see the benefits if my first point can't be achieved.

**Possible Op

[2019-12-04 16:06] kripod commented on #278
I’d personally use a string, or encapsulate the inner state of the component to disallow emitting `onChange` when only a decimal point is appended to the end. The latter case would allow using a `number` as the `value` prop and the parameter of `onChange`.

[2019-12-04 16:08] segunadebayo commented on #275
@aaronmcadam. The Select is still the native select component, not the `SingleSelect` we discussed in #140.

I intend to release a patch for this issue so users can style any part of the Select.

I noticed I didn't add it to the docs. I will do so shortly.

[2019-12-04 16:13] aaronmcadam commented on #275
@segunadebayo yeah, I see that, it's a great start though! Thanks!

[2019-12-04 16:25] segunadebayo commented on #278
I thought about that and tried it. Here are my thoughts:

1. We'd be switching between controlled and uncontrolled mode. As far as I know, that's not good practice. If it's controlled, I'd like it to be "fully" controlled, and vice-versa.

2. If the `defaultValue` is `3.45`, pressing `Backspace` up until `3.`. If we disallow emitting onChange when there's a decimal point appended, the value will a

[2019-12-04 23:04] leerob commented on #275
Awesome @segunadebayo - thank you so much!

[2019-12-05 01:44] danieljodeci commented on #198
@kahlil Do you mind sharing an example of how you were able to get babel-plugin-import to work with chakra-ui?

[2019-12-05 07:52] kahlil commented on #198
Sure.

1. install the import plugin
2. add `.babelrc`

[code]

[2019-12-05 09:25] danieljodeci commented on #198
Works wonders @kahlil

Thanks

[2019-12-05 10:58] kahlil commented on #198
Happy to. Maybe we should add this to the docs @segunadebayo?

[2019-12-05 14:25] segunadebayo commented on #198
@kahlil. This looks good!

We should definitely add it to the docs. If you don't mind adding it and sending a PR, that would be great. Otherwise, I'll add it as soon as I can.

Thank you

[2019-12-05 14:49] stevewillard commented on #198
I think this configuration works for most components, but not all of them. For example `Popover` doesn't seem to work:
[code]

[2019-12-05 15:15] aaronmcadam commented on #279
I've run into this a few times over the past few days. Do you have any thoughts on this one @segunadebayo?

[2019-12-05 15:25] kahlil commented on #198
Yeah Popover works differently. It has a bunch of named exports and no default export. Hm, not sure how to use the plugin to keep the named imports in those cases...

[2019-12-05 21:05] kahlil commented on #198
@stevewillard for now try to do the named imports from the tree-shaken file directly like:

[code]

I don’t see a way how the plugin could be used to distinguish the two cases. Maybe something that needs to be added somehow.

[2019-12-05 21:08] kahlil commented on #198
I‘ll send a PR but first want to investigate a little further if the `Popover` Case can be handled a little better.

[2019-12-06 08:19] Andreeh commented on #205
Im getting `JSX element type 'SimpleGrid' does not have any construct or call signatures.  TS2604` with the latest and greatest

[2019-12-06 10:09] SanvirDessai opened #283 "[CheckBox] isChecked prop is not affecting the checked state"
**Describe the bug**
The CheckBox isChecked prop is not affecting the checked state of the checkbox.

**Expected Behavior**
Expect the CheckBox to be checked when isChecked prop is set to true.

**To Reproduce**
1. Create a CheckboxGroup
2. Create a CheckBox inside the CheckboxGroup
3. Set isChecked={true}

[code]

**Desktop (please complete the following information):**
 - macOS Catalina 10.15.1

[2019-12-06 11:16] sciolist commented on #205
ListItem is a PseudoBox, but only allows BoxProps in its type definition, so you can't use _hover etc on it with typescript.

Can be worked around with an ambient file containing:
[code]

[2019-12-06 14:44] stevewillard commented on #198
I think there are several other components that have the same problem. For example `List` and `Tab`:

[code]

You have to do:
[code]

[2019-12-06 14:58] leerob commented on #198
To use properly, that plugin expects all components to be exported at the same level. It would take a bit of refactoring and some breaking changes to get it working perfectly with all components.

Example: https://github.com/ant-design/ant-design/tree/master/components

[2019-12-06 16:08] lee-reinhardt commented on #283
From reading the docs, I believe when using a `<CheckboxGroup />` the checks are determined at the group level.

You want to do:
[code]

https://chakra-ui.com/checkbox#checkboxgroup-props

[2019-12-07 16:22] segunadebayo commented on #279
@aaronmcadam, yeah I'm aware.

It's related to a PR from @kripod I merged a while ago. I'll release a patch for it shortly.

[2019-12-07 18:58] deebov opened #285 "[Button | Input] certain components are not compatible with react-beautiful-dnd"
**Describe the bug**
I am drying to make the components draggable. But components such Button and Input are not working well with dnd. I think there's some problem with the ref prop. Because react-beautiful-dnd requires its ref to be passed to HTMLElement.

**Expected Behavior**
Components such Button and Input should be draggable

**To Reproduce**
- Use this sandbox: https://codesandbox.io/s/deli

[2019-12-09 02:12] singingwolfboy opened #287 "How to do nested selectors?"
## Problem
[Emotion supports nested selectors](https://emotion.sh/docs/nested), and they can sometimes be very useful. However, it does not appear that Chakra supports this feature, even though Chakra is built on Emotion.

Is it possible to use nested selectors with Chakra, as well? I don't see a way to do so in the documentation. I tried using the `css` prop to build on Emotion, but the Typescrip

[2019-12-09 06:23] lee-reinhardt commented on #287
You have to do a little bit of extra work to make emotion's `css` prop work in general. You need to do one of these things:
- Use emotion's `jsx` pragma in files where the `css` prop is used, see: https://emotion.sh/docs/typescript
- Use  the`@emotion/babel-preset-css-prop` Babel preset, see: https://emotion.sh/docs/@emotion/babel-preset-css-prop

TS will be fine with the `css` prop as long as you

[2019-12-09 07:54] #283 closed

[2019-12-09 13:59] singingwolfboy commented on #287
Ah, perfect! I was able to get the `css` prop to work with the `jsx` pragma. Perhaps we should add this to the Chakra documentation, or at least link to the relevant section of the Emotion documentation?

[2019-12-09 14:04] segunadebayo commented on #287
That's a good point @lee-reinhardt!

I was thinking you could create your own Link component based on Chakra's link and add the styles there, to keep it clean.

Here's what I mean

[code]

You can either use this or the `css` prop.

[2019-12-09 14:06] segunadebayo commented on #148
This issue has been resolved in the `dev-ts` branch so it's okay to keep it closed.

[2019-12-09 18:04] rahrang opened #288 "[Toast] incorrect prop type for `title` in docs"
**Describe the bug**
According to the current documentation for the toast component ([see here](https://chakra-ui.com/toast)), the toast component can receive a prop `title` of type `boolean`.

![image](https://user-images.githubusercontent.com/13807007/70460300-d32cb700-1a6a-11ea-9add-a5f6482b44cc.png)

**Expected Behavior**
In the docs, the toast component `title` prop should be of type `string`

[2019-12-09 18:41] DouglasGabr commented on #287
Other solution is to use emotion `styled` to use the nested selectors:

[code]

If you need to target the `Link` component in the selector, I think you will need to wrap it in a styled:

[code]

This is a more advanced usage, and I think it's required to use the emotion babel plugin for it to work

[2019-12-10 05:22] #115 closed

[2019-12-10 12:05] #288 closed

[2019-12-10 16:47] segunadebayo commented on #287
Seems we have a couple of solutions for this issue. I'll close this out for now.

If you ever run into any issues related to this, feel free to comment here and I'll re-open it.

Thanks for using Chakra UI

[2019-12-10 16:47] #287 closed

[2019-12-10 16:49] segunadebayo commented on #202
I've noted this and will look into it much later. At the moment, we don't plan to add it.

I'll add comments here once we try it.

[2019-12-10 16:49] #202 closed

[2019-12-11 09:38] lednhatkhanh opened #291 "Request to add AppBar component"
**Is your feature request related to a problem? Please describe.**

An Appbar is a commonly used components in webapp and it would be great if chakra-ui can provide that component

**Describe the solution you'd like**

Maybe something like [tailwind header example](https://tailwindcss.com/components/navigation/#responsive-header)?

[2019-12-11 10:07] segunadebayo commented on #279
I've fixed this issue and will publish a patch shortly.

As it stands, NumberInput can't be given a `null` value as it's not allowed by default in input fields. To support that scenario, we'll have to break the controlled/uncontrolled switching rule of React and I don't think it's worth it.

NumberInput returns a `string | number` depending on the current state of the value. To denote the absence

[2019-12-11 10:07] #279 closed

[2019-12-11 10:09] segunadebayo commented on #278
I've fixed this type problem. value and onChange will now return `string | number` following our conversation.

I'll release a patch in a couple of hours

[2019-12-11 10:09] #278 closed

[2019-12-11 10:36] segunadebayo commented on #275
I've fixed this issue and I'll release a patch later today after I add it to the docs.

`Select` will now forward props as expected.

[2019-12-11 12:47] segunadebayo commented on #280
This for answering this @DouglasGabr! I'm going to close this out for now.

I'll improve the docs to reflect this, as it's a common mistake.

[2019-12-11 12:47] #280 closed

[2019-12-11 12:49] omarkhatibco commented on #280
Hi @segunadebayo
it's still a bug here and the problem is not solved

[2019-12-11 12:56] segunadebayo commented on #280
@omarkhatibco Send me a codesandbox for this and I'll look into it.

As for the type definition, I'll update it to support custom values. Will release an update today.

[2019-12-11 12:57] segunadebayo commented on #275
I've added the Select to the docs and it'll be updated shortly.

Thanks for this issue, it helped me improve the Select component a bit.

[2019-12-11 12:57] #275 closed

[2019-12-11 13:07] omarkhatibco commented on #280
@segunadebayo I just updated my comment

I think with typeScript we need a dynamic types for things in `theme.js`

here is my codesandbox
https://codesandbox.io/s/chakra-ts-starter-siunw

[2019-12-11 13:10] omarkhatibco commented on #280
@segunadebayo
I found some bugs in Typescript definition so do you prefer to open an issue or a PR ?

[2019-12-11 13:11] segunadebayo commented on #280
I see. This is related to the types for the `variantColor` not that `variantColor` does not work with custom color objects.

For now, I thought it changing the `variantColor` type to `string` so users can freely pass any value and emit some warning if they pass the wrong values not in the theme.

What do you think?

[2019-12-11 13:12] segunadebayo commented on #280
Is this related to the `variantColor?: VariantColor` part of the code?

[2019-12-11 13:13] omarkhatibco commented on #280
I think it's ok for now

[2019-12-11 13:16] omarkhatibco commented on #280
no it's too many other things

for example if you use `Box` as  `iframe` the prop `src` is not acceptable

check the same codesandbox again

https://codesandbox.io/s/chakra-ts-starter-siunw

[2019-12-11 13:21] segunadebayo commented on #280
I'm aware of the issue with the `as` prop and we're currently tackling that in the `dev-ts` branch.

[2019-12-11 13:25] omarkhatibco commented on #280
@segunadebayo  some missing css props like `filter` or `backdropFilter` ?

[2019-12-11 13:31] segunadebayo commented on #280
Please add type issue you notice as a comment here #205. When we work on that aspect, we'll resolve it.

As a walk around, you can definitely use the `css` prop from emotion to that those css properties.

[2019-12-11 13:32] segunadebayo commented on #280
For emotion `css` to work you need to add the jsx pragma at the top of the file.
`/**jsx @jsx */`

[2019-12-11 13:33] omarkhatibco commented on #280
@segunadebayo  it worked , thanks for you.

[2019-12-11 13:35] segunadebayo commented on #280
Great! I'll release an update to the checkbox `variantColor` based on our conversation.

Thanks for using Chakra.

[2019-12-11 13:42] leerob commented on #275
Thanks so much @segunadebayo 🎉

[2019-12-12 00:37] jeanbauer commented on #291
Hey @lednhatkhanh and @segunadebayo

I'm currently working exactly on that right now. This is how it looks:

<img width="1280" alt="header" src="https://user-images.githubusercontent.com/4689228/70672327-29724380-1c7f-11ea-8692-5d6c4ad2232e.png">

I made it using a Box + Flex approach.
The style is the same as Tailwind's Header just following the current theme running on Chakra.

If you think that

[2019-12-12 01:17] lednhatkhanh commented on #291
Wow, that's really nice, it would be great if you can make a PR for that.

[2019-12-12 09:00] jeanbauer commented on #291
The problem with adding a Header component to Chakra is that most Headers doesn't have the same structure. Think about the Avatar component for example:

![Screen Shot 2019-12-12 at 09 22 25](https://user-images.githubusercontent.com/4689228/70695013-1a13ea00-1cc1-11ea-9cd6-e2f94dc5c2a9.png)

Most of the websites and libraries design the same component, it is a common thing, right?
Now try to find

[2019-12-12 09:07] segunadebayo commented on #291
I agree @jeanbauer. There are so many variations of this Header API and I don't think we'll add it to the library.

This feels like something we can add to docs as "Common Recipes" or "Component Showcase" so other users can just copy the code and use it.

[2019-12-12 09:11] jeanbauer commented on #291
Perfect @segunadebayo! Once I have this finished I'll add there. Thanks :)

[2019-12-12 12:05] jeanbauer commented on #291
PR: https://github.com/chakra-ui/chakra-ui/pull/293

[2019-12-12 15:26] #127 closed

[2019-12-13 16:08] JClackett opened #295 "[Doc] /box returns 404"
**Describe the bug**
Docs /box page returns 404 :)

**To Reproduce**
https://chakra-ui.com/box

[2019-12-13 16:11] segunadebayo commented on #295
Thanks for notifying me.

It should be working now. I just fixed it.

[2019-12-13 16:11] #295 closed

[2019-12-14 03:13] kripod commented on #278
I had some time to experiment with the inner state concept I've [outlined above](https://github.com/chakra-ui/chakra-ui/issues/278#issuecomment-561712561). While working on an implementation, I realized that it's not even remotely as straightforward to make as I would've thought.

My `NumberInput` is available as [a gist](https://gist.github.com/kripod/a0fde82708df64c35fbf1521f951374f), along with

[2019-12-14 06:13] kripod commented on #278
In the meantime, I came up with a more elegant solution, shown in [this CodeSandbox](https://codesandbox.io/s/react-numberinput-v2-v9sgk). The gist has also been [updated](https://gist.github.com/kripod/a0fde82708df64c35fbf1521f951374f) to reflect the changes.

[2019-12-14 10:57] egoist opened #296 "Allow to merge pseudo props"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

[code]

Something like this will disable the default `hover` styles.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Maybe we should merge custom pseudo props with the default one?

**Desc

[2019-12-14 12:06] wleroux opened #297 "[Modal with Input] Input focus resets on every keystroke"
**Describe the bug**
When a modal contains multiple inputs, the first input selected is re-selected on every change when using useState.

See: https://codesandbox.io/s/old-cdn-xizlo

**Expected Behavior**
After the initial mounting, the focus should not change.

**To Reproduce**
1. Go to https://codesandbox.io/s/old-cdn-xizlo
2. Click "Open Modal"
3. Type "Hello" in First Name
4. Type "World" in L

[2019-12-14 16:14] segunadebayo commented on #297
Thanks for this issue.

I just looked into it and resolved it. Will release a patch soon.

As regards the `box-sizing`, you might need to add the `CSSReset` component. It applies that style by default.

[2019-12-15 00:21] #154 closed

[2019-12-15 10:10] #53 closed

[2019-12-15 16:45] NathanH81 commented on #205
Hello,

Thank you for this awesome library. When creating a custom icon via theme, the name property for the Icon component causes a compile error in TypeScript. Relevant CodeSandbox is located here:

https://codesandbox.io/s/chakra-ts-starter-wr85o

[2019-12-15 19:40] Vectormike opened #298 "Navbar component"
Any future implementation of a Navbar component?

[2019-12-16 09:06] zasuh commented on #200
Is this component still going to be implemented or has it dropped off?

[2019-12-16 09:15] segunadebayo commented on #200
@zasuh , it's definitely going to be implemented. I really appreciate the work of @kripod on this. I just haven't had some time to review the code completely and suggest improvements before merging.

[2019-12-16 09:17] segunadebayo commented on #154
@aaronmcadam, did you manage to figure this out?

[2019-12-16 09:28] aaronmcadam commented on #154
@segunadebayo no, I just didn't have a need to implement this anymore in my project. Thanks for following up.

[2019-12-16 10:22] kripod commented on #200
@zasuh I also made several improvements over time which are not yet included in this PR. Eagerly waiting for the TypeScript release to update typings and continue work on this. Also, I’ll have final exams at university during the first quarter of January. I had to cope with similar tasks lately, explaining why I wasn’t so active lately.

[2019-12-16 13:32] jeanbauer commented on #298
Hey @Vectormike, **no**. You can check here why: https://github.com/chakra-ui/chakra-ui/issues/291

And here is the recipe so you can build your own: https://codesandbox.io/s/chakra-ui-header-sbsh5?fontsize=14&hidenavigation=1&theme=dark

Hope it helps.

[2019-12-17 20:27] JeremieLeblanc commented on #270
I would have used Chakra if it had IE11 support.
Seeing that 5% of the traffic to my client's site was still using IE last year, I can't ignore it...
IE11 still comes pre-loaded on any new Windows machine you buy today...

[2019-12-18 05:10] iRoachie commented on #231
What's actually the fix for this? What does usage look like?

[2019-12-18 08:38] DavidJFelix opened #300 "[InputGroup, InputRightAddon] Right addon disappears under background color on focus"
**Describe the bug**
When a background color is set on any parent tag, a child `InputGroup` with `InputRightAddon` will have the `InputRightAddon` disappear "under" the background when the `Input` that is part of the `InputGroup` is focused

Here's a really ugly screenshot of it happening in the chakra docs with "teal" forced as a background color (via dev tools).

<img width="793" alt="image" src

[2019-12-18 15:12] DavidJFelix commented on #300
New suggestion: don't apply `input:focus + .inputGroup { z-index: -1 }` instead apply `.input: focus { z-index:2 }`

[2019-12-18 17:40] DavidJFelix commented on #300
Here's my workaround code that performs the suggestion above:

[code]

[2019-12-19 00:47] jamesg1 commented on #270
I think some pollyfills for react-spring should get there. https://github.com/react-spring/react-spring/issues/877
I agree this is a nice library but IE11 is still a browser most large enterprise customer apps support.

[2019-12-19 19:44] leetmachine commented on #205
upgraded from core 0.4.1 to 0.5.1 and my theme.ts file broke due to what looks like a change in ITheme from StyledSystem.Theme to a chakra's own type.

Current fix:
don't use the ITheme

Usage:
I'd like to be able to extend the theme with my own names for keys. My designer used Figma to create the website design and her naming convention does not (and should not) follow Chakra's spec. By allowing

[2019-12-19 19:51] kkshyu opened #301 "[NumberInput] The declaration file is wrong"
**Describe the bug**
in the declaration of `NumberInput`, it uses the `useNumberInputProps` from `../useNumberInput`.
however, the exported props is `UseNumberInputProps` not `useNumberInputProps`

**Suggested solution(s)**
modify the declaration file of `NumberInput` to use `UseNumberInputProps` instead of `useNumberInputProps`

[2019-12-19 20:32] leetmachine commented on #270
is this related to the reason for https://www.npmjs.com/package/react-app-polyfill

[2019-12-20 00:35] JeremieLeblanc opened #303 "Drop pretty-num for pure javascript"
From what I can tell, the only place using pretty-num is in the useNumberInput/utils.js roundToPrecision function.

The setting used in the prettyNum function is PRECISION_SETTING.FIXED (set precision to specified number of decimal digits, pad with ending zeros if needed)

I believe we can achieve this functionality with simple javascript like this:
`return parseFloat(value).toFixed(precision);`

[2019-12-20 15:53] segunadebayo commented on #303
I agree. I've removed `pretty-num` in the dev-ts branch in favor of pure javascript.

Feel free to make a PR.

[2019-12-20 15:54] segunadebayo commented on #300
Thanks for your suggestion @DavidJFelix . I'll try it out and update the code once it works as expected.

[2019-12-20 15:56] segunadebayo commented on #270
I'll open to looking into this after the migration to TS. For now, I'd appreciate if anyone can chime in on this.

I think adding the right polyfills will get us pretty close.

[2019-12-20 15:57] segunadebayo commented on #205
@leetmachine. I'll release a patch for this shortly.

[2019-12-20 15:58] #301 closed

[2019-12-20 21:46] apolzon opened #304 "[Box] Fractional/Decimal widths not being converted to percentages"
**Describe the bug**
Using the Box component, setting width property to fractional (```1/2, 1/3, 1/4``` etc) or decimal (```0.5, 0.25```) is being interpreted as actual px values instead of being treated as % widths as indicated in the documentation: https://chakra-ui.com/responsive-styles#what-it-does

**Expected Behavior**
Per the styled-system docs (https://styled-system.com/#layout), width val

[2019-12-21 08:25] amolmt opened #305 "[ColorModeProvider] Color mode does not work in production"
**Describe the bug**
Switching between dark and light mode is not working in production build.

**Expected Behavior**
After clicking on the color mode switcher button it should be switching theme colors between light and dark.

**To Reproduce**
I am using chakra-ui with gatsby with below mentioned versions:
`"gatsby": "^2.18.8",
"gatsby-plugin-chakra-ui": "^0.1.0",
`

**code**
`<ThemeProvider them

[2019-12-22 09:58] MykalMachon commented on #305
Hello @amolmt, **I think this is more an issue with Gatsby (_specifically, React_) than it is with Chakra-UI.**

I've experienced bugs similar to this one myself when using gatsby. From what I know it has to do with the way Gatsby implements React's rehydrate method on statically generated pages. You can read more about it [here](https://www.gatsbyjs.org/docs/react-hydration/) and [here](https://g

[2019-12-23 12:50] #143 closed

[2019-12-23 23:20] fernandobandeira commented on #199
Love this, and it could be adopted progressively since it theoretically isn't a bc, for example, we could use their themeprovider as a start, then start replacing the components with their styled and keep going...

Also, the project has `@types` definitions, its here for now: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/theme-ui

And they plan on moving to ts later on.

[2019-12-24 01:09] Martinnord commented on #150
Hey @segunadebayo.

I've decided to go with your package for my next project. I've only used it for a couple of hours and I must say that this is one of my favorite React components libs.

I'm also interested if there's any update on this question. Since I'm feeling that I keep repeating myself for keeping the color scheme based on the mode.

Regards, Martin.

[2019-12-25 03:40] ericclemmons commented on #171
I wouldn't consider this stale, but "blocked" or "on-hold".

[2019-12-26 17:33] franky47 commented on #135
I agree with @felippepuhle https://github.com/chakra-ui/chakra-ui/issues/135#issuecomment-550288765.

Chakra is great at providing base UI components: in a table context, this could be pre-styled (overridable as usual) Header and Row components, but should probably not include behaviour, as it's where use-cases will vary immensely from simple data presentation to full interactivity.

As the author

[2019-12-26 18:58] iRoachie opened #310 "[Menu] Entire App crashes if no MenuItems exist"
**Describe the bug**
When selecting the Menu and no items are rendered, the entire app crashes

![Screenshot 2019-12-26 at 2 52 26 PM](https://user-images.githubusercontent.com/5962998/71487050-8c231d80-27ef-11ea-88d4-edf9e7cc4620.png)
![Screenshot 2019-12-26 at 2 53 03 PM](https://user-images.githubusercontent.com/5962998/71487051-8dece100-27ef-11ea-92b9-7e6ce51d7812.png)

**Expected Behavior**
D

[2019-12-26 20:32] ScottLindley opened #311 "TabList - Falsey child throws an error"
**Describe the bug**
The `TabList` component does not tolerate null or "falsey" children. This is an unexpected behavior as short-circuit rendering is a common pattern in React.

<img width="841" alt="image" src="https://user-images.githubusercontent.com/21317789/71489412-83cce180-27f3-11ea-9ad0-323b62a6e574.png">

It appears the problem is [here](https://github.com/chakra-ui/chakra-ui/blob/master

[2019-12-27 02:50] coodoo opened #312 "Potential responsive style bug"
I was expecting the following two statements should have the same effect (when in small screen it's `1fr`, any other screen sizes will be `1fr 1fr 1fr`), but strangely, the one on top is making `md` to be `1fr` too, while the one on the bottom worked correctly. Not sure if this is expected or indeed a bug?

[code]

[2019-12-27 04:41] sirluis commented on #205
Hey. Wanna help, just saw the types for the Toast component on the project board on To-Do, but the types are already on master branch, where can I help?

[2019-12-27 04:47] hawk-ee opened #313 "Add links to components source code on documentation"
**Is your feature request related to a problem? Please describe.**
We need to find the source code manually when reading the docs;

**Describe the solution you'd like**
Direct link to the components source code should be available on it's page at documentation.

[2019-12-27 09:55] segunadebayo commented on #150
Hi @Martinnord. I'm glad to hear that you like Chakra UI.

To be honest, I haven't given this much thought. I'll look into it once I complete the TypeScript migration. I understand it's a pain to keep repeating that.

I'm thinking we'll need a convenient way to consume a color mode specification. For example, I assume you'd do this most of the time.

[code]

So we just need a way to consume this,

[2019-12-27 10:25] segunadebayo commented on #311
Hi @ScottLindley. Thanks for suggesting a solution to this issue. I'll look into it soon and release a patch.

Happy Holidays 😄

[2019-12-27 10:33] segunadebayo commented on #205
Hi @sirluis. Thanks for wanting to help.

Here are some tasks you can help with:
- Write tests for some chakra-ui hooks in the `dev-ts` branch.
- Convert the useToast hook in `master` to TS. Currently, in the master branch, we have the types in `index.d.ts` but now we need to merge both into the same file.
- In the `useSlider` hook in `dev-ts`, add support for `multi-thumb` sliders.

Let me know w

[2019-12-27 10:35] segunadebayo commented on #310
Hi @iRoachie. Feel free to submit a PR for this issue.

Thanks for using Chakra UI

[2019-12-27 10:42] harshzalavadiya opened #314 "Accessiblity: Navigation issues using keyboard on <Menu/>"
**Describe the bug**
In `<Menu/>` component while navigating with keyboard if `<MenuItem/>` is or has Link inside it's not navigating but `onClick` event gets triggered perfectly and clicking using mouse also works fine.

below is the example taken from https://chakra-ui.com/menu#usage

[code]

**Expected Behavior**
Should navigate to href on pressing enter on <MenuItem/> component

**To Reproduce

[2019-12-27 12:46] felippepuhle commented on #135
@franky47 I've made this a few weeks ago: https://github.com/felippepuhle/chakra-admin/blob/master/src/routes/Users/UsersList/UsersList.tsx#L39

Not perfect but it's working for now (I couldn't take the time to improve it yet), feel free to use/improve and send some PRs if you want.

Probably soon I'll work a bit more on this project (chakra-ui dashboard admin)

Thanks!

[2019-12-27 13:45] iRoachie commented on #310
The first one I can do easily. For the second one, do you have any idea how we might check if there's any MenuItem's?

[2019-12-28 10:23] pandaniell opened #315 "[Link] Dynamic react-router-dom or external link"
After I found this https://github.com/chakra-ui/chakra-ui/issues/148
I wanted to give dynamic links a try like

[code]

The problem is that the original domain is always added as a prefix to the path, is there a nice way of having a dynamic link with type safety?

[2019-12-28 10:33] 3nvi opened #316 "[Image] Potential memory leak on unmounts"
**Describe the bug**

`Image` component causes minor memory leak if unmounted prior to the image src being loaded

**Expected Behavior**
`Image` should not cause a memory leak if it unmounts quickly before the image src has the chance to be fetched over the network.

**To Reproduce**
- Use this template:
- List the steps to reproduce the behavior:
1. Create an App with two pages: one empty and one

[2019-12-28 10:54] #315 closed

[2019-12-30 10:02] #316 closed

[2019-12-30 10:02] #246 closed

[2019-12-30 12:44] franky47 opened #319 "[Tooltip] showDelay does not handle mouse leave"
**Describe the bug**
I have a table of components with tooltips that should show up after a given amount of time (1.5 seconds). However, if the mouse exits the component, the tooltip is still shown, and gets stuck:
![tooltip-delay](https://user-images.githubusercontent.com/1174092/71582156-cb5bb200-2b00-11ea-8c06-c504f79cf2d2.gif)

**Expected Behavior**
Tooltips should only appear when the mouse h

[2019-12-30 13:09] franky47 commented on #319
It can be fixed by cancelling the enter timeout on exit:

https://github.com/chakra-ui/chakra-ui/blob/bebd06798739ef913a70d0ae3bf22c1d91147bba/packages/chakra-ui/src/Tooltip/index.js#L50
[code]

Result:
![tooltip-delay-fix](https://user-images.githubusercontent.com/1174092/71583266-9736c000-2b05-11ea-83a4-d92c66c1c72e.gif)

[2019-12-30 20:16] esteladiaz commented on #131
Hello, can someone expand on how to use _app.js with ` import 'regenerator-runtime/runtime';`?

[2019-12-30 20:54] #303 closed

[2019-12-31 07:07] harshzalavadiya commented on #131
@esteladiaz Not sure if I understand correctly but if you mean how to then checkout next documentation on `_app` at https://nextjs.org/docs/advanced-features/custom-app and copy` _app.js ` and add import on top

[2020-01-01 12:09] #180 closed

[2020-01-01 14:41] franky47 commented on #319
I added a PR for the fix !

[2020-01-01 14:41] #319 closed

[2020-01-02 08:35] robertcoopercode opened #322 "[Modal] Top most modal overlay should appear above all other modals"
**Describe the bug**
When opening multiple modals, the top most modal's overlay does not appear over other modals found underneath the current modal.
![image](https://user-images.githubusercontent.com/16786990/71657983-1f88b100-2d10-11ea-852a-abeb3cfd0ba5.png)

**Expected Behavior**
The modal overlay of the top most modal should appear above all modals except for the top most modal.
![image](https

[2020-01-02 15:34] #192 closed

[2020-01-03 08:50] ProsperDevelopment commented on #270
I've been looking into this and found two issues with getting it running:

The third party module from-exponential isn't transpiled to es5.
the react-spring library isn't transpiled correct

I got stuck at the first issue getting the polyfills for third party packages in the root node_modules folder.

I tried with working with exclude and include in the babel config, with no results

Maybe https:/

[2020-01-03 10:53] nephix opened #325 "Make Drawer component swipable"
**Is your feature request related to a problem? Please describe.**
On mobile devices, users have to click outside of the drawer or a toggle button in order to close a drawer

**Describe the solution you'd like**
On mobile devices, a user should be able to close a drawer by swiping left or right

**Additional context**
Material UI's [Drawer](https://material-ui.com/components/drawers/#swipeable-tem

[2020-01-03 22:02] #149 closed

[2020-01-04 04:31] divyanshu013 opened #326 "Docs: add search"
Not a critical issue since <kbd>Cmd</kbd> + <kbd>F</kbd> works for most cases but would be great to have a search functionality for the docs. (I've seen some other docs use Algolia for this.)

[2020-01-04 23:18] sirluis commented on #205
Hi @segunadebayo .
Better I can do ATM is write tests. Are you guys testing with jest?

[2020-01-05 20:04] jackleslie opened #327 "[Input] Line height property affecting cursor on Safari iOS"
**Describe the bug**
When typing in an `Input` on iOS in Safari, the cursor does not appear correctly. It appears to be because of the `line-height` property which is modified for each `Input` size.

**Expected Behavior**
The input cursor should behave as intended.

**To Reproduce**
1. Go to [https://chakra-ui.com/input](https://chakra-ui.com/input) on iOS Safari
2. Start typing in any input

**Su

[2020-01-06 08:54] lkleuver opened #329 "Request to add global tooltip subscriptions"
**Is your feature request related to a problem? Please describe.**
Tooltips don't hide when triggering another tooltip

**Describe the solution you'd like**
Hide tooltip when a new one is active

**Additional context**
https://github.com/reach/reach-ui/blob/master/packages/tooltip/src/index.js#L179

I'd be happy to send a PR for this

[2020-01-06 17:43] ShahAnuj2610 opened #330 "Request to support library in VueJS"
Since this library has achieved great popularity, extending it to VueJS would be a cherry on the cream. I would be more than happy to start a project and contribute to the same.

[2020-01-07 08:58] ProsperDevelopment opened #331 "[Button] Skip not-allowed cursor when button is in loading state"
**Is your feature request related to a problem? Please describe.**
When button is in loading state the mouse cursor changes to a forbidden sign.

**Describe the solution you'd like**
I would like the cursor not to change - I think its enough indication with the greying out, the spinner and no pointer cursor. In my opinion the not-allowed cursor makes to much noise and is a too strong symbol for a

[2020-01-07 15:32] gumbadumba opened #332 "RadioButtonGroup swallows Tab key event"
Tabbing out of the chakra RadioButtonGroup does not work. This can be verified with the example at https://chakra-ui.com/radio.

Looking at https://github.com/chakra-ui/chakra-ui/blob/master/packages/chakra-ui/src/RadioButtonGroup/index.js, it appears as if the `handleKeyDown` method only handles arrow presses and always calls `event.preventDefault()`:

[code]

As a consequence, once inside the ra

[2020-01-08 08:06] Hagendorn commented on #332
I can provide a fix for this bug

[2020-01-08 09:56] Hagendorn commented on #332
Here is a PR to fix this bug: https://github.com/chakra-ui/chakra-ui/pull/333

[2020-01-08 12:20] divyanshu013 opened #334 "Request to add shadows API"
**Is your feature request related to a problem? Please describe.**
I find the colors API pretty usefule. For example referring to colors simply like `gray.50`, etc. I was wondering if we can leverage something similar for shadows? For example, say you are creating a card and want to add some elevation, it would be great if we can utilize something similar.

**Describe the solution you'd like**
I d

[2020-01-08 13:03] #102 closed

[2020-01-08 17:00] aaronmcadam commented on #334
@divyanshu013 This already exists here: https://github.com/chakra-ui/chakra-ui/blob/52230c5ac62301993ae6ac47ad658987e5822581/packages/chakra-ui/src/theme/theme.js#L8

Example:

[code]

[2020-01-08 17:12] pandaniell opened #336 "Request to add the possibility for margin in the MenuList component"
Currently the only way to add margin to a MenuList is by using !important

[code]
It would be nice to be able to add margin to the MenuList without using !important

[2020-01-08 17:55] divyanshu013 commented on #334
Thanks, I missed that in the docs. Closing this issue.

[2020-01-08 17:55] #334 closed

[2020-01-09 06:21] rahsheen commented on #183
Any updates on this?

[2020-01-09 08:25] segunadebayo commented on #330
Hi @ShahAnuj2610. Thanks for your suggestion about VueJS.

I know a friend who's already working on this and will soon make it public. I'd advise you to collaborate with him once he does so we can create a more solid Vue.js system.

Here's a link to the repo: https://github.com/codebender828/kiwi-ui/tree/master/packages/kiwi-core/src

[2020-01-09 08:25] #330 closed

[2020-01-09 08:35] #332 closed

[2020-01-09 12:59] lkleuver opened #337 "[Popover] missing typescript definition for usePortal"
**Describe the bug**
Typescript definition is missing for usePortal in <Popover ...>

[2020-01-10 09:09] jfhector opened #338 "Request for smaller bundle size, or ability to import components piecemeal"
First, well done on Chakra UI. I haven't tested it thoroughly yet, but it looks darn good! (Looking at it with the eyes of a web accessibility specialist).

**Is your feature request related to a problem? Please describe.**
I was about to recommend using Chakra UI to my colleagues. Then I checked the bundle size. It looks like the chakra-ui/core needs to be important, which is [100kb of gzipped](h

[2020-01-10 13:05] jfhector commented on #338
I imagine that tree shacking would reduce the sizes quite a lot. But how much?

It'd be good to have a sense of the performance cost of using Chakra-UI for just some components.

[2020-01-10 16:32] thangab opened #340 "[Homepage] Error displayed in the homepage"
**Describe the bug**
We can see an error message _ReferenceError: mdx is not defined_ on the homepage [https://chakra-ui.com/](url) and the Box component is not display.

<img width="1251" alt="error-chakra-ui" src="https://user-images.githubusercontent.com/15085404/72168967-7f492100-33ce-11ea-8f4a-3ef332fb636c.png">

**Expected Behavior**
Display the Box Component in the homepage

**To Reproduce*

[2020-01-10 21:10] talentlessguy commented on #76
@segunadebayo what is the priority of `variant` prop? I wanted to try to migrate from Rebass / Theme UI but it doesn't support variants so I can't do it now

[2020-01-11 00:57] tioluwani94 commented on #331
@ProsperDevelopment, if you don't want to have the `not-allowed` cursor on your button you can override it using the emotion's `css`.

Example

`
<Button
    variantColor="green"
    disabled
    css={css`
      &:disabled {
        cursor: pointer!important;
      }
    `}

    Hello
  </Button>
`

[2020-01-11 07:00] #300 closed

[2020-01-11 07:38] egoist commented on #338
See https://bundlephobia.com/result?p=@chakra-ui/core@0.5.2

[2020-01-11 10:29] kripod commented on #212
This is not stale, as it still causes trouble.

[2020-01-11 17:16] gmathieu commented on #225
@segunadebayo the problem still persists. `useHasImageLoaded` is always called in compliance with React hook's rule ["Only Call Hooks at the Top Level"](https://reactjs.org/docs/hooks-rules.html#only-call-hooks-at-the-top-level). `ignoreFallback` simply changes the props passed to the image.

https://github.com/chakra-ui/chakra-ui/blob/1e842de357f115f154fc45c4d670747100417ad4/packages/chakra-ui/sr

[2020-01-11 22:01] ProsperDevelopment commented on #331
Well of course you could hard code whatever with !important :) But can i make it global in the theme?

This was more of a change request of the default behaviour.

For example in windows I get a red forbidden sign which becomes quite eye catching for such a trivial state.

[2020-01-12 01:16] wale-bant opened #341 "Request to add CDN"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when i can't use beautiful UI library like this on code sharing platforms such as CodePen or CodeSandbox

**Describe the solution you'd like**
Chakra UI hosted on a CDN

[2020-01-12 03:28] Bulletninja opened #342 "Missing styles after upgrade"
Was using node 8.16 and `gatsby-plugin-chakra-ui` but got a warning to stop using it, so i decided to switch versions since i already have a more recent version installed (via NVM). Had to reinstall node-gyp to my mac. After i did that chakra broke showing no styles or colors. tried to switch back to my older version but i got this error `error semver@7.1.1: The engine "node" is incompatible with

[2020-01-13 14:40] jonathanwilke opened #343 "[Modal] Dialog closes on drag release"
**Describe the bug**
When you try to select the text in an input that is inside a modal and you release the drag outside of the modal it closes.

**Expected Behavior**
Since it is not an actual click besides the modal to close it, the modal should not be closed.

[2020-01-13 19:19] wKovacs64 commented on #206
Oh stalebot, you rascal.

[2020-01-14 14:01] #213 closed

[2020-01-14 19:39] Martinnord commented on #140
Hello!

Are there any updates on this? It would be really cool to have this in this awesome lib!

Cheers!

[2020-01-14 22:09] robertcoopercode opened #345 "[Radio] Unable to tab out focus in a custom radio button group"
**Describe the bug**
When focus is in a custom radio button group, you cannot focus out of the group using <kbd>Tab</kbd>.

![image](https://user-images.githubusercontent.com/16786990/72386722-e37e2480-36ef-11ea-8f49-1203425df51e.png)

**Expected Behavior**
When focus is in a custom radio button group and <kbd>Tab</kbd> is pressed, the focus should move out of the radio button group and into the n

[2020-01-15 10:57] divyanshu013 opened #346 "[Button] href does not exist when used as anchor"
**Describe the bug**
A clear and concise description of what the bug is.

I'm using typescript. When using the `Button` component with `as="a"` prop, it's throwing type error. My usage looks like:

[code]

The error being thrown is:
[code]

I suspect this might be an issue with [type definitions](https://github.com/chakra-ui/chakra-ui/blob/master/packages/chakra-ui/src/Button/index.d.ts) of `Butto

[2020-01-15 11:16] aaronmcadam commented on #346
Try this approach: https://github.com/chakra-ui/chakra-ui/issues/247#issuecomment-555953880

[2020-01-15 19:04] divyanshu013 commented on #346
I think it's fine as a workaround (currently I'm using a `@ts-ignore` on the href) but I feel this workaround shouldn't be needed and included in chakra core itself.

[2020-01-16 13:15] segunadebayo commented on #338
Hi @jfhector,

Thanks for bringing this up.

We're already looking into this for the next release. Each component will be its own package and core will still remain as is (mostly re-export all components).

[2020-01-16 13:19] segunadebayo commented on #140
Hi @Martinnord, The select component is in progress, you can track it in the `dev-ts` branch. I believe the first version will be out in our next release.

[2020-01-16 13:20] segunadebayo commented on #329
Hi @lkleuver, thanks for this request.

We've currently solved this in the `dev-ts` branch and will be out in the next release.

Thanks again for your suggestion.

[2020-01-16 13:22] segunadebayo commented on #205
Hi @sirluis, yes we have jest and `testing-library` in the repo. feel free to check the `dev-ts` branch to start some work.

There's already a PR for the test here: #282. You can check that as well.

Thanks for choosing to collaborate on this

[2020-01-16 13:25] segunadebayo commented on #336
Thanks for this issue, I'll look into it.

[2020-01-16 13:27] aaronmcadam commented on #346
@divyanshu013 This is a well documented issue that's come up a lot. Here's an issue were myself and @segunadebayo discussed some possible solutions: https://github.com/chakra-ui/chakra-ui/issues/148.

@segunadebayo did we go with the solution using generics to pass the extra type or did you try using `infer`?

[2020-01-16 13:49] divyanshu013 commented on #346
Perhaps it can be added in docs as a small note just in case others run into same issue.

[2020-01-16 13:50] aaronmcadam commented on #346
We were going to add a Recipes section to docs. I think that'd be a good place to show how to handle this issue.

[2020-01-16 14:37] secretlifeof opened #347 "[gatsby-plugin-chakra-ui]: Not overwriting theme"
I am trying to use gatsby-plugin-chakra-ui with a custom theme.

If I understand the documentation correctly putting theme.js inside the folder "src/gatsby-plugin-chakra-ui/theme.js" should overwrite the theme. Putting a new theme.js inside this folder does not do anything. Have also tried putting it inside "src" and inside the project directory.

What I understand from the GitHub source code them

[2020-01-17 00:39] Bulletninja commented on #342
Tried to remove everything again, changing the node version. And it turns out that i made it work, but only if i remove `gatsby-plugin-chakra-ui`

[2020-01-17 18:22] Martinnord commented on #140
@segunadebayo Cool! Will keep an eye on that branch!

[2020-01-17 18:57] ianstormtaylor commented on #338
@segunadebayo do you know when the next release will be? Just curious as I'm evaluating Chakra right now and it seems like the next release will contain a lot of nice improvements, but not sure how long it will take.

[2020-01-18 00:38] segunadebayo commented on #338
I'm currently looking at the mid-February for the next release

[2020-01-18 09:49] santialbo opened #349 "[ColorModeProvider] ColorMode and SSR (next.js) not working very well together"
**Describe the bug**
When using colorMode with SSR (in this case with next.js) the pages are rendered from the server with light mode.
However on the client the pages are rendered with whatever setting is stored on localstorage by `use-dark-mode`. If the value store is `darkMode = true` this leads to hydration missmatches.
This causes some of the components to be rendered with light mode even if t

[2020-01-19 03:36] davae1an commented on #349
experiencing the same issue

[2020-01-19 07:13] ELI7VH opened #350 "npm install emotion/theming failing."
**Describe the bug**
A clear and concise description of what the bug is.

following this:
https://chakra-ui.com/getting-started

trying to install `npm install emotion/theming` gives me:

$ npm install emotion/theming                                                                                        npm ERR! code E404

[2020-01-19 07:18] #350 closed

[2020-01-20 00:21] kripod commented on #278
I've just released [react-typed-inputs](https://github.com/kripod/react-typed-inputs), which aims to provide a solution by utilizing inner state. As a bonus, `clampAfterBlur` and `roundAfterBlur` options are available.

When overriding `type="number"` with `type="text"`, the following input sequence can be input without a `null` result, as seen in this [live demo](https://codesandbox.io/s/zealous-

[2020-01-20 09:10] jondot commented on #199
Funny, I'm starting a migration from `theme-ui` to `chakra-ui` wholesale, after I've built a few components by hand that I see I can replace with better ones from Chakra, the goal is to reduce my own codebase size and replace with something more generic and better looking by default.

Some observations: I really want to keep using the `sx` prop, it _can_ make migration seamless and can provide a n

[2020-01-20 22:29] segunadebayo commented on #343
Hi @jonathanwilke,

I just looked into this and fixed it in the `dev-ts` branch. Kindly wait till the next release to get this fix. Thanks for reporting this!

[2020-01-20 22:32] segunadebayo commented on #326
Hi @divyanshu013,

Thanks for raising this issue. At the moment, we're hyper-focused on getting the Typescript release out as soon as possible.

If you don't mind owning this, I'll send you the Algolia script and add it here to you can take a stab at this.

Let me know. Thanks again.

[2020-01-21 01:31] Penspinner commented on #349
Also experiencing the same issue.

[2020-01-21 03:49] divyanshu013 commented on #326
Sounds good. I can give it a try.

[2020-01-22 04:26] HugoLiconV commented on #194
I'm getting a similar error using reach router
[code]

Error:
[code]

[2020-01-22 16:59] VladLegkowski commented on #349
Would it be better not to set the theme in the local storage?

Funny, but if you change the theme on https://chakra-ui.com/, it is not setting the cookie to true.

[2020-01-22 19:23] ianstormtaylor opened #352 "styling props for child margins (or "gutters")"
**Is your feature request related to a problem? Please describe.**

Right now the `<Stack>` component is a little confusing to use. It's [been suggested](https://github.com/chakra-ui/chakra-ui/pull/277) to change it to use margin-based styling using the `* + *` selector instead. I agree with this approach.

**Describe the solution you'd like**

But I think there's room to improve it further, and m

[2020-01-23 03:36] robertcoopercode commented on #345
Duplicate of https://github.com/chakra-ui/chakra-ui/pull/333

[2020-01-23 03:36] #345 closed

[2020-01-23 11:33] knguyen0125 commented on #205
PseudoBox's `_after` and `_before` doesn't have definitions for CSS `content` property, which would require users to annotate `// @ts-ignore` to be able to keep Typescript from complaining.

It can be fixed by changing the definition from

[code]

to

[code]

[2020-01-23 18:45] KenzoBenzo commented on #305
Hey @amolmt & @MykalMachon! I've got it working successfully working for Gatsby. The trick is that the root of Gatsby is `gatsby-browser.js`. So the code I've got is:

[code]

[2020-01-24 10:48] VladLegkowski commented on #270
I wanted to have a look into this issue as well but can't even start a storybook... Anybody managed to do it?

![Screenshot 2020-01-24 at 11 47 05](https://user-images.githubusercontent.com/17318500/73063614-7b71d000-3e9f-11ea-8339-077b4885c5ea.png)

[2020-01-24 13:31] segunadebayo commented on #199
Hi @jondot, thanks for this detailed feedback.

The `sx` prop is coming to Chakra in the next release so you can do a full migration 😄

[2020-01-24 13:35] jondot commented on #199
Perfect!
Meanwhile I’m running side by side. Note that I cannot run two theme providers because they seem to override the same context key.

[2020-01-24 14:12] segunadebayo commented on #199
@jondot , I'd suggest you just get the theme from Chakra and add it to Theme UI's ThemeProvider in the meantime.

[2020-01-24 15:46] jondot commented on #199
Yup, I tried merging the two themes (my own theme-ui theme and chakra's default) and looks like they are partially compatible but not completely compatible. I think I can probably build something that can merge these together unless the interfaces aren't compatible.

[2020-01-24 18:44] jondot commented on #199
Here's one place where the two themes conflict with no good way to resolve, just to leave here for academic purposes. Both themes has a spacing scale, but the concept of the scale is completely different, where I'm guessing in Theme UI it's a linear scale, and in Chakra it's a logical scale.

Theme UI:
[code]

Chakra:
[code]

[2020-01-24 22:13] dimitrisnl commented on #305
@KenzoBenzo

I've tried this version too, but it seems that some elements don't have the dark-theme colors applied. Here's your website on the very first visit

<img width="1439" alt="Screenshot 2020-01-25 at 12 10 55 AM" src="https://user-images.githubusercontent.com/4951004/73107759-57e27000-3f07-11ea-86bc-a7818477c3be.png">
<img width="1354" alt="Screenshot 2020-01-25 at 12 11 09 AM" src="https

[2020-01-24 22:21] mpash commented on #325
@nephix This would be great to mixin your own swiping package to get this functionality. I don't see a need for the core to support this behavior.

[code]

[2020-01-24 22:24] mpash commented on #341
You can get this out of the box. Include a `package.json` in any new CodeSandbox, and import there.

https://codesandbox.io/s/new

[2020-01-24 22:29] mpash commented on #296
Perhaps making this either an object or a function will enable us to consume the base props and spread them into the consuming object.

[2020-01-25 06:59] coodoo commented on #199
@segunadebayo Out of curiosity, what’s the benefit of migrating to theme-ui while chakra with it’s current implementation seemed to work perfectly?

[2020-01-25 08:30] nephix commented on #325
I'm very aware that I can implement it on my own. From a users perspective I have never seen a drawer on mobile that isn't swipeable though.

That's why I think it makes a lot of sense to have this as a core feature and therefore my suggestion in this ticket.

[2020-01-25 13:37] santialbo opened #357 "[a11y] Small a11y issues with some icons"
The following icons are missing some a11y props
- `Buton.iconLeft` and `Button.iconRight` are missing `aria-hidden="true"`
- The icon in the alert is missing `aria-hidden="true"`
- The chevron on the `Select` element is missing `focusable="false"` and `aria-hidden="true"`

Is it better to submit a PR against master or against the TS branch?

[2020-01-25 19:38] #218 closed

[2020-01-26 20:56] dimitrisnl opened #359 "[Icon] Missing 'repeat' variant from types"
..opening a PR in a moment

[code]

[2020-01-26 20:57] dimitrisnl commented on #359
Closing in favour of https://github.com/chakra-ui/chakra-ui/pull/351

[2020-01-26 20:57] #359 closed

[2020-01-27 19:47] Martinnord opened #360 "Add disable attribute to TagCloseButton"
**Describe the bug**
`TagCloseButton` component doesn't allow passing in `isDisabled`.

**Expected Behavior**
I'd like to have the option to make a tag not removable. I think I could go around this by using the Button component, but this feels like something it should support right out the box.

**To Reproduce**
Try disabling the component.

**Suggested solution(s)**
Add `isDisabled` type field to

[2020-01-28 04:57] TransmissionsDev opened #361 "[TabPanel] No way to overflow using scroll"
**Describe the bug**
For a TabPanel, I want it to (on overflow) allow scrolling, however, even after adding `overflow="scroll"` as prop, I cannot seem to find a way to do so.

**Expected Behavior**
Able to scroll on the X or Y axis in the event of an overflow.

Am I missing something or is this a feature that is not in Chakra?

[2020-01-28 13:38] segunadebayo commented on #361
Hi @TransmissionsDev,

Can you drop a codesandbox reproduction for this? I'll look into it and provide a solution right away. I believe you should be able to do so without any issues.

[2020-01-28 13:39] segunadebayo commented on #357
Thanks for this observation. It's better to PR against the TS branch

[2020-01-28 13:41] segunadebayo commented on #199
@coodoo, we're not exactly migrating to `theme-ui`. I'm only adding support for the `sx` prop and ability to styles components directly from the theme.

[2020-01-28 13:42] segunadebayo commented on #296
I agree. We're currently looking into this for the next release. Thanks for pointing this out.

[2020-01-28 15:06] TransmissionsDev commented on #361
@segunadebayo Here you go! Hope this helps: https://codesandbox.io/s/affectionate-yonath-bzdjg?fontsize=14&hidenavigation=1&theme=dark

[2020-01-29 06:30] trevorblades commented on #347
I'm noticing the same thing. My attempt at shadowing the `theme.js` file seems to have no effect. Here's a codesandbox with the repro: https://codesandbox.io/s/vigorous-wilbur-x1yjb

[2020-01-29 06:54] trevorblades commented on #347
The reason this is happening is because when the [build script](https://github.com/chakra-ui/chakra-ui/blob/master/packages/gatsby-plugin-chakra-ui/package.json#L17) runs, it moves everything from `src` to the root of the package, including `theme.js`. In order for `theme.js` to be shadowable, it must live in the package's `src` directory. As the Gatsby docs put it:

In fact, we could avoid this p

[2020-01-29 11:42] secretlifeof opened #363 "How to set a hover color on Icons?"
**Describe the bug**
Thank you very much for this library. Trying it out for the first time for a project, and I like the simplicity. Just wondering what is the best way to set a hover color? I tried _hover but that did not work? A workaround is using the css-prop. But then the themes colours are not used.

[code]

[2020-01-29 13:32] AlbertLucianto opened #364 "[NumberInput] NaN value after multiple dots"
**Describe the bug**
Typing number like "1.......2", will set the value to NaN. To recover, you can select with mouse and replace the value. However, as a keyboard user there's nothing I can do to recover from this NaN value (arrow left/right can't move the cursor, and up/down does not go back to valid number neither).

Another related issue is by writing "1........" and press arrow up - it will a

[2020-01-29 14:32] franklinjavier commented on #363
@secretlifeof you can find in codebase. Try _hover props

[code]

[2020-01-29 14:47] secretlifeof commented on #363
@franklinjavier thank you. But I cannot get this working with <Icon />. For <IconButton /> there is a _hover but that only partly works. As an example for the Icons included in Chakra UI, I only managed to change the stroke color on hover.

This does not work:
[code]

Can you please provide an example with <Icon />?

[2020-01-30 01:13] trevorgerhardt opened #365 "[NumberInput] Controlled component fails when trying to check `.indexOf` on a Number"
**Describe the bug**
When the `useNumberInput` hook is handling a change with `updateValue` it checks to see if the value can convert to a `number`. It does so by using a method that the native `number` type does not have: `indexOf` and so throws a `Uncaught TypeError: value.indexOf is not a function`. Here: https://github.com/chakra-ui/chakra-ui/blob/e3e3453e495fae9f9d5f38a8b8bca0e4f33e6f9e/packa

[2020-01-30 02:00] trevorgerhardt commented on #365
Ah. I converted the max to a string and it fixed the error.

The component should probably allow setting max to a Number without an error.

[2020-01-30 04:13] lolcookie opened #366 "Cannot pass data- props to NumberInput Component"
Title, must be an oversight.

[2020-01-30 04:19] #366 closed

[2020-01-30 07:21] jescowuester opened #367 "Request to add [Optimized Image/Picture] component"
**Is your feature request related to a problem? Please describe.**

Images are the heaviest part of a website. Lazyloading is rather hard to implement and the picture/srcset syntax is all over the place and confusing for new devs. Webp is an amazing solution for this but its barely used because it's not yet stable in every browser.

Taking care of this issue would greatly improve web accessibility

[2020-01-30 19:12] TransmissionsDev commented on #361
@segunadebayo Have you been able to find a solution? My client is bugging me to finish this up 😅

[2020-01-30 19:16] TransmissionsDev commented on #361
@segunadebayo Have you been able to find a solution for this? Sorry to bug you, but my client is pushing me to meet this deadline 😅

[2020-01-30 19:41] JClackett opened #368 "Question: breakpoints to change button variant / variantColor"
Hello!

Wondering if its possible to change the variant or variantColor on Chakra components using the breakpoint api.

Example implementation..

[code]

Above doesnt work for me but just checking if im doing something wrong?

Thanks!!

[2020-01-30 20:00] mavalon opened #369 "Request to add [Component] Input Masks"
I need my text inputs to have an input mask to describe and enforce a certain format: e.g. "(999) 999-9999".  I was hoping `react-input-mask` would work with chakra, but it doesn't seem possible.  This seems like a common requirement, so it would be nice to support that.

[2020-01-31 14:18] lorenzorapetti commented on #205
Hi! I was trying to build the library with `yarn build` but it gives me this error:

[code]

The package from which the error is thrown changes every time, I'm guessing it's because lerna build the packages in parallel and some package depends on others to be built first?

Moreover, I need to add the corresponding `export * from` to `Popover.tsx`, `Select.tsx`, `Menu.tsx` and `Tabs.tsx`, otherwise

[2020-01-31 17:00] segunadebayo commented on #361
I just checked it. There's no problem with the `TabPanel`, it's mostly a styling issue.

You need to add `maxHeight` and `overflowY` to get it to work correctly.

Here's a working example: https://codesandbox.io/s/wonderful-gauss-6rc6b

[2020-01-31 17:00] #361 closed

[2020-01-31 17:02] segunadebayo commented on #346
HI @divyanshu013, this has been resolved in the current TypeScript version we're working on. I'll add this to #205 for safe-keeping and double-checking.

[2020-01-31 17:02] #346 closed

[2020-01-31 17:04] #337 closed

[2020-01-31 17:11] segunadebayo commented on #368
Hi @JClackett,

At the moment, there's no way to make variant and variantColor responsive using the breakpoint api. We might look into it much later.

A walkaround is to use this package: https://github.com/system-ui/theme-ui/tree/master/packages/match-media and then change the prop based on the matched media. I hope this helps?

Thanks for bringing this up.

[2020-01-31 17:11] #368 closed

[2020-01-31 17:12] segunadebayo commented on #363
Hi @secretlifeof,

Thanks for this issue. Can you try this?

[code]

The trick is to get the icon to use colors from the `PseudoBox` component by setting it's color to `currentColor`

Let me know if this works.

[2020-01-31 17:14] segunadebayo commented on #363
Try the above method, and if it doesn't work I'll re-open this issue.

Thanks again.

[2020-01-31 17:14] #363 closed

[2020-01-31 17:15] segunadebayo commented on #369
Hi @mavalon,

Thanks for this issue. Do you a CodeSandbox replica that shows the `react-input-mask` doesn't work with Chakra?

If so, please share it so I can take a look.

[2020-01-31 17:17] segunadebayo commented on #360
Thanks for this issue, @Martinnord.

The team is heavily working on the TypeScript migration and would appreciate it if you can submit a PR for this. Thanks

I'm glad you love Chakra UI.

[2020-01-31 17:20] segunadebayo commented on #367
This sounds like a great idea @jescowuester. I'm not sure how you'd go about this but if you can create a quick draft or prototype, I'll look into it.

Otherwise, we'll consider this after the TypeScript migration.

This is definitely a good component to add to Chakra, thanks for your suggestion.

[2020-01-31 17:50] kolyasapphire commented on #349
Also can't get it to work both on my project (Next.js) and https://chakra-ui.com/

In the file [NoFlashSript.js](https://github.com/chakra-ui/chakra-ui/blob/28f19337a29bc6d2196708a1c76ac0d823821cc6/packages/chakra-ui-docs/components/NoFlashSript.js) on [chakra-ui-docs ](https://github.com/chakra-ui/chakra-ui/tree/28f19337a29bc6d2196708a1c76ac0d823821cc6/packages/chakra-ui-docs) I see localStorage

[2020-01-31 18:31] TransmissionsDev commented on #361
@segunadebayo Thank you for the response! However, the implementation you provided cuts off the last card (when you scroll down) when viewed as a full page. Can you help me with this? Thanks 😄 https://imgur.com/v05PbgL

[2020-01-31 18:33] TransmissionsDev commented on #361
@segunadebayo Thank you for the response! However, the implementation you provided cuts off the last card (when you scroll down) when viewed as a full page. Can you help me with this? Thanks 😄

https://imgur.com/v05PbgL

[2020-02-01 01:44] davidhousedev opened #370 "Allow granular styling of checkbox, label, and icon in Checkbox and Radio components"
Thank you for the incredible work! Chakra UI is awesome. :)

**Is your feature request related to a problem? Please describe.**
Thus far, our implementation of Chakra UI has been seamless, with a high degree of freedom in customizing the appearance of components to our designs. However, the implementation of Checkbox and Radio components exposed far less freedom to customize the look and feel..

*

[2020-02-01 08:08] jescowuester commented on #367
Yeah, I'll agree that it should wait until the typescript rewrite, ping me here when you think the library is ready and I'll get a demo out

[2020-02-01 09:55] jescowuester commented on #367
alright heres a demo: https://codesandbox.io/s/github/jescowuester/optimized-image_v1/tree/master/?fontsize=14&hidenavigation=1&theme=dark

A lot of this stuff is inspired by https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/index.js but gatsby's image component is a big mess so I think its best to write it from scratch.

This still needs a lot of features, especially
[] acc

[2020-02-01 15:00] wirtzdan opened #371 "[Button] Loading state no longer works after manipulating the text with button.innerText"
**Describe the bug**
The loading state is no longer working after I manipulate the text of a button with `button.innerText= "New Text"`. When I change `isLoading` to true I get the following error:

**Expected Behavior**
I'm coding a small chrome extension to highlight text. on websites. Whenever I highlight text on the page I want to display the current state in the button. (e.g "Save 7 Highlight

[2020-02-01 16:46] DavidJFelix commented on #247
unstale. this still exists with a number of link-based components when using reach

[2020-02-01 16:58] #159 closed

[2020-02-01 17:58] #249 closed

[2020-02-01 17:58] #250 closed

[2020-02-02 14:09] Martinnord commented on #360
Sure @segunadebayo. Do you have a guide for PRs? It will be my first PR to OS 😅

[2020-02-02 19:06] segunadebayo commented on #360
Sure @Martinnord, I'm happy to help in any way I can.

Here's a quick PR guide:
- Create a Fork of the project's `master` branch
- Run `yarn bootstrap` at the root to install dependencies
- Try `yarn storybook` to see if storybook opens correctly. If it does, then you're good to go.
- Go to `packages/Tag`
- Complete the fix, and add the types for TagCloseButton in `index.d.ts`
- Submit your first

[2020-02-02 19:17] secretlifeof commented on #363
@segunadebayo thank you, this works!

[2020-02-02 19:25] secretlifeof opened #372 "_groupHover active in the whole viewport"
I am wandering how to use the _groupHover correctly. When using the composition below, hover is active in the whole viewport. What am I missing?

[code]

[2020-02-02 20:21] Rixcy opened #374 "[Theme] Overriding breakpoints not working as expected"
If I override the breakpoints by extending the default config file, they seem to break some existing functionality.

Example overrides: `breakpoints: ['576px', '768px', '992px', '1200px']`

Before overriding, the following works as expected:

`<Box rounded="lg" bg={{ base: 'blue.200', lg: 'blue.700' }}>Stuff</Box>`

After overriding, the above no longer works - the large colour (blue.700) is appli

[2020-02-03 11:30] harshzalavadiya opened #375 "[Menu] closeOnSelect not working on navigation w/ next.js links"
**Describe the bug**
![on-menu](https://user-images.githubusercontent.com/5774849/73649244-60743c80-46a5-11ea-9ee0-b57619e0934c.gif)
As shown above while selecting link which is wrapped in `next/link` in `MenuItem`, `MenuList` isn't closing automatically as it does for normal links or any items in menu list

Is there any workaround/way to close menu on dynamic links selection?

**Minimal Example**

[2020-02-03 14:08] #262 closed

[2020-02-03 14:08] #252 closed

[2020-02-03 14:08] #261 closed

[2020-02-03 14:45] felipesousa commented on #367
@jescowuester good idea! I think that it would be super usefully!

@segunadebayo do you have some components list that can be good implement inside the library? If yes, can you send me the link please?

🔥

[2020-02-03 14:47] felipesousa commented on #205
@segunadebayo I think the better solution to get more feedbacks about some issue or something like that, can be created a document or some other thing to track better!

[2020-02-03 16:03] thebiltheory opened #376 "[MenuItem] wrong event interface (maybe)"
Quick question related to the `<MenuItem  />`
[code]
is the `KeyboardEventHandler` intentional? I believe a mouse click event is not part of this interface.

[code]

##### Chakra documentation:

onClick | React.MouseEventHandler | Function that is called on click and enter/space keypress
-- | -- | --

[2020-02-03 16:12] jaredpalmer opened #377 "Request to add size-aware collapsible Breadcrumb component"
**Is your feature request related to a problem? Please describe.**
Breadcrumbs aren't awesome on smaller screens. It's rather annoying to have to hide them or truncate them by hand.

**Describe the solution you'd like**
Make a new combo of menu, breadcrumb, and a new size-aware container (for truncation) to allow for a more useful breadcrumb component that worked like VSCode's or Blueprint.js brea

[2020-02-03 22:12] ProsperDevelopment commented on #270
Yes I mangade to get it working before in 0.4.1 by removing all components having dependencies to react-spring and then I removed the dependency to pretty-num from useNumberInput/utils.js

[2020-02-04 09:57] hrougier opened #378 "[CheckboxGroup] is not compatible with array of checkboxes"
**Describe the bug**

CheckboxGroup is not compatible with array of fields used by form libraries such as [react-hook-form](https://react-hook-form.com/advanced-usage/#FieldArrays).

[code]

will output the following HTML inputs:

[code]

**Expected Behavior**

One would expect the following HTML instead:

[code]

**Suggested solution(s)**

Maybe:
* add an optional `isArray` prop that changes [how

[2020-02-04 10:33] #257 closed

[2020-02-04 15:46] davidhousedev opened #380 "Add Chakra theme support or documentation for the [Collapse] component"
**Is your feature request related to a problem? Please describe.**
While implementing the Collapse component, I spent some time believing that the `startingHeight` was broken because, like all other Chakra components, I was passing a string "20", and anticipating that it would reference a size value from my theme.

I then realized that this value was being passed directly to `react-animate-height`

[2020-02-05 19:24] kolyasapphire opened #381 "[CSSReset] Custom Config Documentation"
**Describe the bug**
By default, `<html>` background color is set to theme.colors.gray[800], it took me a while to find where it was coming from and how to correct it to an appropriate colour.

**Suggested solution(s)**
In docs this could be mentioned on the [Color Mode page](https://chakra-ui.com/color-mode), or as a separate page for CSSReset in Components or Utilities (where it makes better sen

[2020-02-05 19:34] kolyasapphire opened #382 "[Next.js Example] CSSReset is not inside ColorModeProvider"
**Describe the bug**
CSSReset doesn't style `<html>` according to theme changes (light/dark) if it's outside `<ColorModeProvider>`

**Suggested solution(s)**
Modify the example from:
[code]
To:
[code]
I'd be happy to submit a pull request if needed.

[2020-02-05 22:11] JClackett commented on #285
can just wrap the chakra stuff in a normal div?

[code]

[2020-02-06 06:34] jescowuester opened #385 "[Button+] Multiple props are not reponsive"
**Describe the bug**
A couple of props do not work when you give them responsive values
these include the `variantColor` and `size` props.

**Expected Behavior**
When the `size` prop receives a value of `['md','lg']` it should use the corresponding value at the corresponding breakpoint

**To Reproduce**
check out this sandbox: https://codesandbox.io/s/unresponsive-props-chakra-q4xyf

1. Look at th

[2020-02-06 10:29] apnerve opened #386 "[AvatarGroup] Request to add event props to AvatarGroup and Avatar component"
**Is your feature request related to a problem? Please describe.**
I have currently a requirement where in hovering/clicking on avatars need to either show the name of the person in a tooltip or clicking on the `+3` to show more avatars in a dropdown. This isn't possible using the components in the current state.

**Describe the solution you'd like**
This might be possible if the `AvatarGroup` com

[2020-02-07 19:43] ianstormtaylor opened #387 "`bg=` should map to `background` not `background-color`?"
**Is your feature request related to a problem? Please describe.**

Right now the `bg=` shorthand property seems to map to `background-color`. But this makes it confusing when you want to change a background from a color to a gradient. You might think you can just change:

[code]

To:

[code]

But that would result in CSS of:

[code]

Which fails, because it maps to `background-color` instead of `

[2020-02-07 19:48] ianstormtaylor opened #388 "consolidate `rounded` vs `borderRadius` duplication?"
**Is your feature request related to a problem? Please describe.**

Right now there's a confusing duplication in how to set a border radius. It seems like you can make use of:

[code]

Or:

[code]

If you have an existing `borderRadius=` prop you might except (given that you know CSS) that you could change it to `borderTopRadius`, but you can't.

The `rounded*` variants aren't intuitive because th

[2020-02-07 20:22] ianstormtaylor opened #389 "consider changing `Text` to be inline"
**Is your feature request related to a problem? Please describe.**

Right now the two generic components that get used most often are `<Box>` and `<Text>`, which is great. I've been using a similar pair of concepts for the private UI kits I've worked with.

`<Box>` defaults to a `<div>` which makes total sense. But right now `<Text>` defaults to `<p>` which I don't think makes sense.

I understand

[2020-02-08 00:18] trevorblades commented on #372
Are you using `@reach/router` or Gatsby (which uses `@reach/router`)? I'm seeing this as well since the router is adding wrapping the page in a div with `role="group"`. In any case, I suspect happening because you have an HTML element higher up in your page hierarchy with a `role="group"` attribute set.

I'm currently looking for a way to control the scope (??) of a group, so children of one group

[2020-02-08 16:40] tony commented on #204
Is there a workaround we have in the meantime? If you have one, feel free to mention it here or link to it :) Thank you!

[2020-02-08 16:57] tony commented on #204
@cschroeter

Hi!  I created a PR that relaxes the typing here to allow custom icons.

This means the area isn't as strongly typed, but sense any icon name can be used, it may also be more accurate in a sense.

Technically, there may not be a benefit to use `Icons` either as a typing if any string is acceptable.

[2020-02-08 17:32] tony commented on #204
In my situation, I opted to use font awesome bundles from CDN

There isn't an easy way to do this with `Icon`, but here's what I did:

[code]

[2020-02-09 11:55] segunadebayo commented on #381
Hi @kolyasapphire, thanks for bringing this up.

I'll appreciate a PR that adds a CSS Reset page and mentions all the things you listed above.

Thanks again.

[2020-02-09 18:33] dimitrisnl commented on #198
This is still relevant.

[2020-02-09 23:57] emersonlaurentino opened #391 "[Editable] onEdit not working"
**Describe the bug**
The prop `onEdit` is not passed to `Editable`.

**Expected Behavior**
Callback invoked once the user enters edit mode.

[2020-02-10 12:02] thebiltheory commented on #376
@segunadebayo ping.

[2020-02-10 19:08] AlexanderProd opened #392 "Typescript isn't allowing values that should be provided by the default theme."
**Describe the bug**
Typescript doesn't allow any other zIndex values than shown.

<img width="567" alt="image" src="https://user-images.githubusercontent.com/3080903/74180598-20cac900-4c40-11ea-9b27-a683904476a4.png">

I've added all those values for zIndex in my theme manually, even though they should be default but it's still not being picked up by typescript. I'm using VSCode as editor.

[code

[2020-02-10 20:49] kolyasapphire commented on #381
Hi @segunadebayo , done!

Please check if everything is alright.

[2020-02-10 23:44] efossvold opened #394 "[Modal] Dialogue closes if it contains Input components and Enter key is pressed"
**Describe the bug**
If a Modal contains Input field(s) and the Enter key is pressed the Modal closes. This happens regardless of whether the any of the Input fields are focused.

**Expected Behavior**
The Modal should only close if the onClose prop is set to false or if the Esc key is pressed and the closeOnEsc prop is true.

[2020-02-11 02:52] trevorblades commented on #372
Update: https://github.com/gatsbyjs/gatsby/pull/21171 got merged today and this problem is now fixed as of Gatsby v2.19.15 🎉

[2020-02-11 13:22] walela opened #395 "[Docs] Link to theming page 404s"
**Describe the bug**
The link to https://chakra-ui.com/theming on the https://chakra-ui.com/badge page is broken.

**Expected Behavior**
Should link to a live page, perhaps https://chakra-ui.com/theme?

**To Reproduce**
Visit https://chakra-ui.com/badge and click on the `Learn more about theming` link.

**Suggested solution(s)**
Not sure if the link is supposed to point to https://chakra-ui.com/th

[2020-02-11 15:34] segunadebayo commented on #395
Hi @walela. Yes, it's meant to point to https://chakra-ui.com/theme.

Feel free to submit a quick PR to fix that. Thank you

[2020-02-11 17:46] mdreizin commented on #349
The same issue for Gatsby as well.

[2020-02-11 18:34] alexofthewu opened #396 "Figma design resources"
Hey @segunadebayo ,

I'm a designer and my development team is looking to use Chakra UI for our current project. I saw on your twitter that you use Figma, so I was wondering if you had a design library available to help build wires and prototypes. I'm also happy to contribute in making it happen.

Best,
Alex

[2020-02-11 22:25] tsaiDavid commented on #396
@segunadebayo - This would be amazing!

[2020-02-12 04:49] #273 closed

[2020-02-12 07:30] #395 closed

[2020-02-12 14:43] nainardev opened #400 "Migrate to styled-components"
[styled-components](https://medium.com/styled-components/announcing-styled-components-v5-beast-mode-389747abd987) is lighter and more efficient.

[2020-02-12 17:01] PTaylour opened #401 "[Toast] TypeError on rendering toast"
**Describe the bug**

I'm trying to use `useToast` with the default `render` field

[code]

but I'm getting this error:

[code]

I see similar TypeErrors when using the `render` field to provide my own toast component, unless that component doesn't use an icon or a "complex" component such as `Alert`.

Replicated from `0.3.3` onwards. (before `0.3.3` I see this now fixed error https://github.com/c

[2020-02-12 21:35] timkindberg commented on #400
@nainardev Chakra is built from the ground up on top of https://styled-system.com/. Why would they take the time to move to styled-components??? C'mon man.

[2020-02-12 21:50] timkindberg commented on #135
Agree, Chakra could make base styles and show examples of how it works with no library and how it works with a library like react-table v7.

[2020-02-13 01:03] dusty commented on #135
Here is another basic one that I used as the base for a data table.  Feel free to do whatever with it.

https://codesandbox.io/s/relaxed-shape-ybulz

[2020-02-13 02:01] #400 closed

[2020-02-13 05:09] ianstormtaylor commented on #389
Just ran into a further issue with the current behavior. If you forget that `<Text>` is a `<p>` and accidentally render one inside another one, you'll end up with lots of errors in the console:

![image](https://user-images.githubusercontent.com/311752/74403380-fff7a480-4df4-11ea-8482-778cf163a347.png)

When it's not really unreasonable to just think that you can nested strings of texts with sligh

[2020-02-13 07:48] remorses opened #402 "Request to add Skeleton component"
I have created a skeleton component ([sandbox here](https://codesandbox.io/s/skeleton-chakra-ui-bj0k5)), would you like to have it in the component lib?

It can be used as container or as a normal Box

[2020-02-13 13:17] Koli14 commented on #6
Hey, @segunadebayo ! I also really enjoy Chakra-UI.
I want to achieve a menu similar to this: https://codepen.io/Koli14/pen/jOPWEWB
I can't use the `<Menu>` element, as I need the parent to be a link, and  open on hover.

[2020-02-13 17:04] #381 closed

[2020-02-13 22:08] #371 closed

[2020-02-14 04:17] segunadebayo opened #405 "Who is using Chakra UI? ⚡️"
Hey Chakra people 😄,

If you or your company is using Chakra UI in production, please leave a comment below so we can mention you in the new README and documentation website.

Here's what your comment should look like:

**Company:** [Put company name]
**Permission to use our logo in our readme/website:** [Yes or No]
**Project type and size:** [Just a little description of the project & how Chakra

[2020-02-14 04:20] segunadebayo commented on #396
Hi @alexofthewu,

This is an amazing idea. At the moment we don't have a Figma or Sketch Component library for Chakra UI. Want to make it happen? I'm all in, let me know how I can help.

Thanks.

[2020-02-14 09:42] secretlifeof commented on #372
@trevorblades Yes I am using Gatsby. Thank you very much for feedback! Closing this Issue.

[2020-02-14 09:42] #372 closed

[2020-02-14 11:31] kripod commented on #200
Not stale!

[2020-02-14 17:27] santialbo opened #406 "Allow to use `usePortal` on the Menu component."
When the menu trigger is within an overflown element it's necessary to render the menu using a portal in the same way it's already possible with the `Popover` component.

**Describe the solution you'd like**
Same interface as the Popover component, just another prop `usePortal: boolean;`

**Describe alternatives you've considered**
I tried implementing myself by passing the prop all the way down t

[2020-02-14 21:16] #241 closed

[2020-02-14 22:16] #7 closed

[2020-02-14 22:16] #142 closed

[2020-02-14 22:20] JetDeveloping opened #408 "OpenChackra UI Went Down"
Open Chackra went down today at approx 2:15 (PST) 3-4 minutes ago today. Or at least the server closes to the West North American side!

Another idea to prevent work being lost, is to have a login system, if possible.

Thanks

[2020-02-14 22:38] sinclairnick opened #409 "Question: How to access media query state?"
I've tried looking for this answer on the styled system docs to no avail, but is there a way to access the current media query state.

I'm aiming to conditionally render components based on the media state - e.g. render an accordion on mobile and a list on desktop.

Thanks

[2020-02-15 08:12] segunadebayo commented on #408
Hi @JetDeveloping,

I think the best place to open this issue is OpenChakra's repo. Kindly go here: https://github.com/premieroctet/openchakra

Thanks

[2020-02-15 08:12] #408 closed

[2020-02-15 08:29] segunadebayo commented on #409
Hi @sinclairnick,

We're looking into this for the next release. At the moment, we don't have a package to help with that but there 2 options:
- Use `display` prop and pass responsive values to it. `display=[none, "block"]`
- Use this package this match-media package from `theme-ui`. It has a hook to help you manage breakpoints.
Link: https://github.com/system-ui/theme-ui/tree/master/packages/matc

[2020-02-15 08:29] #409 closed

[2020-02-15 08:37] segunadebayo commented on #388
Hi @ianstormtaylor,

I agree! We spotted this yesterday when reviewing all the style props. I think it will be updated to `topLeftRadius` instead of `borderTopLeftRadius`. I believe it's a bit more intuitive and closer to CSS.

Thanks for this suggestion.

PS: We're adding this fix now to the dev-ts branch and will come with the next release. So I'm going to close it out.

[2020-02-15 08:37] #388 closed

[2020-02-15 08:44] segunadebayo commented on #406
Hi @santialbo,

Do you have a codesandbox replica for this issue? I'd like to take a look.

Thanks

[2020-02-15 08:48] segunadebayo commented on #387
This also makes sense @ianstormtaylor. We'll look into it.

[2020-02-15 08:58] segunadebayo commented on #389
Changing `Text` to be inline might be a breaking change. I think we have a solution for this in the next release.

Here's what a sample code will look like:

[code]

Thanks.

[2020-02-15 09:00] segunadebayo commented on #392
Hi, @AlexanderProd,

We're aware of this scenario and we're looking into it. This issue will be closed as all TypeScript related issues are logged here: #205.

You don't need to add it there, I'll go over it before the next release.

Thanks

[2020-02-15 09:00] #392 closed

[2020-02-15 09:07] santialbo commented on #406
This is a feature request, I just tried changing [this line](https://github.com/chakra-ui/chakra-ui/blob/06b65dd4117d8c1207d3ed80f4932d8c2b0d7dee/packages/chakra-ui/src/Menu/index.js#L317) but the stories would not work, they would throw an error because [the effect in L51](https://github.com/chakra-ui/chakra-ui/blob/06b65dd4117d8c1207d3ed80f4932d8c2b0d7dee/packages/chakra-ui/src/Menu/index.js#L51

[2020-02-15 09:31] segunadebayo commented on #367
@jescowuester, I think you have a pretty good prototype already. Once we're done with the TS migration, I'll take a look at this even more.

Thanks man.

[2020-02-15 09:33] segunadebayo commented on #369
Hi, I'm going to close this now as it's not a priority for the team at the moment.

I've noted your request in our backlog and will look into it later. In the meantime, we might consider adding a sample of how to use Chakra UI with react-input-mask.

Thanks.

[2020-02-15 09:33] #369 closed

[2020-02-15 09:38] segunadebayo commented on #352
I agree, for the next release, we've updated the Stack component to use `* + *` CSS selector.

I kinda like the idea of `gx/gy`, I'll think about it a bit more. Thanks for bringing it up

[2020-02-15 10:03] franky47 commented on #405
**Company**: [@47ng](https://github.com/47ng)
**Permission to use our logo in our readme/website**: Yes
**Project type and size**: Personal website/blog, some prototype webapps with Next.js
**Project link**: https://francoisbest.com

❤️

[2020-02-15 11:13] franky47 commented on #349
I have the same issue, and from what I understand, the NoFlashSript (which comes from a [recommendation](https://github.com/donavon/use-dark-mode#that-flash) on `use-dark-mode`, the dependency used by Chakra) works as expected: before hydration time, it will find the correct theme to apply, first by looking in local storage (for remembering explicit user preferences), then in the system theme (if

[2020-02-15 16:39] gopinav commented on #76
Same question. Trying to migrate from rebass and `variant` prop would help out so much! Any update on this?

[2020-02-15 16:41] #360 closed

[2020-02-16 13:51] asajuenitan opened #411 "Request to add Angular Version"
**Describe the solution you'd like**
A version of the UI for Angular Framework since you are migrating to Typescript

[2020-02-16 20:15] ameerthehacker opened #412 "How to reduce the spacing in the menu"
If I change the size of the button, the spacing increases. How can I reduce this spacing?
<img width="360" alt="Screenshot 2020-02-17 at 1 43 30 AM" src="https://user-images.githubusercontent.com/15448192/74611999-12404e00-5127-11ea-9ce2-afd309c3687d.png">

[2020-02-16 22:04] patrickdevivo opened #413 "Add TODOs Badge to README"
Hi there! I wanted to propose adding the following badge to the README to indicate how many `TODO` comments are in this codebase:

[![TODOs](https://badgen.net/https/api.tickgit.com/badgen/github.comgithub.com/chakra-ui/chakra-ui)](https://www.tickgit.com/browse?repo=github.com/chakra-ui/chakra-ui)

The badge links to `tickgit.com` which is a free service that indexes and displays TODO comments in

[2020-02-17 03:25] varshard opened #414 "[useClipboard] Clipboard content not changed when used inside a Drawer"
**Describe the bug**
I used `useClipboard` from a component inside `Drawer`. When I call `onCopy`, then nothing changed to the clipboard. The clipboard content is still as before I called `onCopy`.
I put a breakpoint on `useCliptboard`'s `copyToClipboard` and discovered that a textarea has the exact value that I pasted to `useClipboard`, but somehow not copied by `document.execCommand("copy");`

*

[2020-02-17 03:42] BadMask121 commented on #413
Brilliant idea, please make a pull request hopeful it gets merged.

[2020-02-17 04:18] BadMask121 commented on #205
I noticed that all the components have no written test, i started investigating on this following the following Reddit post,

https://www.reddit.com/r/reactjs/comments/d013i8/chakra_ui_40_composable_and_accessible_components/fdrsjwk/

I feel it's important for a huge project like chakra tests should be written for any new features and already existing features.

[2020-02-17 05:03] hawk-ee commented on #205
Well, it's open source, feel free to pick a component and open a PR with tests written. No one is obligated to use it ; )

[2020-02-17 05:29] gopinav opened #416 "[Icon] Unable to specify custom icons in the theme"
**Describe the bug**
I tried to follow [docs](https://chakra-ui.com/icon#adding-custom-icons) to add custom icons. However, the app breaks and does not run. I see errors in the terminal. Not sure if this is CRA specific but below are screenshots to help.

![image](https://user-images.githubusercontent.com/13146172/74625891-e303fe00-5173-11ea-93e7-9e0ef1c76319.png)
![image](https://user-images.gith

[2020-02-17 15:44] valstu commented on #31
I think this issue still exists 🤔 You can use the same example that was linked above and update the dependencies to latest and it's still making this weird jumping movement.

[2020-02-17 23:21] nejcr commented on #135
@jeanverster do you have an example maybe?

[2020-02-18 02:49] maggo opened #417 "[Select] <option> labels are not readable in dark mode"
**Describe the bug**
`<option>` elements are inheriting the white color of the `<select>` element in dark mode and are not readable.

![image](https://user-images.githubusercontent.com/384953/74699586-5acc3a00-5201-11ea-8f6f-8f527d977c27.png)

**Suggested solution(s)**
A CSS reset for the <option> elements should do the trick (`option { color: initial; }`)

**Desktop**
Windows Chrome 80

[2020-02-18 19:44] santialbo commented on #416
I think you might just need to rename your file to `icons.tsx` since you are using jsx.

[2020-02-18 20:16] charanpasham opened #418 "(Question) How to store the theme object to support multi tenant application?"
Can chakra-ui handle following things?

- I need to be able to support multiple tenants through single application by storing tenant specific themes into database.

- Those themes should be editable from UI.

[2020-02-19 01:24] gopinav commented on #416
That was the fix! Thank you very much

[2020-02-19 01:24] #416 closed

[2020-02-19 03:26] bsansone opened #419 "[FormControl/Textarea] FormControl with TextArea child displays as invalid on page load"
**Describe the bug**
FormControl with TextArea child displays as invalid on page load.

**Expected Behavior**
Page should load and FormControl with Textarea should not be in an invalid state.

**To Reproduce**
- Load this code sandbox: https://codesandbox.io/s/wizardly-violet-hdtzr
- Page loads with FormControl & Textarea in invalid state
- Textarea value is an empty string
- FormControl has `isRe

[2020-02-19 03:53] gopinav opened #420 "[FormErrorMessage] Should be able to render just text without the icon."
**Describe the bug**
Currently, the component **FormErrorMessage** always adds an alert type icon at the beginning of the error message. There is no way to optionally render it.

![image](https://user-images.githubusercontent.com/13146172/74800329-2176f580-52f9-11ea-8a91-96482667c2da.png)

**Suggested solution(s)**

A prop on **FormErrorMessage** that will render the icon only if the prop is set.

[2020-02-19 04:12] ianstormtaylor commented on #388
Thanks @segunadebayo that's great to hear!

Just in case the above was clear, the `borderTopLeftRadius` name I mentioned was because the CSS property for it is actually [`border-top-left-radius`](https://developer.mozilla.org/en-US/docs/Web/CSS/border-top-left-radius).

(The shorter/double `borderTopRadius` variants don't exist in CSS it seems, but so often just changing the two corners on one ful

[2020-02-19 04:16] gopinav commented on #420
#422 PR linked, if we can resolve this

[2020-02-19 06:57] segunadebayo commented on #388
@ianstormtaylor. I agree!

I've implemented your suggestions because I thought it was more intuitive. Now we'll have these props:

[code]

I might get rid of the `rounded-*` props to keep the overall style API concise.

[2020-02-19 11:26] gopinav commented on #419
Hello - Can you please elaborate how the text area is invalid on page load? Unable to see the issue in the codesandbox link.

[2020-02-19 13:38] ProsperDevelopment opened #423 "[Modal] Mouse up outside closes the modal"
**Describe the bug**
Modal closes when mouse button is released (mouse up) outside of modal

![Peek 2020-02-19 14-30](https://user-images.githubusercontent.com/6404440/74838966-c4913480-5324-11ea-80de-781e9eef10ec.gif)

**Expected Behavior**
Modal should not close on mouse release outside of modal

**To Reproduce**
1. Open modal
2. Press mouse down inside modal
3. Move cursor out of modal
4. Relea

[2020-02-19 14:06] l3szcz commented on #418
I didn't try it myself but I think it would work.

Theme object can be stored serialized in a database. Download the theme when needed, deserialize it and change the value of `theme` prop passed to `ThemeProvider`.

For editing - load the theme object you want to edit, make changes (changes can be reflected live and later serialized and saved to DB via API call).

[2020-02-19 15:49] bsansone commented on #419
@gopinav On page load, the `Textarea` is rendered with a red border as if the form has been submitted and the `Textarea` was left empty causing the `isInvalid` state of the wrapping `FormControl`.

It looks like the issue is specific to Firefox, it works fine in Chrome, do you have access to the Firefox Developer edition browser?

----

It looks like this a react issue https://github.com/facebook/

[2020-02-19 15:49] #419 closed

[2020-02-19 19:28] Saifadin opened #424 "[Editable]: Call onCancel when submitOnBlur is false"
**Is your feature request related to a problem? Please describe.**
When the `Editable` Component is used with Custom Handling and the field is blurred, the `isEditing` prop never changes to false. I am currently using it like this:

[code]

**Describe the solution you'd like**
The solution I would suggest is to return to the initialValue on Blur when `submitOnBlur={false}` is set. Basically call `

[2020-02-20 00:41] jhonaikerf opened #425 "[Theme] gatsby-plugin-chakra-ui"
I am using the plugin with gatsby-starter-blog, following the documentation with src / gatsby-plugin-chakra-ui / theme.js
And the file is ignored.

[2020-02-20 05:00] gopinav opened #426 "[IconButton] How to add hover, focus, disabled styles?"
**Describe the bug**
There is no mention in the docs on how to style IconButton for pseudo selectors and PseudoBox doesn't seem to work with as='IconButton'.

**Expected Behavior**
Documentation or make PseudoBox work with IconButton.

[2020-02-20 10:08] ProsperDevelopment commented on #331
Okey I have seen this behaviour on other sites as well now so I guess it's not random over design.

But this raise the need of more theming options for the components, now you need to wrap/override default design instead of using the theme.

[2020-02-20 10:08] #331 closed

[2020-02-20 11:59] export-mike opened #427 "Rollup fails to bundle chakra component lib"
I'm using create-react-library and trying to use chakra-ui as the core.

I've found the lib exenv to cause issues with rollup and how its exported. I notice you have a copy of the canUseDOM in another package chakra-ui-docs so I've copied this and place it into utils.

PR to follow.

[2020-02-20 16:35] jaredpalmer opened #429 "Document MenuList/Popper overflow-y bug"
Popper has difficulty calculating positioning when parent has `overflow-y: hidden` (https://github.com/popperjs/popper-core/issues/535). To fix this, you just have to pass to Popper instance

[code]

To do this in Chakra, you can just do this:

[code]

[2020-02-20 22:13] BadMask121 opened #430 "[ListIcon] TypeError: Cannot read property 'question-outline' of undefined"
**Describe the bug**
ListIcon not working with nextjs ^9.2.1

**Expected Behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
- Use this template:
- List the steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Suggested solution(s)**

**Desktop (please complete the following information):**
 - OS: [e.g.

[2020-02-21 14:16] Koli14 commented on #6
I solved it with an aproach based on this:
https://codesandbox.io/s/chakra-js-hover-5kxd2

[2020-02-21 15:30] #148 closed

[2020-02-21 18:03] dukartbr opened #431 "[InputGroup] rightElement default padding clashing with input"
**Describe the bug**
When creating an input group with a right element within the group, the text and icon clash over one another, this is due to the `rightElement` default padding being set incorrectly

<img width="768" alt="Screen Shot 2020-02-21 at 11 49 02 AM" src="https://user-images.githubusercontent.com/24302915/75058331-6f7a2d80-54a0-11ea-9383-04b84af94aba.png">

**Expected Behavior**
`rig

[2020-02-22 01:48] BadMask121 opened #432 "[Tabs] Some components dont work with next js"
Cannot use 'in' operator to search for 'blue' in undefined
TypeError: Cannot use 'in' operator to search for 'blue' in undefined

[2020-02-22 07:08] segunadebayo commented on #432
Hi @BadMask121,

I don't understand this issue. Kindly explain

Do you have a reproduction of this in CodeSandbox? If so, send it over.

[2020-02-22 07:10] segunadebayo commented on #430
Hi @BadMask121.

This isn't a proper issue description, kindly update it please.

However, this seems like you're not wrapping your entire application with ThemeProvider from Chakra UI.

[2020-02-22 07:10] #430 closed

[2020-02-22 07:38] segunadebayo commented on #429
@jaredpalmer. Thanks for this.

I'll test this as well for the next release of all popper elements. It seems it has been fixed in popper.js V2.

[2020-02-22 09:17] segunadebayo commented on #431
Hi @dukartbr , thanks for raising this issue.

We're aware of this and have fixed it in the `dev-ts` branch in preparation for the next release.

We've re-written the InputGroup component altogether to fix this as you suggested.

Thanks

[2020-02-22 14:24] JClackett commented on #418
We do this with one of our projects, as mentioned above just modify the default theme with the values from your DB

[code]

Its best to have values for the entire Hue i.e. 50, 100, 200 300 etc as this means you can use the components to their fullest, for our platform the tenant only provides one color so we use "polished" to create different hues

[code]

[2020-02-22 19:54] trevorblades commented on #425
This is a duplicate of #347. There's some more info in that issue about the cause of this error, and it will be fixed when #362 gets merged/released.

[2020-02-22 20:28] segunadebayo commented on #424
Hi @Saifadin,

Thanks for this suggestion. It sounds like a good idea. I'll look into it for the next release.

[2020-02-22 20:29] #432 closed

[2020-02-22 20:30] segunadebayo commented on #427
Hi @export-mike.

Since this has been fixed, I'll close it for now.

Thanks for the PR earlier. I will release a patch soon.

[2020-02-22 20:30] #427 closed

[2020-02-22 20:31] segunadebayo commented on #411
Hi @asajuenitan,

This is currently out of our scope and I can't guarantee we'll work on it.

Feel free to chime in on this if you're interested.

[2020-02-22 20:31] #411 closed

[2020-02-22 22:43] segunadebayo commented on #365
Hi @trevorgerhardt,

Sorry for my late reply. Yes, the code in for NumberInput has changed significantly to handle most of the use-cases, allow for more control, and make testing the logic easier.

I'm glad you found a walkaround for it.

Thanks

[2020-02-22 22:45] segunadebayo commented on #364
Hi @AlbertLucianto, I agree.

We'll ensure we fix this in the next release.

Thanks for bringing it up.

[2020-02-22 22:46] segunadebayo commented on #391
Hi @emersonlaurentino,

Yes, I just caught this bug and fixed it. Fixes will be shipped in the next release. Thanks

[2020-02-22 22:47] segunadebayo commented on #423
@ProsperDevelopment,

Yes, we're aware of this issue and are working to fix it in the `dev-ts` branch.

Thanks for bringing it up.

[2020-02-23 07:11] coodoo commented on #171
bump? 😬

[2020-02-23 07:46] RizeXor opened #434 "[ColorMode] How to get dark mode by default?"
I want dark mode by default. I don't want to call toggleColorMode().

In material design we could add dark boolean to theme object is there something similar?

Also in dark mode the background doesn't change, how could I fix thanks :)

[2020-02-23 09:02] segunadebayo commented on #434
Hi @RizeXor,

You can wrap your entire application in the <DarkMode> component. Import it from Chakra and apply it at the root of your application, just below the <ThemeProvider>

Thanks.

PS: If this doesn't fix it, I'll re-open this issue.

[2020-02-23 09:02] #434 closed

[2020-02-24 01:55] bulby97 opened #435 "Variant on components"
At the moment, this is the best way I found to render components based on state:

[code]

[code]

Is this a good pattern  ? Is there any better solution ?

[2020-02-24 03:21] bulby97 commented on #435
Thinking about it, maybe we're doing it backwards ?
https://theme-ui.com/sx-prop has a clever way of doing it : stying inline, using values from the theme.

Truth is: 70% of components we're creating need to be responsive. And some will not have just two variants, but sometimes much more.

[2020-02-24 05:22] segunadebayo commented on #435
Hi @bulby97,

Your solution works for now. I understand this is a bit painful to handle variants that way.

We're solved this permanently in the next release. Let me give you a glimpse:
1. You will be able to use the `sx`prop in any component
2. You can define a component schema to support different variants, sizes and color schemes.

[code]

[2020-02-24 11:31] RizeXor commented on #434
Ok i see there is a DarkMode component but my background-color still doesn't change. I see in the official website the html element itself changes the background. How would I achieve that?

[2020-02-24 12:21] christofferberg commented on #435
@segunadebayo

Is it possible to tell when we can expect the next release? 🆒

[2020-02-24 12:29] wardpoel opened #436 "Setup chakra-ui with parcel"
I tried to setup a react project with Chakra UI. For bundling I used parcel-bundler. After installing all packages I tried to run `parcel index.html` and got the following error:
```Requires Babel "^7.0.0-0", but was loaded with "6.26.0"```

Any idea how to setup Chakra UI with babel 7?

[2020-02-24 12:49] #436 closed

[2020-02-24 12:50] wardpoel commented on #436
It was due to a global parcel install. Running the local version of parcel fixed it

[2020-02-24 13:06] #291 closed

[2020-02-24 13:26] segunadebayo commented on #434
Did you render the <CSSReset/> component at the root of your application? Its CSSReset that's responsible for updating the `body` color and background.

So what you want is:

[code]

[2020-02-24 14:17] segunadebayo commented on #435
@christofferberg, I'd say by the end of March.

[2020-02-24 15:54] #347 closed

[2020-02-24 15:54] #425 closed

[2020-02-24 16:02] #327 closed

[2020-02-24 16:08] #431 closed

[2020-02-24 16:32] rynatk commented on #183
I'd be willing to help with this, and plan to do so in my spare time anyways. I use styled-system on every RN project I'm on these days and would love to leverage chakra as a consistent out-of-the-box setup.

[2020-02-24 17:24] segunadebayo commented on #183
@zaguiini. Do you have any updates?

[2020-02-24 18:29] matepapp commented on #183
@rynatk is styled-system compatible with React Native 😮?

[2020-02-24 18:29] bulby97 commented on #435
This is amazing! Thank you for your hard work.

One question though : what is the purpose of declaring variants inside theme? I know it's used in theme-ui, but will it not create at some point different sources of truth?

[2020-02-25 02:22] export-mike opened #437 "Patch Release?"
Hey @segunadebayo

So with exenv being fixed anychance we can get a patch release out fixing this?

would be great as it would fix my builds :)

Thanks

Mike

[2020-02-25 04:03] RizeXor commented on #434
@segunadebayo,

Yes now it works. I had CSSReset outside DarkMode. Is it possible to change the backgroundcolor?

[2020-02-25 07:57] lolcookie opened #438 "Request to add Format Option to NumberInput, Input"
Feature identical or similar to the "formatter" prop here https://ant.design/components/input-number/

Makes it easier to read long numbers that are being inputed if there are commas on them.

Unless there is a way to handle this already?

[2020-02-25 09:17] talentlessguy commented on #200
Looking forward in using this component because rn I have to use react-slick or my own slider

[2020-02-25 09:27] junaid33 opened #439 "[useColorMode] I'm using chakra-ui with Gatsby and it's applying dark mode by default"
**Describe the bug**
A clear and concise description of what the bug is.
For some reason, dark mode is being applied by default. When I check LocalStorage, I see darkMode : true. I'm not applying the dark mode at all.

**Expected Behavior**
A clear and concise description of what you expected to happen.
darkMode should not be applied by default

**To Reproduce**
1. Repo: https://github.com/junaid3

[2020-02-25 10:53] christofferberg commented on #374
I am having the same issue.

As soon as I switch to the Object syntax for responsive styles on a components prop, the ordering of the generated css rules are not correct.

Using the array syntax for the responsive padding values:
![image](https://user-images.githubusercontent.com/10507071/75240748-26d6b300-57c5-11ea-8027-f01409a94ead.png)

and the generated css:
![image](https://user-images.github

[2020-02-25 11:22] zaguiini commented on #183
@segunadebayo sorry, I'm having little to no time to work on this one :/ Life has been busy lately...

The first step would be to create `.native.js` files to deal with Metro's resolution

[2020-02-25 11:47] jeanverster commented on #135
Hi @nejcr, see code sandbox below with a basic example 👍

https://codesandbox.io/s/chakra-ui-react-table-o6psn

[2020-02-25 12:14] harshzalavadiya commented on #314
not stale

[2020-02-25 12:19] segunadebayo commented on #374
@Rixcy, here's what you need to do to override breakpoints:

[code]

This specification comes from `styled-system`. In future releases, we're looking to make this a lot easier. For now, I'll add this to the FAQs on the website.

Thanks

[2020-02-25 12:22] segunadebayo commented on #374
@christofferberg, sorting the styles alphabetically is done from styled-system. We might look into this later on.

I agree that there might be some unintended side effects of sorting alphabetically.

[2020-02-25 12:24] segunadebayo commented on #314
Hi @harshzalavadiya,

We'll look into this for the next release.

[2020-02-25 12:32] ScottLindley commented on #311
@segunadebayo any updates on this?

[2020-02-25 13:17] Rixcy commented on #374
Awesome, thanks for clarifying!

[2020-02-25 13:17] #374 closed

[2020-02-25 13:55] Saifadin commented on #424
@segunadebayo I will create a MR and you can look into it :)

[2020-02-25 19:23] #424 closed

[2020-02-25 19:35] segunadebayo commented on #311
@ScottLindley . I just fixed it, about to release a patch

[2020-02-25 19:54] jaredpalmer commented on #212
this bit me hard the other day. i think position relative needs to be added by default

[2020-02-25 20:00] segunadebayo commented on #310
Hi @iRoachie, I've just fixed this bug. Ideally, you might want to render the MenuList if `schools` array is empty.

I'll release a patch shortly for this.

[2020-02-26 08:58] santialbo commented on #437
Just a heads up that a new version was published yesterday.

[2020-02-26 10:26] #437 closed

[2020-02-26 11:30] iRoachie commented on #310
Thanks, that’s what I ended up doing

[2020-02-26 15:03] jaredpalmer commented on #205
@segunadebayo just discovered workaround for current `as` prop TS annoyance in reach-ui source. This gem adds full typesafety to stuff like `<Button as={Link} isExternal />`.

https://gist.github.com/jaredpalmer/80982b3d787359762506fce578108358

In another PR, someone just needs to go through all `forwardRefs()` and replace with `forwardRefWithAs()` in .d.ts files

[2020-02-26 15:23] kripod commented on #205
@jaredpalmer Recently, I published a package which serves the exact same purpose, but without the overhead of the `forwardRefWithAs()` wrapper function. It’s called [react-polymorphic-box](https://github.com/kripod/react-polymorphic-box) and offers a set of performant static types along with a guide.

[2020-02-26 17:23] #311 closed

[2020-02-26 17:25] segunadebayo commented on #311
Closing this because I've released a patch. Kindly update 🥳

[2020-02-26 17:26] #310 closed

[2020-02-26 17:35] segunadebayo commented on #391
I just fixed this and will release a patch in a bit.

[2020-02-26 17:35] #391 closed

[2020-02-26 17:40] segunadebayo commented on #312
@coodoo, this might need some more clarification due to how style props work in styled-system.

To make them the same, try this:
[code]

[2020-02-26 17:40] #312 closed

[2020-02-26 17:41] #389 closed

[2020-02-26 17:43] segunadebayo commented on #418
Hi @charanpasham, I assume you've found a solution based from @JClackett  and @l3szcz 's reply.

Closing this out.

[2020-02-26 17:43] #418 closed

[2020-02-26 17:44] segunadebayo commented on #414
Hi @varshard,

Thanks for reporting this issue. I've just fixed this and will release a patch shortly.

If after upgrade the problem still exists in your application please open a new issue and follow the instructions in the issue template.

[2020-02-26 17:44] #414 closed

[2020-02-26 17:47] segunadebayo commented on #370
Hi @davidhousedev, I agree that it's a bit painful to update the styles for the Checkbox and Radio components.

In the upcoming TS release, we're looking to make this a lot easier.

[2020-02-26 17:51] segunadebayo commented on #357
Thanks for reporting this issue. I've just fixed this and updates will be released shortly

If after upgrade the problem still exists in your application please open a new issue and follow the instructions in the issue template.

[2020-02-26 17:51] #357 closed

[2020-02-26 17:52] #298 closed

[2020-02-26 17:52] #297 closed

[2020-02-26 17:53] #304 closed

[2020-02-26 17:55] segunadebayo commented on #247
Hi @DavidJFelix,

I'm going to close this considering it's a duplicate in the #205 issue. We've resolved this permanently in the TypeScript branch. It should be released by next month.

Thanks

[2020-02-26 17:55] #247 closed

[2020-02-26 17:55] #199 closed

[2020-02-27 00:09] hamfz commented on #270
Any updates?

[2020-02-27 05:53] gopinav opened #443 "[Icon] TypeScript throws error if we use a custom component name"
**Describe the bug**
If you add custom icons to your theme and try use it for an Icon component, TypeScript throws an error

**Expected Behavior**
TypeScript should not flag error for custom icons used.

[2020-02-27 07:04] fr3fou commented on #338
any news?

[2020-02-27 07:48] tioluwani94 commented on #338
Hi @fr3fou, we are working on this and we'll have this with the next major release in March

[2020-02-27 11:43] segunadebayo commented on #443
Hi @gopinav, This is a duplicate of #204.

I've just merged a PR that fixed this. Will release a patch shortly.

[2020-02-27 11:43] #443 closed

[2020-02-27 11:49] dependabot-preview[bot] opened #444 "Dependabot couldn't fetch all your path-based dependencies"
Dependabot couldn't fetch one or more of your project's path-based JavaScript dependencies. The affected dependencies were `react`.

To use path-based dependencies with Dependabot the paths must be relative and resolve to a directory in this project's source code.

[View the update logs](https://app.dependabot.com/accounts/chakra-ui/update-logs/24660789).

[2020-02-27 11:54] #444 closed

[2020-02-27 13:25] sidneyramos opened #450 "Request to add children styling prop"
**Is your feature request related to a problem? Please describe.**
There currently isn't a way to provide css selectors for the children of a selected component.

**Describe the solution you'd like**
A children prop, or anything similar that accepts an object would be nice
e.g.
children={{
  "div": <style object applying to all children div>,
  ".className": <style object applying to all children

[2020-02-27 13:41] ivan-dalmet commented on #439
Hey, @junaid33 any chance that your system is in Dark mode?
Because Chakra UI default color mode is based on the user system preference ;)
If you don't want the color mode at all, you should remove the `<ColorModeProvider>` in your app ;)

[2020-02-27 13:50] ivan-dalmet commented on #205
Same error for me :(

[2020-02-27 14:17] ivan-dalmet commented on #205
Same problem here :(

When I trying to remove the `--parallel` in the `build` script I'm getting other errors because `@chakra-ui/system` or `@chakra-ui/utils` are not in packages dependencies of the components. So Lerna can't know how to build in the right sequence.

@segunadebayo any reason to not declare the local dependencies in the package.json of each component?

[2020-02-27 15:04] gopinav opened #452 "[VisuallyHidden] TypeScript error for type prop"
**Describe the bug**
VisuallyHidden component throws type error for the prop 'type'

![image](https://user-images.githubusercontent.com/13146172/75456346-6c9ba300-59a0-11ea-9eb6-bfbb9f3048e9.png)

**Expected Behavior**
There should not be any typescript errors

[2020-02-27 16:08] hamfz commented on #270
Just an FYI I got things running in IE11 just by configuring the babel-loader on my webpack configuration not to ignore the node_modules directory.

For the most part, the main problems I noticed were:
- Dropdown menus were not stable, would not stay "open". Possibly something fighting for focus ?
- Simple Grid was a bit sketchy, although not terrible.

I didn't do extensive testing however.

[2020-02-28 02:49] gopinav opened #454 "[PseudoBox] TypeScript error for props"
**Describe the bug**
PseudoBox component flags typescript errors when passing props that are appropriate for the component passed into 'as' prop. For example, PseudoBox as button right now throws error for type and disabled prop. These props are valid for a button element.
![image](https://user-images.githubusercontent.com/13146172/75505804-43abfa00-5a02-11ea-891c-3dff7011b10b.png)

**Expected Beh

[2020-02-28 09:49] sumanthyedoti opened #457 "File Upload Components"
File Upload Components like [Ant Design's](https://ant.design/components/upload)

[2020-02-28 11:51] JClackett opened #458 "[Core] V0.6.1 cant start/build with Next.js"
**Describe the bug**
Upgrading to the latest version of chakra breaks my site using Next.js

**Expected Behavior**
Works as expected.

**To Reproduce**
Upgrade and start next.js server

**Suggested solution(s)**
Not sure yet, looks like an issue in the CSSReset component, but might me due to emotion

[code]

[2020-02-28 11:59] segunadebayo commented on #458
Hi @JClackett,

Thanks for this issue.

Quick questions:
- Is CSSReset insider the ThemeProvider? If not, kindly move it inside the ThemeProvider
- If it is, do you have a `theme.fonts.body` field in your theme, I think might also be the problem.

If it's none of these, please send me a CodeSandbox replica of this issue and I'll fix it right away.

[2020-02-28 12:24] JClackett commented on #458
Hi @segunadebayo

It is inside a ThemeProvider and im not using theme.fonts.body :(

I will keep investigating and try to make a replica!

[2020-02-28 12:28] JClackett commented on #458
Okay, so im using heroku to host my next site, and i just cleared the cache and it seems to be working again.. not sure what happened there?

thanks for the quick response though

[2020-02-28 13:55] aaronmcadam opened #459 "[Flex] Type does not include "visibility" prop"
**Describe the bug**

I see the following TypeScript error:

[code]

**Expected Behavior**

I expect to be able to use the `visibility` prop on anything.

**To Reproduce**

See this codesandbox: https://codesandbox.io/s/chakra-ts-starter-90t57

**Suggested solution(s)**

Add `visibility` to the props.

**Desktop (please complete the following information):**

 - OS: MacOS
 - Browser: Chrome
 - Ver

[2020-02-28 14:18] jeremyadavis commented on #458
Not sure if this helps as I haven't been able to debug this thoroughly yet, but last night I started upgrading some deps and I hit a similar issue and it seems to be with @emotion/core going from 10.0.27 to 10.0.28.

I was able to upgrade chakra-ui/core from 0.5.2 to 0.6.1 by itself without issue, but as soon I bump @emotion/core, I get major freakout errors.

[2020-02-28 14:39] jeremyadavis commented on #458
Unfortunately I couldn't reproduce this with a simple Code Sandbox.
https://codesandbox.io/s/chakra-ui-sandbox-7sgjw?fontsize=14&hidenavigation=1&theme=dark

My ChakraUI setup doesn't use create-react-app, it's a 'ui' package that uses Storybook to view the components so maybe it's related to some storybook conflict.

[2020-02-28 16:30] junaid33 commented on #439
I haven't used <ColorModeProvider> at all. It just defaults to dark mode: true in local storage.

Please check this link: https://opensource-builders-hq7rifoee.now.sh. The text appears at first and then fades away. If you check the element, you will see it says <body class="dark-mode">.

As a temporary fix, I manually added color to the text and change local storage to darkMode: false.

Is this a

[2020-02-28 16:31] junaid33 commented on #439
Oh are you asking if my operating system settings has dark mode on? It does, but how can I make Chakra-ui not use that when loading the website?

[2020-02-28 16:33] junaid33 commented on #439
Oh wow you were right! I turned my system from dark mode to light mode and the website is all fixed now.

[2020-02-28 16:35] ivan-dalmet commented on #439
Yes! Look at this article for how to use JS to know system preference -> https://medium.com/@jonas_duri/enable-dark-mode-with-css-variables-and-javascript-today-66cedd3d7845 ;)
If you don't want to use the dark theme at all, remove the `<ColorModeProvider>` component that wrapping your app.

[2020-02-28 16:40] junaid33 commented on #439
But I'm not using <ColorModeProvider> at all. I don't import it into the app.

[2020-02-28 16:43] ivan-dalmet commented on #439
Oh sorry, I didn't see that you are using the Gatsby plugin.
You can configure the plugin to don't use the Color Mode -> https://www.gatsbyjs.org/packages/gatsby-plugin-chakra-ui/#gatsby-plugin-options
[code]

[2020-02-28 16:45] ivan-dalmet commented on #439
So just add this code `isUsingColorMode: false,`
on line 30 of this file https://github.com/junaid33/opensource.builders/blob/master/gatsby-config.js
It should work pretty well :)

[2020-02-28 16:52] junaid33 commented on #439
Thank you so much! Should've read the readme for the plugin.

[2020-02-28 16:52] #439 closed

[2020-02-28 16:54] ivan-dalmet commented on #439
No problem 😄

[2020-02-29 01:09] jeremyadavis commented on #458
Just a followup to my earlier comment. Turns out another package in my monorepo had @emotion/core as a dep so when I upgraded my storybook/chakra package's dep of it, something went haywire with the ThemeContext.
All's good now.

[2020-02-29 02:37] dimitropoulos opened #461 "This project has been added to the react-ui-roundup"
Hi!

I am making this issue just to let you know that I've included your amazing project in the [react-ui-roundup](https://github.com/dimitropoulos/react-ui-roundup).

For more information see https://github.com/dimitropoulos/react-ui-roundup/issues/2.

Please feel free to close this issue at will - I just wanted to let you know :smile:.

Thanks!

[2020-02-29 10:26] segunadebayo commented on #461
Amazing! Thank you @dimitropoulos 💖

[2020-02-29 10:26] #461 closed

[2020-02-29 10:29] segunadebayo commented on #452
Hi @gopinav,

Thanks for this issue.

I'm going to close this issue because it's a duplicate comment from this issue #205. We're already working on this.

[2020-02-29 10:29] #452 closed

[2020-02-29 10:31] #458 closed

[2020-02-29 15:06] harshzalavadiya opened #462 "[Image] No native "src" property on server side rendered page"
**Describe the bug**
Currently while checking image component rendered on server side (in my case using next.js) there's no `src` in server side rendered native `<image />` tag
is this intentionally designed like this? or is there any way to configure this

because this might be a huge impact on SEO as no image will have `src`

PFB codesandbox describing minimal nextjs sample
[![Edit fast-bush-2ns

[2020-03-01 21:27] #402 closed

[2020-03-02 09:11] ProsperDevelopment commented on #270
"my webpack"? Did you fix it in the webpack of the project where you are using Chakra?

[2020-03-02 17:45] wale-bant opened #465 "[Alert] Typo in documentation"
**Describe the bug**
A clear and concise description of what the bug is.

There is a typo in the Status alert (warning). It says : "Seems your account is about expire, upgrade now"

**Expected Behavior**
A clear and concise description of what you expected to happen.

The text should be: "Seems your account is about to expire, upgrade now"
The "to" is omitted.

**To Reproduce**
- Use this template

[2020-03-02 18:18] nainardev commented on #465
Fixed!

[2020-03-02 18:21] nainardev opened #467 "Request to add Indeterminate Progress component"
**Is your feature request related to a problem? Please describe.**
Misses indeterminate progress

**Describe the solution you'd like**
new type of progress

**Describe alternatives you've considered**

**Additional context**

[2020-03-02 18:31] nainardev opened #468 "CRA example - DependencyNotFoundError"
**Describe the bug**
DependencyNotFoundError

**Expected Behavior**
Template works

**To Reproduce**
https://codesandbox.io/s/github/chakra-ui/chakra-ui/tree/master/examples/create-react-app

https://immqr.csb.app

**Suggested solution(s)**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Additional context**
Add a

[2020-03-02 18:40] nainardev opened #469 "Popper V2"
**Describe the bug**
this uses v1.16.1

**Expected Behavior**

**Suggested solution(s)**

**Desktop (please complete the following information):**
 - OS: [linux]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Additional context**

[2020-03-03 06:09] Enigma10 commented on #140
@segunadebayo I want to help you this component. Can you guide me?. I am beginner in open source.

[2020-03-03 09:16] tioluwani94 commented on #468
Hi @nainardev,

I noticed that the project on Codesandbox doesn't have the required dependencies (@chakra-ui/core, @emotion/core, @emotion/styled and emotion-theming), hence the error you are getting. If you add these dependencies everything should work fine.

You can also check out Chakra UI's starter projects for JavaScript and Typescript on Codesandbox.

https://codesandbox.io/s/chakra-js-start

[2020-03-03 09:17] tioluwani94 commented on #467
Hi @nainardev, we'll look into this for the next major release. I'll close this for now.

[2020-03-03 09:17] #467 closed

[2020-03-03 10:49] tioluwani94 commented on #459
Hi @aaronmcadam, thanks for catching this. It has been fixed and will be released with the next patch

[2020-03-03 10:49] #459 closed

[2020-03-03 10:49] aaronmcadam commented on #459
Thanks @tioluwani94!

[2020-03-03 13:15] nainardev opened #471 "Weird styles"
**Describe the bug**
No styling in a new app

**Expected Behavior**
Correct Button style

**Scrrenshots**
![Screenshot (119)](https://user-images.githubusercontent.com/59839368/75779076-01c2e100-5d7f-11ea-830c-d590f5ab819d.png)

[2020-03-03 14:49] segunadebayo commented on #471
I'm sorry but we don't understand the problem you are reporting. This looks like you're not using the CSSReset component in your app.

Please provide a repository or CodeSandbox reproducing this problem, and describe the difference between the expected and current behavior.

[2020-03-03 14:49] #471 closed

[2020-03-03 17:07] nainardev commented on #471
How to use CSSReset

[2020-03-04 12:43] bwillem commented on #349
Just commenting so I get updates on this. Also experiencing the issue.

Thanks to segunadebayo and all the contributors for this super awesome library. 👍

[2020-03-04 21:39] jdmann opened #472 "Stack isInline prop doesn't take responsive object"
While this works:
`<Stack isInline={false}>
`
This does not:
`<Stack isInline={{ base: false, md: true }}>
`

[2020-03-05 08:34] segunadebayo commented on #472
Hi @jdmann,

Thanks for this issue. I recommend that you use the `SimpleGrid` component for this use case.

We might look into this later.

[2020-03-05 08:34] #472 closed

[2020-03-05 09:29] aaronmcadam opened #473 "Can't see storybooks on dev-ts branch"
**Describe the bug**

Running `yarn setup` throws the following error:

[code]

**Expected Behavior**

I expect to be able to build the system so that I can look at the storybooks.

[2020-03-05 09:31] aaronmcadam commented on #469
Here's some background on what is improved: [Smarter Tooltips and Popovers with Popper 2](https://dev.to/fezvrasta/smarter-tooltips-and-popovers-with-popper-2-44bh)

[2020-03-05 09:35] tioluwani94 commented on #473
Hi @aaronmcadam,

You can try running this on the command-line

`yarn system build && yarn setup`

[2020-03-05 09:44] aaronmcadam commented on #473
Ah thanks @tioluwani94, that fixed it! I don't know whether you'd want to include the `system build` in the `setup` line.

As an aside, I'm seeing this when running `yarn storybook`:

![Google Chrome 2020-03-05 at 09 43 37@2x](https://user-images.githubusercontent.com/37928/75968761-d26abc00-5ec5-11ea-8b4b-eb3e3a1959c8.png)

[2020-03-06 03:41] with-heart commented on #205
Hi @segunadebayo, I'd like to jump in and help with this. What can I work on to be most helpful?

[2020-03-06 12:24] segunadebayo commented on #205
@jaredpalmer, thank you for that gist. It's really helpful.

I'll use it in the upcoming TS version. I'm happy to merge any PR that implements the `forwardRefWithAs` into the current master.

[2020-03-06 12:25] segunadebayo commented on #205
@ivan-dalmet @lorenzorapetti , I've added the local dependencies for most components, I'll do a double check again to be sure all packages have the correct dependencies. I understand this is critical for lerna to work correctly.

[2020-03-06 14:06] bjgrosse commented on #406
@segunadebayo here is a sandbox that reproduces this. If you don't set usePortal=true on the MenuList, then the menu gets cut off. If you do usePortal then you get an error about the focusableItems. focusableItems is null at the time of opening the menu.

Turning autoSelect off gets past this error, but then other things don't work such as the closeOnBlur. Seems that a various number of things nee

[2020-03-06 14:23] bjgrosse commented on #406
It should be noted that the Popover component works fine in this same scenario, and it would be lovely if the Menu could as well.

[2020-03-06 15:24] segunadebayo commented on #205
@with-heart, I need help with the ReadMe and Testing for all components. Kindly take a look and let me know which you can contribute to. I appreciate this.

Feel free to send me a DM on Twitter as well, if you have any questions.

[2020-03-06 20:56] skube opened #476 "Specify w={1} should produce 100% with on Box component"
**Describe the bug**
I'm not exactly sure if this is a bug or intended functionality, but if I understand correctly, Chakra _should_ generally function the same as Styled System. For example, [Styled System shows a Box example](https://styled-system.com/api#layout) where `width` is supplied via props.

The first point states:

**Expected Behavior**
So, something like :

[code]

Should work the sam

[2020-03-07 16:16] yassinebridi opened #477 "Request to support breakpoints properties to the size property."
**Is your feature request related to a problem? Please describe.**
Many components that has the **size** property doesn't work with responsive properties that ChakraUI utilize like the **heading** and **button** components

**Describe the solution you'd like**
for the size property to handle breakpoints properties.

**Describe alternatives you've considered**
I had to use the **fontSize** property

[2020-03-08 04:47] geocine commented on #458
@jeremyadavis how did you solve this, I am experiencing the same issue but now with Gatsby

[2020-03-09 11:09] aaronmcadam commented on #205
@segunadebayo What do you think of @kripod's solution? It's quite elegant I think.

[2020-03-09 11:56] #465 closed

[2020-03-09 12:05] segunadebayo commented on #205
@aaronmcadam, I think @kripod's and @jaredpalmer's solution are both great! I'm currently looking to sync both solutions and add it to the core of Chakra UI.

[2020-03-09 12:07] segunadebayo commented on #473
@aaronmcadam, this has been fixed. You can now run `yarn build` and then `yarn storybook`.

If the problem still exists after running the command, I'll re-open this issue.

[2020-03-09 12:07] #473 closed

[2020-03-09 12:09] segunadebayo commented on #469
Hi @nainardev, I've upgraded the popper component to use V2 in the `dev-ts` branch. This will be published soon.

To verify, you can check the popper package in dev-ts.

Thanks

[2020-03-09 12:09] #469 closed

[2020-03-09 12:23] aaronmcadam commented on #473
Hi @segunadebayo, it's nearly working. Now I see the following:

![Google Chrome 2020-03-09 at 12 22 48@2x](https://user-images.githubusercontent.com/37928/76212596-c140e880-6200-11ea-9d1c-0b52bbb1830f.png)

[2020-03-09 14:08] segunadebayo commented on #473
Yes, this is due to the settings I added to the `.storybook/main.js`. I'm currently working on the drawer component that's why I constrained storybook to load only drawer stories.

To see all change the mention of `Drawer` to `**` to see all components.

[2020-03-09 14:26] aaronmcadam commented on #473
Thanks @segunadebayo, we can keep this closed!

[2020-03-09 15:13] jeremyadavis commented on #458
@geocine For the most part, my issue presented itself like the component didn't have proper access to the ThemProvider context, so just double check that all that is in order with ThemeProvider and CSSReset.
My setup wasn't a Gatsby one so I'm uncertain how that setup might be different.

My actual setup is a monorepo where I have my app in its own package, then a separate UI package that centrali

[2020-03-10 05:10] #313 closed

[2020-03-10 05:16] jhoch commented on #375
I had this issue, too, but solved it using the `onClose` property that `Menu` can pass to its children.  For example:

[code]

[2020-03-10 08:00] export-mike opened #484 "Stack, Inline, Columns"
Hey Thought I'd share and potentially start a discussion about this layout pattern thats trending.

theres been a growing interest in this pattern for layout. Its really neat!

all components have minimal to no margins. all spacing is determined by the layout. theres this awesome effort in Braid design system

https://github.com/seek-oss/braid-design-system/tree/master/lib/components/Stack

Theres

[2020-03-10 10:56] with-heart opened #485 "Group components in docs"
One of the issues we've found at work when onboarding devs to Chakra is that it's hard for them to get a sense of all the components that are available for them to use in a given situation. I believe this is partially due to the way components are laid out in the docs.

Rather than listing the components alphabetically, it would be more useful to list them in basic groups. Grouping the layout comp

[2020-03-11 09:36] santialbo commented on #205
I'm following this thread with a lot of attention. One question that I have is what kind of breaking changes should we expect when this is out? Are any components/helpers being deprecated?

[2020-03-11 11:39] tioluwani94 commented on #485
Hi @with-heart, we are looking into this style of documentation of components for the next major release of Chakra.

[2020-03-11 11:39] #485 closed

[2020-03-11 12:12] aaronmcadam commented on #205
@santialbo I too am hoping there will be some user guides on the new TypeScript support and any other migration steps we'll need to follow.

[2020-03-11 17:18] jeremyadavis commented on #401
Just make sure your ThemeProvide is outside of the component that needs to use the theme context.
https://codesandbox.io/s/chakra-js-toast-not-working-o2pi1

[2020-03-12 15:37] hamfz commented on #270
Yes.

[2020-03-12 17:10] PTaylour commented on #401
Ah yes this makes a lot of sense. In the real life example I had the `ThemeProvider` inside of a gatsby `Layout` component but we were using `useToast` in a component higher in the tree.

Have since seen the chakra gatsby plugin where the `ThemeProvider` is in `wrapRootElement`

Thanks for taking a look!

[2020-03-12 17:10] #401 closed

[2020-03-12 21:44] segunadebayo commented on #205
@santialbo and @aaronmcadam. There'll definitely be a detailed migration guide for the new TypeScript support. No worries 😄

[2020-03-12 21:49] segunadebayo commented on #484
This is a great idea @export-mike. We've added the `Inline` component to the next release, and looking to improve the Stack component as well to support responsive values and a `divider`.

In the next release, all the layout components will be bundled as `@chakra-ui/layout`. Some more goodies (components) are coming as well 😄

Thanks for these ideas!

[2020-03-12 21:51] segunadebayo commented on #454
@gopinav, Thanks for this issue. We're aware of this and we created a central #205 issue to log all TypeScript related issues.

I'm going to close this and as it's a duplicate in #205. We'll definitely add support for this in the next release.

[2020-03-12 21:51] #454 closed

[2020-03-12 21:54] #468 closed

[2020-03-12 22:02] segunadebayo commented on #423
This has been fixed in the dev-ts branch and will be made available in the next release.

[2020-03-12 22:02] #423 closed

[2020-03-13 03:15] export-mike commented on #484
Amazing very excited!

[2020-03-13 08:03] thisizkp opened #491 "Stack component ignores a few props"
Thanks for the amazing component library 💯

I've been using the Stack component to style a page. The default spacing is good in most of the cases, but I want to customize it a bit more by adding `mb=0` or something similar..etc.

On inspecting the Stack source code, I've found that we are ignoring `...rest` props. I don't see the `...rest` props being passed around to the underlying `Box` componen

[2020-03-13 08:06] segunadebayo commented on #183
No worries @zaguiini. Take your time, I believe someone here might be able to pick up from where you stopped. It might be good to leave the link to your repo here to show your progress so far.

Thank you man

[2020-03-13 08:39] thisizkp commented on #491
Ignore the issue... Noticed the `...rest` being passed to the `Flex `

[2020-03-13 08:39] #491 closed

[2020-03-13 10:16] rickysullivan commented on #476
I think this is because in styled-system v5:

https://github.com/styled-system/styled-system/pull/513

I think the Styled System API docs needs updating.

[2020-03-13 10:25] rickysullivan commented on #476
Actually.

https://styled-system.com/getting-started#layout

I tested this by changing my theme:

[code]

Now I get 100% width when supplying `w={1}` or 50% when supplying `w={1/2}`

[2020-03-13 12:34] b-b0t commented on #305
+1

[2020-03-13 12:35] b-b0t commented on #349
+1

[2020-03-13 12:46] KenzoBenzo commented on #305
As a middle ground solution, I defined a few variables in my color theme as such:
[code]
const HeroComponent = ({ title, subtitle }) => {
  const { colorMode } = useColorMode()
  return (
    <Heading
          mb={4}
          as="h1"
          lineHeight="shorter"
          fontWeight="900"
          color={`mode.${colorMode}.heading`}
          letterSpacing="wider"

          {title}
    </Hea

[2020-03-13 13:02] KenzoBenzo commented on #405
**Company**: BeFreakingKind apparel
**Permission to use our logo in our readme/website**: [Yes](https://media.graphcms.com/ck7oney0ndq660b209ym6baaa)
**Project type and size**: BFK is an eCommerce site built with Chakra, Stripe, Sendgrid, Printful, GraphCMS, and Netlify. It's a small-sized application that's just getting started. Using Chakra allowed the project to focus on the goal rather than th

[2020-03-13 13:55] JClackett commented on #405
Company: Common Grounds
Permission to use our logo in our readme/website: Yes
Medium-sized platform for booking co-working spaces worldwide. Chakra allowed us to launch our product super fast! 😃 Next.js, TypeScript, GraphQl, Stripe, Apollo Server, React-native + Expo
Project link: https://www.commongrounds.co/spaces

Chakra has helped so much, now just waiting for React native support so our entir

[2020-03-13 13:58] shubham-paliwal-fareye commented on #205
I wanted to work in this repo.
Not able to configure dev-ts branch locally.

`(typescript) Error: /chakra-ui/packages/icons/src/index.tsx(24,15): semantic error TS2307: Cannot find module './ArrowForwardIcon'.`

Resolve this issue by changing the file name from **ArrowForwardICon to ArrowForwardIcon.**
How to run a storybook or doc so that I can do the implementation locally.
Please provide the se

[2020-03-13 14:12] aaronmcadam commented on #205
@shubham-paliwal-fareye I ran into issues running the branch too, which were resolved here: #473

[2020-03-13 19:54] OfficerHalf opened #492 "Spinner vs Circluar Progress clarification"
The circular progress component seems to supersede the spinner, but there's no indication in the docs which is the newer/preferred component. Maybe one should be deprecated, or at least marked as such in the docs?

Or do they serve some different purpose? Is it just the difference in animation?

[2020-03-13 19:54] wKovacs64 commented on #206
Shush, stalebot.

[2020-03-14 06:39] shubham-paliwal-fareye commented on #205
Thanks it works.

[2020-03-14 16:20] segunadebayo commented on #492
Hi @OfficerHalf,

Semantically the Spinner and CircularProgress serve different purposes. Visually, <CircularProgress/> in it's "indeterminate" state looks more like <Spinner/>.

**CircularProgress**
It's used to denote the progress of a determinate operation. Take for example an image upload operation:
- Before upload begins, the upload progress is indeterminate (at this point, it’s just spinning

[2020-03-15 00:30] dusty opened #495 "Request for help bundling chakra"
I've built some components that wrap chakra components.  I'm trying to strip them out into their own library that I can include in other projects.  I'm receiving an error on loading my apps that I include this library into when I try to use toasts.

I've tried several different packages to build it, including rollup, microbundle, and tsdx.  The error message I am getting is "Invalid hook call".

<

[2020-03-15 01:14] OfficerHalf commented on #492
It does. I always (regrettably) forget to think about accessibility. Maybe something can be added to the docs to clarify? I can try and cobble a PR together from what you said here.

[2020-03-15 13:31] PSalaun opened #496 "Request to add an additional example on documentation for PopoverTrigger component"
Here is a suggestion of improving documentation for helping people like me that are not yet that experienced with React, with using Popover.

**Is your feature request related to a problem? Please describe.**
I've been trying to pass my custom component as a child of `PopoverTrigger`, and struggled for 1 hour making it work, because I was focused on the ref forwarding as it was highlighted in the

[2020-03-15 14:40] segunadebayo commented on #492
@OfficerHalf. Yes please, you can create a FAQ section in the docs, create a PR and I'll merge it.

Thanks

[2020-03-15 18:18] Calvein opened #497 "Request to make <Stack> props `isInline` & `isReverse` accept an array for responsive style"
I would love if those props could be used "responsively", in the meantime, I created an hook to get the current breakpoint and I use it to set the correct value, it works well because they are boolean values but I don't think it's generic enough. Here's how I use it:

[code]

And here's a working example, with the hook:

https://codesandbox.io/s/chakra-ui-isinline-responsive-scfye

If you reckon t

[2020-03-15 19:38] Sebastiansc commented on #406
I'm facing this same issue. It seems that when `usePortal` is true this line here isn't called in the order that's expected https://github.com/chakra-ui/chakra-ui/blob/master/packages/chakra-ui/src/Popper/index.js#L144. That line should be called before this https://github.com/chakra-ui/chakra-ui/blob/master/packages/chakra-ui/src/Menu/index.js#L52 (as it does when `usePortal` is false).

Since `m

[2020-03-15 22:09] Sebastiansc commented on #406
Open a fix for this. You'd have just to set `container` prop to a valid DOM node e.g.
`<MenuList container={document.body}>`

[2020-03-16 07:57] liokm opened #499 "Export useFormControl from lib"
**Is your feature request related to a problem? Please describe.**
When using `FormControl` together with customized input components which also want to accept `isDisabled` etc from `FormControlContext`, we can not `useFormControl` because it is not exported from the lib.

**Describe the solution you'd like**
- Export `useFormControl` for customized input components to take advantage of it.
- Docu

[2020-03-16 14:30] JClackett opened #500 "[Tooltip] Tooltip doesn't hide on disabled buttons"
**Describe the bug**
Tool tip label does not hide on a disabled button

**Expected Behavior**
Tooltip should hide when mouse leaves target

**To Reproduce**
[code]

**Suggested solution(s)**
I assume something to do with the focus on disabled buttons, though im not really sure how it works.

**Desktop (please complete the following information):**
 - OS: MacOs
 - Browser Chrome
 - Version 0.6.1

!

[2020-03-16 14:34] JClackett commented on #500
A question that i have with the Tooltip api is: I have a button that can be disabled and i want to display a tooltip for why its disabled, however when the button is not disabled i dont want the tooltip to show, what is the best way to achieve this? Ideally there would be a isDisabled prop on tooltip that disables all functionality at the moment im having to do this:

[code]

[2020-03-16 14:38] kolyasapphire commented on #382
Hi @segunadebayo is this not a valid issue?

[2020-03-16 21:12] jackleslie opened #501 "[Docs] GitHub Button in Docs Header not responsive"
**Describe the bug**
When viewing the docs at [chakra-ui.com](https://chakra-ui.com) on mobile, the GitHub button showing the number of stars isn't responsive and forces the other header buttons out of the view.

![Before](https://user-images.githubusercontent.com/22222776/76799674-dfdb4c80-67c9-11ea-885b-68ad69def01d.PNG)

**Expected Behavior**
The header should look nice on mobile, without the b

[2020-03-17 18:44] timkindberg opened #503 "Request to organize components docs into groups"
I think it may be easier to browse the component docs if they were organized into groups in the left hand pane:
- Typography
- Layout (Box, Grid, Simple Grid, etc)
- Input / Form (Form, all the inputs, ControlBox)
- Disclosures ?? (Modal, Drawer, Popover, Tooltip)
- More (not everything needs a well named group)

[2020-03-17 18:45] timkindberg commented on #503
BTW We have decided to Chakra here at Vndly! Thank you so much for the amazing library!!

[2020-03-17 22:05] segunadebayo commented on #503
It sounds like a good idea @timkindberg. We'll look into this in preparation for the next release docs.

[2020-03-17 22:07] segunadebayo commented on #406
@bjgrosse will look into this as we're working on the next release. Thanks for the PR @Sebastiansc , I'll review it shortly

[2020-03-17 22:10] segunadebayo commented on #500
@JClackett, thanks for finding a walkaround this issue. We'll account for this scenario in the next release.

I think the solution you have works for now, but I understand it's quite painful.  It'll be fixed.

[2020-03-18 16:41] ri7nz commented on #183
@matepapp Yes, styled-system it's work on react-native, but need some adjustment for `breakpoints`. I have project with `react-native` and `styled-system`, I start from September 2019.

[2020-03-18 17:32] skingston91 commented on #349
If you don't need it inside of gatsby and are using it with the chakraUI plugin you can turn it off in the gatsby-config.js, if that helps anyone.
[code]

[2020-03-18 17:57] skingston91 opened #505 "[InputGroup] Jest Snapshots Error with InputGroup Containing InputLeftElement or InputRightElement"
**Describe the bug**
When testing a FormField component comprised of the below component elements:

Component code
[code]

I'm getting an error of `TypeError: Cannot read property '10' of undefined`

Chakra UI code
https://github.com/chakra-ui/chakra-ui/blob/master/packages/chakra-ui/src/InputGroup/index.js

Error
TypeError: Cannot read property '10' of undefined
[code]

I'm using the gatsby-plugi

[2020-03-18 22:35] Sebastiansc opened #506 "Increase MenuItemOption configurability"
**Is your feature request related to a problem? Please describe.**
* `MenuItemOption` does not allow skipping it's default event handler behavior.
* It doesn't allow to render a checkbox (or anything else) as the check display (only the default Icon component)

**Describe the solution you'd like**
* Add `wrapEvent` as it's done for `MenuItem`.
* Use a render prop to allow for custom checkbox or al

[2020-03-19 07:31] coodoo commented on #409
@segunadebayo Out of curiosity, have you figured out how to do this natively with chakra instead of installing dependencies?

[2020-03-19 09:02] coodoo commented on #409
@segunadebayo  Ended up I wrote this minimum pieces based on `theme-ui/match-media`, hope that helps.

[code]

[2020-03-19 10:13] segunadebayo commented on #409
Hi @coodoo,

We have a `useMediaQuery` hook that can help you achieve it easily. I'll take out some time today to add that `useResponsiveValue` hook since it might be useful.

Your solution looks good as well. We'll take it into consideration.

Thank you!

[2020-03-19 10:23] aaronmcadam commented on #506
If we're going to add requirements for improvements, I think it'd be really nice to be able to add an icon too.

[2020-03-19 14:48] laurensnl opened #507 "[Image] onError is not called"
**Describe the bug**
The `onError` callback is not called when the `src` cannot be loaded. See the code sandbox for an example. The `fallbackSrc` is successfully loaded, but in the attached example not being shown because the `onError` callback is not called.

**Expected Behavior**
I would expect the `onError` callback to be called when the `src` image cannot be loaded.

**To Reproduce**
https://c

[2020-03-19 21:11] JClackett commented on #500
Thanks! Do you mean that the isDisabled bug will be fixed in the next release?

[2020-03-20 01:52] coodoo commented on #409
Sounds good, where to find that `useMediaQuery` in current cocebase?

[2020-03-20 05:52] segunadebayo commented on #500
@JClackett. Yes. Ideally, it should work without adding a `isDisabled` prop to the tooltip, since mouse event listeners are meant to be canceled when a button is disabled.

It's a bug and we'll fix it in the next release.

[2020-03-20 05:55] segunadebayo commented on #497
@Calvein , I'm glad you found a walkaround for this.

We've accounted for this in preparation for the next release. We're deprecating `isInline` prop in favour of `direction`, and you will be able to pass responsive `direction` values.

Sounds good?

[2020-03-20 07:18] Calvein commented on #497
Sounds even better than good 😄

[2020-03-20 07:19] #497 closed

[2020-03-20 13:15] Martian2Lee opened #508 "Add Chinese documentation 中文文档"
**Is your feature request related to a problem? Please describe.**
It's hard for some Chinese developers to read English documentation.

**Describe the solution you'd like**
Add Chinese documentation.

#509

[2020-03-20 14:45] segunadebayo commented on #508
Amazing idea, Martian. This has been on my mind as well.

If you don't mind, I'd love to collaborate with you once this. To come up with a plan, let's take the conversation here: https://discord.gg/RgAzRm

[2020-03-20 14:47] segunadebayo commented on #501
Thanks for this @jackleslie.

I've reviewed your PR and here's my thought. How about we move the logo to the left? This will allow some room for the Github button?

[2020-03-20 14:54] segunadebayo commented on #409
It's here: https://github.com/chakra-ui/chakra-ui/blob/dev-ts/packages/hooks/src/useMediaQuery.ts

[2020-03-20 17:56] jackleslie commented on #501
@segunadebayo Yes that works, however it looks a bit squeezed even when the GitHub button is set to `small`. We could hide the star count and that would solve it quite quickly - are you wanting the star count to be visible? If so then I'll keep tinkering.

[2020-03-20 18:38] segunadebayo commented on #501
Ideally, it'll be good to have the star count show, give Chakra more credibility 😀. However, if there's no room for it, you can simply remove the count.

Thanks for helping with this.

[2020-03-20 18:44] segunadebayo commented on #435
@bulby97, it's mostly to have one source of truth for component styles and variants.

This means you can simply import any Chakra components, and override their "global" style from the theme or even make your own styles.

It improves the themeability experience, and ensure all apps built with Chakra don't look the same 😀

[2020-03-20 22:22] junaid33 commented on #405
Company: Openship
Permission to use our logo in our readme/website: Yes
Project type and size: Opensource.builders allows you to find open-source alternatives to commercial apps. It's used building Chakra-UI and TinaCMS. The code is also open-sourced here: https://github.com/junaid33/opensource.builders.
Project link: https://opensource.builders

Thanks for creating an amazing project!

[2020-03-21 14:35] jackleslie commented on #501
@segunadebayo How about moving it down the page on mobile?

![star_moved](https://user-images.githubusercontent.com/22222776/77228721-1bd33080-6b81-11ea-8fef-18a9cec534a3.PNG)

That's where [material-ui](https://material-ui.com/) has theirs.

[2020-03-21 15:23] blnk-space commented on #507
Hi! Faced the same issue and I have fixed it, creating a PR shortly.

[2020-03-21 15:25] blnk-space commented on #507
Just created a PR for this #510, @segunadebayo please review and merge if you deem it fit!

[2020-03-21 20:39] segunadebayo commented on #507
Thank you @blnk-space. It's merged!

I will release a patch by tomorrow.

[2020-03-21 20:39] #507 closed

[2020-03-21 21:24] Calvein opened #511 "Color mode not setting up properly with the gatsby plugin in production"
**I only recreate this bug in production**
When loading a page that should be in dark theme by default, it appears that `colorMode` from the hook `useColorMode` always returns 'light' by default, see https://github.com/Calvein/acnh-surf-n-turf/blob/master/src/components/Header.js#L24-L35

You can see the bug on this page: https://acnh-surf-n-turf.netlify.com/
To reproduce, go into dark mode & relo

[2020-03-22 07:15] Martian2Lee commented on #326
@divyanshu013 @segunadebayo Thanks for highlighting this issue. Any luck with the search?

[2020-03-22 13:35] segunadebayo commented on #326
@Martian2Lee  no progress yet 😅.

I just got the Algolia script for the website, if you'd like to work on it, I'd be happy to send you the script.

Thanks.

[2020-03-22 13:36] #492 closed

[2020-03-22 13:43] Martian2Lee commented on #326
@segunadebayo Sure, I would love to have a try.

[2020-03-22 19:02] tylerjbainbridge commented on #405
Company: [Cataloged](https://cataloged.co/)
Permission to use our logo in our readme/website: Yes
Project type and size: A knowledge base tool for Links, Files, Notes, Contacts, etc. The company is just me at the moment, but hoping to launch/fundraise soon!
Project link: https://cataloged.co/

![image](https://user-images.githubusercontent.com/13852400/77257978-0972f880-6c4e-11ea-95cd-e5d8867aaaf5

[2020-03-23 03:51] robertcoopercode commented on #322
Bump

[2020-03-23 08:18] KenzoBenzo opened #513 "[useToast] Unusable in a new project due to ref error"
**Describe the bug**
The `useToast` hook applied as an onClick handler to a button errors out with _"Cannot read property 'ref' of null"_.

**Expected Behavior**
Clicking the button should create a toast.

**To Reproduce**
Click the button
[Here is the CodeSandbox.](https://codesandbox.io/s/chakra-ui-toast-oe08i)

**Suggested solution(s)**
Digging through some other bug reports that have similar i

[2020-03-23 08:41] KenzoBenzo commented on #511
Hey @Calvein! I posted my work-around solution, [here](https://github.com/chakra-ui/chakra-ui/issues/305#issuecomment-598702861). Hope it helps

[2020-03-23 11:12] segunadebayo commented on #513
Hi @KenzoBenzo,

I just looked at the Codesandbox, updated the dependencies including `@chakra-ui/core`, and moved the `ThemeProvider` close to `ReactDOM.render`.

It seems to be working: https://codesandbox.io/s/chakra-ui-toast-ezkcu

[2020-03-23 11:41] aaronmcadam commented on #396
Did we get anywhere with this @alexofthewu?

[2020-03-23 12:51] segunadebayo commented on #76
@talentlessguy  and @gopinav, we're adding support for this prop in the next major release

[2020-03-23 12:53] segunadebayo commented on #412
Hi @ameerthehacker,

Thanks for reporting this issue. Do you have a CodeSandbox replication of this so we can help?

[2020-03-23 12:56] segunadebayo commented on #496
Thank for this @PSalaun.

We'll improve the documentation and ensure we address this to save time for other users.

[2020-03-23 14:47] Calvein commented on #511
Thanks a lot @KenzoBenzo, it works perfectly in the meantime 👍

[2020-03-23 15:56] KenzoBenzo commented on #513
@segunadebayo that version upgrade worked, thanks mate!

[2020-03-23 15:56] #513 closed

[2020-03-23 17:28] rovervannispen opened #514 "[RadioGroup/CheckboxGroup] Error: each child in a list should have a unique "key" prop"
When I use either a RadioGroup or a CheckboxGroup I get an error that I need to specify keys. When I add keys it'll still throw the same error.

[code]

[code]
**Expected Behavior**
When adding keys the error shoud be gone.

**To Reproduce**
- Install @chakra-ui/core#0.6.1
- Add a RadioGroup
- Map over items in RadioGroup and return Radio Buttons
- Check console

**Desktop**
- Browser: Chrome 80.0

[2020-03-23 19:15] aaronmcadam opened #515 "[NumberInput] Clicking the label no longer focuses the related input"
**Describe the bug**

The `htmlFor` and `id` combination doesn't work anymore using the latest version. It works in `0.3.1` (the default version in the code sandbox linked on the readme).

See here: https://codesandbox.io/s/chakra-ts-starter-olcgy

**Expected Behavior**

I expect to be able to click on an input's label and have the related input focussed.

**To Reproduce**

1. Go to https://codesa

[2020-03-23 19:41] aaronmcadam opened #516 "[NumberInput] precision prop has no effect when using it as a controlled component"
**Describe the bug**

I would like to give the affordance that my input accepts decimal numbers by displaying the default value as `0.0`.

**Expected Behavior**

I expect that if I set `precision`, it should format the default value like it does in uncontrolled components.

**To Reproduce**

1. Go to https://codesandbox.io/s/chakra-ts-starter-ui31u
2. See that the default values are all integers

[2020-03-23 21:55] M074554N opened #517 "Request to add RTL support"
Hello @segunadebayo, it's a beautiful UI library and I used it in a project and it requires RTL support, I was wondering if you have it in plan? and what should I do if I want to contribute to the RTL support of the library?

Thanks

[2020-03-24 03:53] Moro-Code opened #518 "Request to add basic Form component"
**Is your feature request related to a problem? Please describe.**
Hey, first of all this is very minor, just a little annoying I find. While there are FormControl components there is no actual Form component. This makes it kind of awkward since for example if you wanted to do dynamic sizing based on breakpoints you'd have to do CSS for the form element and use style props for the FormControl.

**

[2020-03-24 18:44] dusty commented on #514
I ran into this as well.  I made a sandbox here: https://codesandbox.io/s/chakra-ui-bi5nm

<img width="1500" alt="Screen Shot 2020-03-24 at 11 35 14 " src="https://user-images.githubusercontent.com/792/77464288-2cbfb400-6dc4-11ea-9c48-c71905fd20f3.png">

Does a passed in key never make it to the wrapper box.

<img width="941" alt="Screen Shot 2020-03-24 at 11 43 17 " src="https://user-images.githu

[2020-03-24 22:47] laurensnl commented on #507
Thank you for fixing this @blnk-space & @segunadebayo! When will it be released?

[2020-03-24 23:20] segunadebayo commented on #518
Hi @Moro-Code,

Thanks for this feedback. Could you give an example of the this scenario where you need a Form component? A pseudo-code or a CodeSandbox link will be helpful.

[2020-03-24 23:28] segunadebayo commented on #516
Hi @aaronmcadam,

I'll most likely update the docs to include this but, the `precision` prop doesn't work with Numeric state values, you'll have to convert it to a string.

Here's what happens with the demo setup:
- You passed precision as `2` and step of `0.1`, and click the increment button
- The onChange handler returns `'2.10'` has the next value (as string)
- but because you're converting to

[2020-03-24 23:32] segunadebayo commented on #517
Hi @MohamedHassanWD,

Thanks for the amazing feedback about Chakra UI.

At the moment, we're not looking to support RTL but it's something Chakra UI will definitely solve down the line. I have some ideas around and would like to share with you if you're interested in contributing to this effort.

Let's have a chat here: https://discord.gg/dQHfcWF

[2020-03-24 23:38] segunadebayo commented on #515
@aaronmcadam, this is a bug in how we're forwarding the `id` prop. Seems it's going to the containing `div`, not the `input` itself.

As a walk around, I'd suggest you use the declarative version of the NumberInput

See the code here: https://codesandbox.io/s/chakra-ts-starter-f3eqz

[2020-03-25 10:09] aaronmcadam commented on #515
Thanks!

[2020-03-25 10:09] #515 closed

[2020-03-25 10:10] aaronmcadam commented on #516
That makes sense, thanks!

[2020-03-25 10:10] #516 closed

[2020-03-25 11:35] aaronmcadam commented on #396
@segunadebayo I think we can piggy back off of Steve Shoger's work on setting up Tailwind's design system in Figma. I'm planning on doing something similar when I get a chance. I'm thinking if we can at least start with the colours and typography, that'd be something.

[2020-03-25 12:15] segunadebayo commented on #396
Sounds good to me. We'll look into design tooling and UI kits after the TS release.

[2020-03-25 12:17] aaronmcadam commented on #396
Is there a list of issues that are blocking the TypeScript release?

[2020-03-25 12:25] #484 closed

[2020-03-25 12:39] #340 closed

[2020-03-25 12:41] Machinezero opened #520 "[Docs] Space table should refer to font size"
**Describe the bug**
When viewing the table which shows the conversion of the space value from **rem** to **px**, it is not mentioned that a base **font-size** of **16px** is needed for this table to be correct. Although it is says that **0.25rem** converts to **4px** by default in most common browsers, it is not conveyed that it is because most common browsers use **16px** as a default base **fon

[2020-03-25 16:06] segunadebayo commented on #396
@aaronmcadam We're closing out work on the TypeScript release already. Once we're done, we need to upgrade the docs.

That's the part that might take some time, and I'm open to some help.

[2020-03-25 16:33] aaronmcadam commented on #396
That's cool, because I want to know what's changed and if there are any new best practices you've come up with, especially for use with TypeScript. I could at least help with proof reading and making sure things are explained well. Is there a way to get involved in that?

[2020-03-25 17:05] segunadebayo commented on #499
Hi @liokm ,

Thanks for the issue. We're currently looking into this and will release a patch shortly

[2020-03-25 17:23] segunadebayo commented on #520
@Machinezero, thanks for pointing this out.

It has been fixed and docs will be updated shortly

[2020-03-25 17:23] #520 closed

[2020-03-25 17:25] segunadebayo commented on #499
This has been fixed. Expect a patch release soon

[2020-03-25 17:25] #499 closed

[2020-03-25 18:25] segunadebayo commented on #501
@jackleslie, sure that's fine as well. Kindly submit a PR

[2020-03-25 18:30] segunadebayo commented on #476
@skube, I traced down this issue to this https://chakra-ui.com/theme#spacing.

The theme has a scale for "1" in `theme.sizes`, that's why it behaves like that.

I'll suggest you use "100%" for now,  or remove the "1" scale from the theme object.

Thanks.

[2020-03-25 18:30] #476 closed

[2020-03-25 18:34] segunadebayo commented on #477
Hi @yassinebridi, we're not looking to make component "size" prop responsive.

Instead, we'll provide a simple hook to detect breakpoints and change the size prop with that.

As much as we'd like to give lots of flexibility, this is one constraint we plan to introduce. I believe the hook alternative will work pretty well.

[2020-03-25 18:34] #477 closed

[2020-03-25 18:38] segunadebayo commented on #450
Hi @sidneyramos, I don't think this something Chakra is looking to provide.

This is what the PseudoBox component was made to solve. If you can provide a Codesandbox example, I'll work it out and send to you, so you see what I mean.

[2020-03-25 18:38] #450 closed

[2020-03-25 19:28] segunadebayo commented on #514
This has been fixed. Kindly upgrade to the latest version

[2020-03-25 19:28] #514 closed

[2020-03-25 19:49] rovervannispen commented on #514
That’s awesome, thanks man. Love your your library!

[2020-03-25 20:01] JClackett commented on #518
@Moro-Code a form doesnt really do much visually, so what would having this as a component provide?

Can always just use a Box and then use as="form" then make your own Form component that forwards all props, including breakpoints etc

[code]

use it like:

[code]

[2020-03-25 20:11] jackleslie commented on #501
@segunadebayo force pushed to the same PR #502

[2020-03-25 21:09] #518 closed

[2020-03-25 21:10] #501 closed

[2020-03-26 03:19] olup opened #521 "Fine tuning components using emotion"
Hi, thanks for this amazing work.

Using chakra for a production project, one that needs branding, I was wondering what strategies could be used to deeply theme the components, more than what styled system let you do and with emotion dx. Something like applying  styles over a component and reexport it. But what about complex ones ? I don't think chakra publish any static  classnames to get a hold

[2020-03-26 13:00] eugenenelou opened #522 "[Checkbox] onBlur is triggered onMouseDown"
**Describe the bug**

onBlur is triggered on mouseDown.

It is a problem for form validation: when the checkbox is required, a form that validate onBlur will show an error when checking the checkbox for a split second, because the onBlur is triggered before the input value changes (This is only if the checkbox had the focus already).

**Expected Behavior**

onBlur should trigger after the input va

[2020-03-26 19:19] efossvold opened #523 "Add CHANGELOG / Release info to new releases"
First of all change for the amazing work you're doing with chakra-ui, love it.

I'd like to request some info about what's new in each release. @chakra-ui/core@0.7.0 just came out yesterday. However, there's no info in the release tag and no CHANGELOG file so how do I know what's new and if there are any breaking changes? Of course I could browse through the commits, but that takes time and it's n

[2020-03-26 20:24] cschroeter opened #524 "Bundling dev-ts packages"
Is there a specific reason why you've decided to use `tsdx` to bundle your components?
As far as I can see you don't have any additional assets besides your TypeScript files. So you could speed up your bundling by just using plain old `tsc`.

I'm expecting to see a performance increase by 90%. Let me know if I can help you with that

[2020-03-26 20:28] cschroeter opened #525 "Lerna setup in dev-ts"
I looked at your Lerna setup in the `dev-ts` branch and found that many things can be simplified here. If you don't mind I could help you with that

[2020-03-26 22:22] remorses opened #526 "[Stack] not using `forwardRef`"
**Describe the bug**
The `Stack` component should forward ref using `forwardRef`
I get the following error
[code]

**Expected Behavior**
The `Stack` component should forward ref using `forwardRef`

[2020-03-27 00:25] #526 closed

[2020-03-27 07:48] segunadebayo commented on #525
@cschroeter, please feel free to suggest what could be simplified. I'm very open to your help.

[2020-03-27 07:51] segunadebayo commented on #524
@cschroeter, so far I've found `tsdx` quite reliable in releasing React TypeScript packages.

If you have other alternatives, feel free to suggest them.

[2020-03-27 07:53] segunadebayo commented on #523
@efossvold, you're right and we would definitely update the changelog going forward.

In the meantime, here's where to find the changelog:
https://github.com/chakra-ui/chakra-ui/blob/master/packages/chakra-ui/CHANGELOG.md

[2020-03-27 07:53] #523 closed

[2020-03-27 10:41] remorses opened #529 "Code Sandbox CI not running"
Ci code sandbox uses the command `core:build` but this command changed name to `build`

https://github.com/chakra-ui/chakra-ui/blob/4de8b379598313ee5ec6ecf99c7c685ca0a628d6/.codesandbox/ci.json#L2

[2020-03-27 12:00] Machinezero opened #530 "[Modal] Anchor link click closes modal"
**Describe the bug**
Clicking on an anchor link inside a **Modal** causes it to close. On further inspection, I detected that clicking the link calls **Modal**'s **onClose** with the identifier _clickedOverlay_

**Expected Behavior**
Clicking an anchor link should not call _clickedOverlay_ event, and thus not close the **Modal**.

**To Reproduce**
1. Use this Code:
[code]
2. Click link
3. Check lo

[2020-03-27 16:43] tumdav opened #531 "[Toast]: Prevent toast duplication"
**Describe the solution you'd like**
Currently, it is impossible to prevent toast duplication.
For instance, if I show error message after incorrect login then a user again fills incorrect information and clicks a submit it again shows a toast with the same error message. So the user sees the same message twice.

**Describe alternatives you've considered**
You can check the react-toastify implemen

[2020-03-27 20:12] martinpengellyphillips opened #533 "[NumberInput] Deleting sole digit sets value to 0 (which may be invalid)"
**Describe the bug**
Pressing `Backspace` in the field, when there is one digit remaining, resets the value to 0. If the input has a constraint (such a `min:1`) this may be an invalid value. It also feels surprising as the input can start off 'empty'. Note that the value 'corrects' to honour the constraint onBlur.

**Expected Behavior**
Either:
a) Backspace deletes remaining character to return to

[2020-03-27 20:36] #525 closed

[2020-03-28 09:25] segunadebayo commented on #228
@astahmer We've now resolved this by using `css` to manage the stack spacing rather than react `cloneElement`.  It lands in the next release.

[2020-03-28 17:40] tony commented on #496
@segunadebayo I was initially looking for something else on the tracker, but saw this, and realized, you're so friendly and professional. Thank you for this project. Sponsored you on Patreon 😊

Thank you for being so courteous on these issues!

[2020-03-28 18:18] wonism opened #534 "[PseudoBox] Use pseudo element instead of pseudo class."
**Describe the bug**
It is not a bug. But, We should use `::before` instead of `:before` in CSS3. It is more semantically right.
See: https://developer.mozilla.org/en-US/docs/Web/CSS/::before#Syntax

**Expected Behavior**
Have pseudo element instead of pseudo class

**To Reproduce**
n/a

**Suggested solution(s)**
Use pseudo element instead of pseudo class

**Desktop (please complete the following

[2020-03-28 21:17] segunadebayo commented on #212
@kripod @jaredpalmer  I'm currently finetuning the Checkbox component in the TS branch.

I'm not sure I understand this issue very well. Do you mind showing me a pseudo-code of this or some code samples? It'll help a lot.

Thanks.

[2020-03-28 23:07] tsaiDavid commented on #205
@segunadebayo - I would love to help out here, anything specific I might be able to help with?

[2020-03-28 23:14] segunadebayo commented on #205
@tsaiDavid Amazing! Your help is welcome, I wrote down some tasks I need to finish up for this package but didn't get the time to complete it. Here's it:

https://github.com/chakra-ui/chakra-ui/blob/dev-ts/packages/media-query/todo.md

If you have any issues or questions, you're welcome to chat with me here: https://discord.gg/xKuJzF

Thank you.

[2020-03-28 23:47] kripod commented on #205
@segunadebayo With regards to typed media query hooks, I have previously made minimalistic, SSR-compatible implementations for them:

- [`useAnimationPreference`](https://github.com/kripod/react-hooks/blob/master/packages/web-api-hooks/src/usePreferredMotionIntensity.ts)
- [`useColorModePreference`](https://github.com/kripod/react-hooks/blob/master/packages/web-api-hooks/src/usePreferredColorSchem

[2020-03-28 23:54] segunadebayo commented on #205
Amazing! @kripod. Thanks, buddy

[2020-03-29 06:19] segunadebayo commented on #529
Good catch @remorses. I've updated the build command to `build`

[2020-03-29 06:19] #529 closed

[2020-03-29 14:17] remorses commented on #205
Hey @segunadebayo, the `ts-dev` will be impossible to easily merge into master if we don't start gradually merging it into master asap.

We could already merge the progress made in `ts-dev` into master and add the `includeJavascript` field in tsconfig to still keep the components written in jsx.

What do you think?

[2020-03-29 14:47] with-heart opened #539 "Add tests for component packages"
This is a tracking issue for the effort around testing component (and their hooks) packages. Component packages refers to the packages for individual components, **not** the `layout` package.

Part of this effort has already been completed in #488.

I'll flesh this out with more details later. Just wanted to get something opened.

# First Pass Testing
- [x] `accordion`
- [x] `alert`
- [ ] `alert-d

[2020-03-29 21:15] segunadebayo commented on #205
@remorses I had this same thought as well. Thanks for bring it up.

We'll think of a way to start merging or rebasing it with `master`

[2020-03-30 07:10] segunadebayo commented on #496
@tony Amazing! Thank you for sponsoring me on Patreon 💖

This means a lot and will go a long way.

[2020-03-30 13:53] #329 closed

[2020-03-30 14:55] luizcieslak opened #543 "[Stack] add Divider between children"
**Is your feature request related to a problem? Please describe.**

No, not a problem. I think that would be a nice feature of Stack component to have an option to add Dividers between components.

**Describe the solution you'd like**

A boolean prop called `divider` to `Stack`:

`<Stack divider {...props}> {children} </Stack>`

**Describe alternatives you've considered**

Currently, to have this,

[2020-03-30 17:55] segunadebayo commented on #543
Hi @luizcieslak, thanks for bringing this up.

It's definitely a good idea and we've done some work on it already. It'll land in the next release.

Here's a migration file we've prepared to you can get an idea:
https://github.com/chakra-ui/chakra-ui/blob/dev-ts/packages/layout/migration.md

[2020-03-30 18:58] harlanlewis opened #545 "Request to add noisy failures when using invalid theme values"
**Is your feature request related to a problem? Please describe.**
When style props use values referencing theme keys that are invalid, a few different things can happen silently. Invalid values could be caused by:
- Changes to the global theme file (eg deleting a value that's still in use)
- Simply using style props incorrectly or typos

A lack of noisy errors here makes intentional global change

[2020-03-30 21:25] stefanbugge commented on #424
It seems to me that this newly added `onCancel()` call in the `onBlur` handler basically blocks the `onSubmit` renderProp from ever being called when using custom controls. I am guessing the `onBlur` is triggered immediately and the custom "check" button never receives the mouse event before it has been unmounted (due to the `onCancel` call).
As a workaround I can add a custom noop `onBlur` handle

[2020-03-30 21:26] kripod commented on #212
@segunadebayo I hope you could successfully trace the issue through the code examples in [kripod/exigo](https://github.com/kripod/exigo), as we have discussed in detail.

[2020-03-30 22:07] SDrinkwater opened #546 "[Modal] Request to add option to disable focus trap"
**Is your feature request related to a problem? Please describe.**
I am attempting to open a drawer on the right while maintaining an interactable menu down the left. I can position the left menu so that links can be clicked by manually selecting the html elements of the drawer and manipulating their width, but this still leaves my left menu search bar as unfocusable. This "solution" is less than

[2020-03-31 08:49] tioluwani94 commented on #522
Hi @eugenenelou, thanks for catching this. It has been fixed in the dev-ts branch and will be out in the next major release.

[2020-03-31 08:49] #522 closed

[2020-03-31 09:47] #543 closed

[2020-03-31 11:29] martinpengellyphillips opened #547 "[Popover] 'Right' position calculated incorrectly for input of type 'number'"
**Describe the bug**
When a Popover is used with an Input field of type 'number', the Popover position is calculated incorrectly when position is set to 'right'.

![chakra_popover_offset_for_number_input](https://user-images.githubusercontent.com/214338/78021523-4bd1bf00-734b-11ea-82db-b862c264e6d0.jpg)

**Expected Behavior**
The Popover would be positioned correctly (the same as for a standard 't

[2020-03-31 11:37] #336 closed

[2020-03-31 18:02] pspeter3 commented on #338
Is it possible to also reduce the depth of the output tree? I wonder if using hooks would reduce the number of context consumers.

[2020-03-31 18:58] jletey commented on #305
This is very annoying, and would be happy to open a PR to fix it. Could anyone give me some guidance on how to get started?

[2020-04-01 03:49] jana-uoft commented on #349
A possible solution I found that does the trick.

Since NextJS's initial render is server-side, the value read from local storage is always set to 'light'.
We can make use of this by also storing the dark mode preference value in cookies (non-http).

This way, we can grab the initial value from `App.getInitialProps` and pass it to the `ColorModeProvider` context when initializing it.

_app.js
[cod

[2020-04-01 03:52] jana-uoft commented on #31
I had the same issue and resolved it by adding style `right={0}` to the `MenuList` component.
[code]

I also set a fixed width to have consistent behaviour on mobile as well.

Hope this helps 😃

[2020-04-01 13:30] #534 closed

[2020-04-01 14:52] segunadebayo commented on #305
Hi guys,

I understand it's a pain at the moment to get ColorMode working properly, that's why it was set to "in progress" in the docs. We'll fix this more permanently in the next release.

Looking through possible solutions, I found that you might need to use this no-flash script for it to work https://github.com/donavon/use-dark-mode/blob/develop/noflash.js.txt

If you're using Gatsby, there's a

[2020-04-01 19:16] jletey commented on #305
@segunadebayo Thanks for finding this. However this script doesn't incorporate well with a Next.js and TypeScript setup. If anyone has a good way of including this script into this setup lmk!

[2020-04-02 05:41] ptcampbell opened #555 "Style tabs manually with custom colour"
Hi. As per the following instructions I can apply a custom color to the `color, bg` properties.

https://chakra-ui.com/tabs#styling-the-tab-states-manually

But `borderColor` or `borderBottomColor` etc. are not working.

e.g.

[code]

Is this a bug or by design? If by design how would you advise working around the problem?

Thanks.

[2020-04-02 09:07] tioluwani94 commented on #52
Hi @kripod, this has been fixed in the dev-ts branch.

[2020-04-02 09:48] kripod commented on #52
Awesome, thank you!

[2020-04-02 20:07] EricKulchycki opened #556 "[Switch] Square corners instead of rounded corners"
**Description**
It looks like the Switch component is displaying as square.

**Expected Behaviour**
Should be rounded, as shown in the documentation.

**To Reproduce**
1. Render Switch component from ChakraUI.

**Suggested solution**
Instead of using border radius property full use border-radius: 500rem;

**Desktop:**
 - OS: OSx
 - Browser Chrome
 - Version 80.0.3987.149

[2020-04-02 21:13] #556 closed

[2020-04-02 21:13] EricKulchycki commented on #556
Sorry I'm not smart.

[2020-04-02 21:47] samullman opened #557 "[Box] Position absolute overtakes box styling"
**Describe the bug**
When assigning position absolute to an image or a box, the styles of the absolutely positioned elements overtake (z-index) a fellow child element.
<img width="1148" alt="Screen Shot 2020-04-02 at 2 29 31 PM" src="https://user-images.githubusercontent.com/10147333/78303059-d0117700-74f0-11ea-878f-ddd286fa622d.png">

**Expected Behavior**
The middle element from screenshot above

[2020-04-02 21:50] samullman commented on #557
I was able to fix this by giving middle element explicitly position="relative"
<img width="1244" alt="Screen Shot 2020-04-02 at 2 44 15 PM" src="https://user-images.githubusercontent.com/10147333/78303332-5037dc80-74f1-11ea-8510-dd91d62c3da6.png">

[2020-04-02 22:42] segunadebayo commented on #557
Hi @samullman,

Thanks for this issue.  I don't think this as anything with Chakra's internal details. Chakra doesn't come with any `position` defaults, so it's completely up to you how you handle it.

I'm glad you solved this style problem.

[2020-04-02 22:42] #557 closed

[2020-04-03 00:17] jdiamond opened #560 "[Menu/MenuButton] MenuButton with no text and only rightIcon has odd shape"
I'm trying to use the Menu and MenuButton components with no text in the MenuButton and only a rightIcon and the button has an unexpected shape. I tried using `as={IconButton}` instead of `as={Button}`. The shape now looks correct, but the icon isn't visible.

Screenshot:

![image](https://user-images.githubusercontent.com/110538/78311363-79fafe80-7505-11ea-8ff0-641957df3265.png)

CodeSandbox:

ht

[2020-04-03 03:18] segunadebayo commented on #560
Hi @jdiamond,

Thanks for this issue. I don't think this is a bug because you're passing `rightIcon` prop to the `MenuButton` which comes with a default left margin.

Here's what you can do:

[code]

and if you want to use IconButton, you should pass props that are valid to IconButton. `rightIcon` isn't a valid prop.

Here's what you can do:

[code]

Hope this helps.

[2020-04-03 03:18] #560 closed

[2020-04-03 12:13] Rixcy opened #561 "[PseudoBox] _before and _after don't include content prop"
It currently doesn't seem like you can set the content property on the pseudo before and after elements since they extend the default BoxProps.

[code]

**Expected Behavior**
When applying the content attribute to a _before or _after pseudo element, I should receive no warnings and the value should be applied accordingly.

**To Reproduce**
- Install chakra dependencies (@chakra-ui/core @emotion/co

[2020-04-03 12:58] segunadebayo commented on #561
Hi @Rixcy, thanks for this.

I think the `content` prop is missing from the types of `PseudoBox`. I'll check as soon as I have some time.

Feel free to submit a PR for this as well, your contribution is 100% welcomed.

[2020-04-03 14:15] wouterds commented on #231
Doesn't look like it's been fixed, I still need to do this on the latest version (using an out of the box example).

![Screenshot 2020-04-03 at 16 12 56](https://user-images.githubusercontent.com/1210628/78369958-47fda100-75c6-11ea-8945-dedac702002b.jpg)
![Screenshot 2020-04-03 at 16 13 03](https://user-images.githubusercontent.com/1210628/78369969-4a5ffb00-75c6-11ea-814d-1fb41e53b374.jpg)

[2020-04-03 14:33] pandaniell opened #562 "[Link] Cannot use react-router-dom link in `as` prop"
**Describe the bug**
[This](https://chakra-ui.com/link#usage-with-routing-library) example in the docs does not work well with TypeScript using a react-router-dom link

**Expected Behavior**
[code]
Should be valid but instead it gives a type error for both properties

**To Reproduce**
1. Install react-router-dom with typings
2. Attempt to create a link like above
[CodeSandbox example](https://code

[2020-04-03 16:10] segunadebayo commented on #562
Hi @pandaniell.

Thanks for reporting this issue. However this issue is a duplicate of an existing issue in #205 . Please subscribe to that issue for future updates.

[2020-04-03 16:10] #562 closed

[2020-04-03 16:48] iRoachie commented on #231
Using this as my workaround:

[code]

[2020-04-03 18:10] dmercertaylor opened #564 "Request to add a concise way to detect/rerender based on which theme breakpoint is currently active"
**Is your feature request related to a problem? Please describe.**
There are occasionally situations in which I would like to change logic or the way a component renders based off of how wide the screen is. The built in theme breakpoints are a great way to adjust styling, but as far as I can tell, accessing them from JavaScript is a pain, particularly since breakpoints (including the defaults) may

[2020-04-03 23:01] #343 closed

[2020-04-04 00:45] #561 closed

[2020-04-04 06:50] Drakota commented on #495
@dusty Have you ever found a solution for this?

[2020-04-04 18:58] martinpengellyphillips opened #569 "[Progress] Bar does not render when theme shade color passed"
**Describe the bug**
Passing a theme shade such as `blue.300` rather than just `blue`, causes the Progress bar to not render.

**Expected Behavior**
The bar should render when using any theme defined color.

**To Reproduce**
https://codesandbox.io/s/chakra-js-starter-bfngf

**Suggested solution(s)**
The logic is hardcoded to always add `.500` suffix to the passed color. It could instead check whet

[2020-04-05 03:02] alex-ald opened #571 "[Link] Typescript error when using with Reach router"
**Describe the bug**

Trying to use Link component with Reach Router but receiving Typescript compile errors

**as** prop receiving typescript error
<img width="747" alt="Screen Shot 2020-04-04 at 10 56 50 PM" src="https://user-images.githubusercontent.com/14244866/78465768-b4ac9480-76c7-11ea-93fe-d8ce82a622ec.png">

Typescript error I'm receiving:
[code]

**Expected Behavior**
Expected as={ReachL

[2020-04-05 03:12] alex-ald commented on #571
It looks like a duplicate of #205. Going to close

[2020-04-05 03:12] #571 closed

[2020-04-05 07:28] mseeley opened #572 "[@chakra-ui/core] Circular dependencies"
**Describe the bug**

Rollup reports two circular dependencies while building:

[code]

No user-facing bugs because of the wise bundler.

**Expected Behavior**
No cyclic deps please.

**To Reproduce**

1. Navigate to the directory shown below and run [`madge`](https://www.npmjs.com/package/madge)

[code]

**Suggested solution(s)**

Cycles are easy to add when moving fast. I'm certain you know how

[2020-04-05 20:07] mattjennings opened #573 "[ColorModeProvider] Does not re-render when value prop changes"
**Describe the bug**
If you choose to manually provide the color mode value to ColorModeProvider, it does not re-render when the `value` prop changes

**Expected Behavior**
It should rerender child components with the new color mode

**To Reproduce**
https://codesandbox.io/s/chakra-ui-color-mode-bug-xfzv9

A temporary workaround is to also add a `key` prop of the color mode value, but this unmount

[2020-04-06 03:00] cyberwombat opened #574 "Request to add option to easily disable Tab boxShadow on focus"
**Problem description**
I personally dont like the blue shadow/outline on the tabs - for one its blue no matter what color my tabs are and if its an accessibility thing its not being carried over to links and buttons (which I personally would not want). To turn it off involves adding `_focus={{ boxShadow: 'none' }}` to all `Tab` elements which is a bit of a pain - or building a component on top wh

[2020-04-06 05:07] ukris opened #575 "[website]Branch. dev-ts Unable to build example"
**Describe the bug**
I am unable to build the example in dev-ts branch

**Expected Behavior**
Error occurred prerendering page "/404". Read more: https://err.sh/next.js/prerender-error:
Error: Minified React error #130

**To Reproduce**
after. building packages
1. Go to example directory
2. yarn && yarn build